{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs" data-breadcrumbs>
    <a href="/" title="{{ 'breadcrumbs.home' | t }}">{{ 'breadcrumbs.home' | t }}</a>
    
      {% if template contains 'page' %}
        <span aria-hidden="true" class="crumb-arrow">></span>
        <span>{{ page.title }}</span>
    
      {% elsif template contains 'product' %}
        <span aria-hidden="true" class="crumb-arrow">></span>
 		{% comment %}
    	{% for c in product.collections  %}
          {% if forloop.last %}
            {% if c.handle %} 
              {% if collection.handle %}
              	<a href="/collections/{{collection.handle}}#{{ c.handle }}" title="">{{ c.title }}</a>
              {% else %}
              	<a href="/collections/{{ c.handle }}">{{ c.title }}</a>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        <span aria-hidden="true" class="crumb-arrow">></span>
        {% endcomment %}
		<span>{{ product.title | strip_html  }}</span>
    
      {% elsif template contains 'collection.vender-articles' and collection.handle %}
        <span aria-hidden="true" class="crumb-arrow">></span>
        {% if current_tags %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url | strip_html }}
          <span aria-hidden="true" class="crumb-arrow">></span>
          <span>{{ current_tags | join: " + " }}</span>
        {% else %}
          <span><a href="/pages/butikker">Butikker & producenter</a></span>
          <span aria-hidden="true" class="crumb-arrow">></span>
          <span>{{ collection.title | strip_html }}</span>
        {% endif %}
    
      {% elsif template contains 'collection' and collection.handle %}
        <span aria-hidden="true" class="crumb-arrow">></span>
        {% if current_tags %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url | strip_html }}
          <span aria-hidden="true" class="crumb-arrow">></span>
          <span>{{ current_tags | join: " + " }}</span>
        {% else %}
          <span>{{ collection.title | strip_html }}</span>
        {% endif %}
    
      {% elsif template == 'blog' %}
        <span aria-hidden="true" class="crumb-arrow">></span>
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }}
          <span aria-hidden="true" class="crumb-arrow">></span>
          <span>{{ current_tags | join: " + " }}</span>
        {% else %}
        <span>{{ blog.title | strip_html }}</span>
        {% endif %}
    
      {% elsif template == 'article' %}
        <span aria-hidden="true" class="crumb-arrow">></span>
        {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true" class="crumb-arrow" >></span>
        <span>{{ article.title }}</span>
    
      {% else %}
       <span aria-hidden="true" class="crumb-arrow" >></span>
       <span>{{ page_title | strip_html  }}</span>
      {% endif %}
  </nav>
{% endunless %}