{%- capture cart_item_options -%}
  {%- unless item.variant.title == 'Default Title' -%}
    <span class="cart-item-options">
      {%- if item.variant.title != 'Default title' -%}
        {{ item.variant.title | replace: ' /', ',' }}
      {%- endif -%}
    </span>
  {%- endunless -%}
{%- endcapture -%}

{%- capture cart_item_quantity_controls -%}
  <div class="cart-item-quantity-controls">
    <button
      class="cart-item-button cart-item-button-quantity-decrement"
      data-money="{{ shop.money_format }}"
      type="button"
      aria-label="{{ 'general.form.decrement' | t }}"
      data-cart-item-button-quantity-decrement>&minus;</button>
    <input
      class="cart-item-input-quantity"
      type="number"
      min="1"
      name="quantity"
      value="{{ item.quantity }}"
      aria-label="{{ 'general.form.input_quantity' | t }}"
      data-cart-item-input-quantity>
    <button
      class="cart-item-button cart-item-button-quantity-increment"
      data-money="{{ shop.money_format }}"
      type="button"
      aria-label="{{ 'general.form.increment' | t }}"
      data-cart-item-button-quantity-increment>&plus;</button>
  </div>
{%- endcapture  -%}

<article class="cart-item" data-cart-item data-cart-item-variant-id="{{ item.variant_id }}">
  <div class="cart-item-column cart-item-column-1">
    {%- if item.image -%}
      <figure class="cart-item-image">
        <a href="{{ item.url }}">
          <img
            src="{{ item.image | img_url: '120x', format: 'pjpg' }}"
            srcset="{{ item.image | img_url: '120x', scale: 2, format: 'pjpg' }} 2x">
        </a>
      </figure>
    {%- endif -%}
  </div>
  <div class="cart-item-column cart-item-column-mobile cart-item-column-mobile-2">
    <div class="cart-item-row cart-item-row-1">
      <span class="cart-item-title">
        <a href="{{ item.url }}">{{ item.product.title }}</a>
      </span>
    </div>
    <div class="cart-item-row cart-item-row-2">
      {{ cart_item_options }}
    </div>
    <div class="cart-item-row cart-item-row-3">
      <span class="cart-item-price money" data-cart-item-subtotal>{{ item.price | money_with_currency  }}</span>
    </div>
    <div class="cart-item-row cart-item-row-4">
      {{ cart_item_quantity_controls }}
    </div>
  </div>
  <div class="cart-item-column cart-item-column-2">
    <span class="cart-item-title">
      <a href="{{ item.url }}">{{ item.product.title }}</a>
    </span>
  </div>
  <div class="cart-item-column cart-item-column-3">
    {{ cart_item_options }}
  </div>
  <div class="cart-item-column cart-item-column-4">
    <span class="cart-item-price money" data-cart-item-subtotal>{{ item.price | money_with_currency  }}</span>
  </div>
  <div class="cart-item-column cart-item-column-5">
    {{ cart_item_quantity_controls }}
  </div>
  <div class="cart-item-column cart-item-column-6">
    <div class="cart-item-button cart-item-button-dismiss" data-cart-item-button-dismiss>{%- include 'icon', id: 'close' -%}</div>
  </div>
</article>
