<script>
  function remove_pr(product_id){
    $.ajax({
      type: 'POST',
      url: '/cart/change.js',
      data: 'id=' + product_id + '&quantity=0' ,
      dataType: 'json',
      success: function() {
        gourmet.cartDrawer();
        gourmet.cartJsCount();
      }
    });
  }
  function add_pr(product_id){
    $.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: 'id=' + product_id + '&quantity=1' ,
      dataType: 'json',
      success: function() {
        $.cookie('cookie_set_price', Shopify.toAdd , { expires: 31 });
        gourmet.cartDrawer();
        gourmet.cartJsCount();
      }
    });
  }
  
  
  $(document).ready(function(){
    pr_id = {{ all_products[settings.product].variants.first.id }};
	var flg = 'false';
    $('.individual-slot').on('click',function(){
      var chk = $(this).attr('data-price');
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        dataType: 'json',
        success: function(data) {
          if(data.items.length > 0){
            for(var i = 0; i < data.items.length;i++){
              var id = data.items[i].id;
              if(id == pr_id){
                flg = 'true';
                if(chk == '0'){
                  flg = 'false';
                  remove_pr(pr_id);
                  return false;
                }
              }else{
                if(flg == 'false' && chk == '1'){
                  flg = 'true';
                  add_pr(pr_id);
                  return false;
                }
              }
            }
          }else{
            if(flg == 'false' && chk == '1'){
              add_pr(pr_id);
            }
          }
        }
      });
    });
  });
</script>
