{%- if id == 'arrow' -%}
<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
  <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"/>
</svg>
{%- endif -%}

{%- if id == 'cart-stroke' -%}
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <path fill="currentColor" d="M6.74947953,4.75 L6.74947953,6 L13.2494795,6 L13.2494795,4.75 C13.2494795,2.958 11.7914795,1.5 9.99947953,1.5 C8.20747953,1.5 6.74947953,2.958 6.74947953,4.75 Z M2.81447953,18 L17.1844795,18 L16.3104795,7.5 L14.7494795,7.5 L13.2494795,7.5 L6.74947953,7.5 L5.24947953,7.5 L3.68947953,7.5 L2.81447953,18 Z M1.99947953,19.5 C1.79047953,19.5 1.58847953,19.412 1.44747953,19.258 C1.30647953,19.104 1.23547953,18.897 1.25247953,18.687 L2.25247953,6.688 C2.28547953,6.295 2.60547953,6 2.99947953,6 L5.24947953,6 L5.24947953,4.75 C5.24947953,2.131 7.38047953,0 9.99947953,0 C12.6184795,0 14.7494795,2.131 14.7494795,4.75 L14.7494795,6 L16.9994795,6 C17.3864795,6 17.7144795,6.302 17.7464795,6.687 L18.7464795,18.687 C18.7634795,18.896 18.6914795,19.104 18.5524795,19.258 C18.4094795,19.412 18.2084795,19.5 17.9994795,19.5 L1.99947953,19.5 Z"></path>
</svg>
{%- endif -%}

{%- if id == 'cart' -%}
<svg xmlns="http://www.w3.org/2000/svg" width="33" height="37" viewBox="0 -1 33 37">
  <path fill="currentColor" fill-rule="evenodd" d="M16.04 2.75c-3.285 0-5.958 2.673-5.958 5.958V11H22V8.708c0-3.285-2.674-5.958-5.96-5.958zm-14.666 33c-.383 0-.753-.16-1.012-.444-.258-.282-.39-.66-.357-1.046l1.833-22c.06-.72.647-1.26 1.37-1.26H7.33V8.708c0-4.8 3.907-8.708 8.71-8.708 4.8 0 8.707 3.907 8.707 8.708V11h4.124c.71 0 1.31.554 1.37 1.26l1.833 22c.03.383-.1.764-.356 1.046-.26.283-.63.444-1.013.444H1.374z"/>
</svg>
{%- endif -%}

{%- if id == 'close' -%}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
  <path fill="currentColor" fill-rule="evenodd" d="M15 1.218L13.78 0 7.5 6.282 1.22 0 0 1.218 6.282 7.5 0 13.782 1.22 15 7.5 8.718 13.78 15 15 13.782 8.718 7.5"/>
</svg>
{%- endif -%}

{%- if id == 'contact-directions' -%}
<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" d="M16.484 16.933L10 13.597l-6.484 3.336L10 3.589l6.484 13.344zM19 19.522L10 1 1 19.522l9-4.63 9 4.63z" fill-rule="evenodd"/>
</svg>
{%- endif -%}

{%- if id == 'contact-email' -%}
<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" d="M18.339 3H1.665C.75 3 0 3.728 0 4.626v9.752C0 15.272.748 16 1.665 16h16.67c.917 0 1.665-.728 1.665-1.622V4.626C20.004 3.728 19.256 3 18.339 3zm-.45 1.085L9.998 10.57 2.115 4.085h15.774zM1.11 14.247V4.675l5.86 4.817-5.86 4.755zm.913.668l5.809-4.713 1.807 1.487a.57.57 0 0 0 .716 0l1.811-1.487 5.817 4.713H2.023zm16.871-.67l-5.863-4.753 5.863-4.82v9.572z" fill-rule="evenodd"/>
</svg>
{%- endif -%}

{%- if id == 'contact-hours' -%}
<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" d="M.987 9.5A9.028 9.028 0 0 1 9.5.987v1.74h1V.987A9.028 9.028 0 0 1 19.013 9.5h-1.74v1h1.74a9.028 9.028 0 0 1-8.513 8.513v-1.74h-1v1.74A9.028 9.028 0 0 1 .987 10.5h1.74v-1H.987zM10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10zM7.626 7.374l-.707.707L10 11.16l4.899-4.898-.707-.707L10 9.747 7.626 7.374z" fill-rule="evenodd"/>
</svg>
{%- endif -%}

{%- if id == 'contact-phone' -%}
<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" d="M4.723 1a.631.631 0 0 0-.44.181L1.725 3.713C1.237 4.196 1 4.872 1 5.6c0 2.35 1.835 5.62 4.947 8.625C9.059 17.229 12.447 19 14.883 19c.754 0 1.455-.23 1.955-.7l2.622-2.469a.585.585 0 0 0 .007-.856l-4.144-4a.638.638 0 0 0-.861-.019l-2.13 1.888c-1.042-.6-1.995-1.28-2.81-2.07C8.696 9.978 8 9.065 7.377 8.07l1.955-2.063a.586.586 0 0 0-.019-.831l-4.144-4A.635.635 0 0 0 4.723 1zm.013 1.456L8.013 5.62 6.135 7.594a.583.583 0 0 0-.078.7c.723 1.226 1.568 2.348 2.584 3.331a15.637 15.637 0 0 0 3.45 2.5.64.64 0 0 0 .726-.081l2.046-1.813 3.277 3.163-2.17 2.043c-.233.22-.589.363-1.087.363-1.75 0-5.1-1.573-8.055-4.425S2.243 7.288 2.243 5.6c0-.481.15-.825.376-1.05l2.117-2.094z" fill-rule="evenodd"/>
</svg>
{%- endif -%}

{%- if id == 'heart' -%}
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16">
  <path fill="currentColor" fill-rule="evenodd" d="M9 16c-.184 0-.367-.05-.53-.152C8.125 15.632 0 10.49 0 5c0-2.757 2.243-5 5-5 1.594 0 3.07.837 4 2.08C9.93.837 11.406 0 13 0c2.757 0 5 2.243 5 5 0 5.49-8.124 10.632-8.47 10.848-.163.1-.346.152-.53.152z"/>
</svg>
{%- endif -%}

{%- if id == 'search' -%}
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <path fill="currentColor" d="M18.2779422,16.9108333 L13.7837755,12.4166667 C14.6912755,11.2533333 15.1887755,9.8325 15.1887755,8.33333333 C15.1887755,6.5525 14.4946088,4.87833333 13.2354422,3.62 C11.9771088,2.36 10.3029422,1.66666667 8.52210884,1.66666667 C6.74127551,1.66666667 5.06710884,2.36 3.80877551,3.62 C2.54960884,4.87833333 1.85544218,6.5525 1.85544218,8.33333333 C1.85544218,10.1141667 2.54960884,11.7883333 3.80877551,13.0466667 C5.06710884,14.3066667 6.74127551,15 8.52210884,15 C10.0212755,15 11.4421088,14.5033333 12.6054422,13.595 L17.0996088,18.0883333 L18.2779422,16.9108333 L18.2779422,16.9108333 Z M8.52210884,13.3333333 C7.18627551,13.3333333 5.93127551,12.8133333 4.98710884,11.8691667 C4.04210884,10.925 3.52210884,9.66916667 3.52210884,8.33333333 C3.52210884,6.99833333 4.04210884,5.7425 4.98710884,4.79833333 C5.93127551,3.85333333 7.18627551,3.33333333 8.52210884,3.33333333 C9.85794218,3.33333333 11.1129422,3.85333333 12.0571088,4.79833333 C13.0021088,5.7425 13.5221088,6.99833333 13.5221088,8.33333333 C13.5221088,9.66916667 13.0021088,10.925 12.0571088,11.8691667 C11.1129422,12.8133333 9.85794218,13.3333333 8.52210884,13.3333333 L8.52210884,13.3333333 Z"></path>
</svg>
{%- endif -%}

{%- if id == 'share' -%}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="4 7 18 13">
  <path fill="currentColor" fill-rule="evenodd" d="M14.917 10.145V7.54c0-.555.323-.71.73-.335l5.622 5.158c.403.37.388.964-.028 1.32l-5.567 4.77c-.42.357-.758.202-.758-.36v-3.158c-4.498 0-7.57.4-9.917 4.6 0 0 1.63-9.39 9.917-9.39z"/>
</svg>
{%- endif -%}

{%- if id == 'mobilenav-toggle' -%}
<svg width="27" height="17" viewBox="0 0 27 17" xmlns="http://www.w3.org/2000/svg">
  <g fill="currentColor" fill-rule="evenodd">
    <path d="M10.212 3H0v2h9.33a8.21 8.21 0 0 1 .882-2zM9.026 8H0v2h9.434a8.307 8.307 0 0 1-.408-2zm2.197 5H0v2h14.056a8.323 8.323 0 0 1-2.833-2z"/>
    <path d="M22.595 11.417A6.607 6.607 0 0 0 24 7.333a6.62 6.62 0 0 0-1.953-4.713A6.617 6.617 0 0 0 17.333.667c-1.78 0-3.455.693-4.713 1.953a6.62 6.62 0 0 0-1.953 4.713 6.62 6.62 0 0 0 1.953 4.714A6.617 6.617 0 0 0 17.333 14c1.5 0 2.92-.497 4.084-1.405l3.494 3.493 1.178-1.177-3.494-3.494zm-5.262.916a4.97 4.97 0 0 1-3.535-1.464 4.965 4.965 0 0 1-1.465-3.536c0-1.335.52-2.59 1.465-3.535a4.963 4.963 0 0 1 3.535-1.465c1.336 0 2.591.52 3.535 1.465a4.965 4.965 0 0 1 1.465 3.535c0 1.336-.52 2.592-1.465 3.536a4.966 4.966 0 0 1-3.535 1.464z"/>
  </g>
</svg>
{%- endif -%}
