{% comment %}
  A shared page header, with title and subtitle.

  @param title
  @param subtitle
{% endcomment %}
<style>
  .masthead-title{
  	text-transform:capitalize;
  }
</style>

<section class="page-header text-center">
  <div class="container">
    <div class="grid">
      <div class="grid__item">
        
        {% if page.handle == 'search-results-page' or search.results %}

        {% if search.results_count > 0 %}
        <h2 class="heading">{{ search.terms | escape | remove: 'tag:' | replace: '*', '' }}</h2>
        {% else %}
        <h2 class="heading">{{ 'search.results.title' | t }}</h2>
        {% endif %}
        
        {% else %}
        <h2 class="heading">{{page.title}}</h2>
        
        {% endif %}

        {% if subtitle != blank %}
        <h2 class="description">{{ subtitle }}</h2>
        {% endif %}
        
        {% unless template contains 'search' %}
        <p class="collection-header-description">
          {{ page.content }}          
        </p>
        {% endunless %}
      </div>
    </div>
  </div>
</section>


<header class="masthead">
  
</header>
