<div class="mobile-search">

  <div class="search-overlay-content">
    <div class="search-suggestion">
      <h4>Fa gourmetvarer bragt til doren i den time, der passer dig.</h4>
    </div>
    <form action="/search" method="post">
      <input type="text" placeholder="{{ 'search.form.placeholder' | t }}" name="q" value="{{ search.terms | escape }}" autofocus>
      <input type="submit">
    </form>
  </div>

</div>