{% comment %}
<div class="newsletter">
  {% form 'customer' %}
    {% if form.posted_successfully? %}
      <p class="newsletter-success">{{ 'newsletter.success' | t }}</p>

      <div class="newsletter-modal">
        <a class="newsletter-modal-close" href="/">{% include 'icon', id: 'close' %}</a>
        <h1 class="newsletter-modal-title">{{ 'newsletter.success_title' | t }}</h1>
        <p class="newsletter-modal-success">{{ 'newsletter.success' | t }}</p>
      </div>

      <a class="newsletter-modal-overlay" href="/"></a>
    {% else %}
      <input
        class="newsletter-input"
        name="contact[email]"
        type="email"
        placeholder="{{ 'newsletter.placeholder' | t }}"
        value="">

      <input
        type="hidden"
        id="contact_tags"
        name="contact[tags]"
        value="prospect,newsletter">

      <button
        class="newsletter-submit"
        name="subscribe"
        type="submit">{{ 'newsletter.subscribe' | t }}</button>
    {% endif %}
  {% endform %}
</div>
{% endcomment %}


<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<!-- <style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup" class="newsletter">
<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>  
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c722da79de4a938d1f13ae618_822020a432" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div> -->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

<div class="newsletter">
  <form action="{{ section.settings.action_url }}" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" >
    
    <div style="display:flex;">
      <input
             class="newsletter-input"
             name="EMAIL"
             type="email"
             id="mce-EMAIL"	
             placeholder="{{ 'newsletter.placeholder' | t }}"
             value=""
             autocomplete="off">

      <button
              class="newsletter-submit"
              name="subscribe"
              id="subscribe"
              type="submit">{{ 'newsletter.subscribe' | t }}</button>
    </div>
    
    
    <p class="error-msg"></p>
    <div id="mce-responses" class="clear">
    	<div class="response" id="mce-error-response" style="display:none"></div>
    	<div class="response" id="mce-success-response" style="display:none"></div>
    </div> 
  </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript">
  $("#mce-EMAIL").keyup(function(event) {
    if (event.keyCode === 13) {
      $('#subscribe').click();
    }
  });
  var get_email;
  // Fancybox Join our mailing list popup
   
  // I only have one form on the page but you can be more specific if need be.
  var $form = $('.newsletter #mc-embedded-subscribe-form');
      if ( $form.length > 0 ) {

       $form.find('#subscribe').bind('click', function ( event ) {
        if ( event ) event.preventDefault();
        function validate_input(){

         var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
         get_email = $form.find('#mce-EMAIL').val();
         if(get_email != ''){
          	if (testEmail.test(get_email)){
              register($form);
             }else{
               $form.find('.error-msg').text('Indtast gyldig email.').css({"color": "red", "text-align": "left", "display":"none"});
               $form.find('.error-msg').show('slow');
             }          
          }
          else{
           	  $form.find('.error-msg').text('Indtast email.').css({"color": "red", "text-align": "left", "display":"none"});
              $form.find('.error-msg').show('slow');
          }
        }
        validate_input();
       });
      }
    
     function register($form) {
      $.ajax({
       type: $form.attr('method'),
       url: $form.attr('action'),
       data: $form.serialize(),
       cache       : false,
       dataType    : 'json',
       contentType: "application/json; charset=utf-8",
       //error       : function(err) { alert("Could not connect to the registration server. Please try again later."); },
       success     : function(data) {
        if (data.result != "success") {
         // Something went wrong, do something to notify the user. maybe alert(data.msg);
         $form.find('.error-msg').html(get_email+'er allerede tilmeldt. Klik her for at opdatere din profil.').css('color','red').show();
        } else {
         console.log(data);
         // It worked, carry on...
         $form.find('.error-msg').html('Tak for din tilmelding. Tjek din email indbakke for gratis gourmet-is.').css('color','green').show();
         $form.find('#mce-EMAIL').val('');
        }
       }
      });
     }
</script>