{% comment %}
  Display options for a product

  @param product
{% endcomment %}

<div class="product-options-container product-options-count-{{ product.options.size }}" data-product-options-container>
  <select name="id" style="display: none;" data-variants>
    {% for variant in product.variants %}
      <option
        value="{{ variant.id }}">
        {{ variant.title }} - {{ variant.price | money }}
      </option>
    {% endfor %}
  </select>
  
  
  {%- for option in product.options_with_values -%}
  <div class="option">
    <div class="option-header">
      <span class="option-name">{{ option.name }}</span>
    </div>

    <div class="option-values">
      {%- assign optionIndex = forloop.index -%}
      {%- for value in option.values -%}
      <div
           class="
                  option-value
                  {% if option.selected_value == value %} option-selected{% endif %}
                  "
           >
        <input
               class="option-value-input"
               type="radio"
               name="{{ option.name }}"
               value="{{ value }}"
               tabindex="0"
               aria-label="{{ value }}"
               {% if option.selected_value == value %}checked{% endif %}
               data-product-option="{{ 'option' | append: optionIndex }}">
        <label class="option-value-name">{{ value }}</label>
      </div>
      {%- endfor -%}
    </div>
  </div>
  {%- endfor -%}

</div>

<style>
  .product-options-container label{display:table-cell;font-family: 'Futura-Medium';text-transform:none;}
</style>
{% comment %}
<div class="product-options-container product-options-count-{{ product.options.size }}" data-product-options-container>
  <select name="id" id="product-select-{{ product.id }}" style="display: none;" data-variants>
    {% for variant in product.variants %}
      <option
        value="{{ variant.id }}">
        {{ variant.title }} - {{ variant.price | money }}
      </option>
    {% endfor %}
  </select>
  <span class="product-form-variants-select-arrow-no-js">
    {%- include 'icon', id: 'arrow' -%}
  </span>
  
  {%- for option in product.options_with_values -%}
  <div class="option">
    <div class="option-header">
      <span class="option-name">{{ option.name }}</span>
    </div>

    <div class="option-values">
      {%- assign optionIndex = forloop.index -%}
      {%- for value in option.values -%}
      <div
           class="
                  option-value
                  {% if option.selected_value == value %} option-selected{% endif %}
                  "
           >
        <input
               class="option-value-input"
               type="radio"
               name="{{ option.name }}"
               value="{{ value }}"
               tabindex="0"
               aria-label="{{ value }}"
               {% if option.selected_value == value %}checked{% endif %}
               data-product-option="{{ 'option' | append: optionIndex }}">
        <label class="option-value-name">{{ value }}</label>
      </div>
      {%- endfor -%}
    </div>
  </div>
  {%- endfor -%}
  
</div>
{% endcomment %}

