{%- comment -%}
  A shared product item component

  @param product

  @param product_style
    What styling should the product image be given

  @param use_badges
    Whether to display product sale badges or display in-line

  @param use_quickshop
    Whether to use the quickshop or not
{%- endcomment -%}

{%- assign product_style = product_style | default: 'natural' -%}
{%- assign use_badges = use_badges | default: true -%}
{%- assign on_sale = false -%}

{%- for variant in product.variants -%}
  {%- if variant.price < variant.compare_at_price -%}
    {%- assign on_sale = true -%}
  {%- endif -%}
{%- endfor -%}

{%- capture price -%}
  <span class="money" data-variant-price>
    {{ product.price_min | money }}
  </span>
{%- endcapture -%}

<article class="
  product-item
  product-item-style-{{ product_style }}
  {% unless product.featured_image %}product-item-no-image{% endunless %}"
  data-product-item="{{ product.id }}"
  {%- if use_quickshop -%}data-use-quickshop{%- endif -%}>
  <a href="{{ product.url | within: collection }}">
    <figure class="product-item-image" data-product-item-image>
      {%- if product.featured_image -%}
        <img alt="{{ product.featured_image.alt | escape }}" src="{{ product.featured_image | img_url: '512x', format: 'pjpg' }}" srcset="{{ product.featured_image | img_url: '512x', scale: 2, format: 'pjpg' }} 2x">
      {%- else -%}
        {%- capture index -%}
          {%- cycle '1', '2', '3', '4', '5', '6' -%}
        {%- endcapture -%}
        {{ 'product-' | append: index | placeholder_svg_tag }}
      {%- endif -%}
      {%- if use_badges -%}
        {%- if product.available != true -%}
          <span class="product-item-badge">{{ 'product.item.availability.out_of_stock' | t }}</span>
        {%- elsif on_sale -%}
          <span class="product-item-badge">{{ 'product.item.badges.on_sale' | t }}</span>
        {%- endif -%}
      {%- endif -%}
      {% if product.tags contains 'organiclogo' %}
      <img src="{{ 'oekologo.png' | asset_url }}" class="img_oeko" alt="oekologo">
      {% endif %}
    </figure>
  </a>

  <h1 class="product-item-title">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </h1>
  
  <form class="product-menu-form" method="post" action="/cart/add" data-first_variant="{{ product.variants.first.id }}"  data-product-menu-form>
    <div class="product-price product-item-price mobile-show" style="{% if product.variants.first.title contains 'Default' %}text-align:center;{% endif %}">
      {%- unless use_badges -%}
      {%- if product.available != true -%}
      {{ 'product.item.availability.out_of_stock' | t }}
      {%- elsif on_sale and product.price_varies -%}
      {{ 'product.item.price.on_sale_range_html' | t: price: price }}
      {%- elsif on_sale -%}
      {{ 'product.item.price.on_sale_html' | t: price: price }}
      {%- elsif product.price_varies -%}
      {{ 'product.item.price.range_html' | t: price: price }}
      {%- else -%}
      {{ price }}
      {%- endif -%}
      {%- else -%}
      {%- if product.price_varies -%}
      {{ 'product.item.price.range_html' | t: price: price }}
      {%- else -%}
      {{ price }}
      {%- endif -%}
      {%- endunless -%}
    </div>
    
    
    <div class="{% if product.options.size > 1 %} col-md-4 {% endif %}{% if product.variants.size > 1 %}product_Inline{% endif %}" style="margin-bottom:20px;display:inline-block;width:100%;min-height:43px;line-height: 20px;">
      {% if product.variants.size > 1 %}
      <div class="product-options-container {% if product.options.size > 1 %}col-xs-4{% endif %} product-options-count-{{ product.options.size }}" data-product-options-container>
        <select name="id" id="product-select_emphasized-{{ product.id }}" style="display: none;" data-variants>
          {% for variant in product.variants %}
          <option value="{{ variant.id }}">
            {{ variant.title }} - {{ variant.price | money }}
          </option>
          {% endfor %}
        </select>
        {% unless product.options.size > 1 %}
        <span class="product-form-variants-select-arrow-no-js">
          {%- include 'icon', id: 'arrow' -%}
        </span>
        {% endunless %}
      </div>

      {% else %}
      <input type="hidden" value="{{  product.variants.first.id }}" name="id">
      {% endif %}
      <div class="product-price product-item-price mobile-hide" style="{% if product.variants.first.title contains 'Default' %}text-align:center;{% endif %}">
        {%- unless use_badges -%}
        {%- if product.available != true -%}
        {{ 'product.item.availability.out_of_stock' | t }}
        {%- elsif on_sale and product.price_varies -%}
        {{ 'product.item.price.on_sale_range_html' | t: price: price }}
        {%- elsif on_sale -%}
        {{ 'product.item.price.on_sale_html' | t: price: price }}
        {%- elsif product.price_varies -%}
        {{ 'product.item.price.range_html' | t: price: price }}
        {%- else -%}
        {{ price }}
        {%- endif -%}
        {%- else -%}
        {%- if product.price_varies -%}
        {{ 'product.item.price.range_html' | t: price: price }}
        {%- else -%}
        {{ price }}
        {%- endif -%}
        {%- endunless -%}
      </div>
    </div>
    <div class="msgDisplay">
      <button class="product-form-button-atc-no-js product-menu-button product-menu-button-selectoptions collectionAddtoCart" type="submit">
        <img src="{{ 'cart_white.svg' | asset_url }}" class="Add to cart">
      </button>
      <div class="sucessMsg"></div>
    </div>
  </form>
  

  
  {%- capture product_quickshop_markup -%}
    {%- include 'product-quickshop' -%}
  {%- endcapture -%}

  <script type="application/json" data-quickshop-markup>
    {{ product_quickshop_markup | json }}
  </script>
</article>

 {% if product.variants.size > 1 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  jQuery(function($) {
    new Shopify.OptionSelectors("product-select_emphasized-{{ product.id }}",
                                { product: {{ product | json }},
                                onVariantSelected: selectCallback,
                                enableHistoryState: true
                                });
  });

</script>

{% endif %}
