{%- assign default_product = false -%}
{%- if product.variants.size == 1 and product.selected_or_first_available_variant.title == 'Default Title' -%}
  {%- assign default_product = true -%}
{%- endif -%}

<section class="product-details" data-product-details>
  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm"  class="product-form-no-js_custom product-form-{{ product.id }}">
    <div class="product-block {{ product.handle }} product-details-block">
      <h1 class="product-details-title">{{ product.title }}</h1>            
      
      {% assign productVendor = product.vendor | handleize %}

      <a href="/collections/{{ productVendor }}" class="product-vendor">
        {{ product.vendor }}
        <!--         {{ product_vendor | link_to_vendor }} -->
      </a>
      

      {% for tag in product.tags %}
      {% if tag contains 'byline' %}
      <p class="product-byline">
        {{ tag | remove: "byline_" }}
      </p>
      {% endif %}
      {% endfor %}          
        

      <div class="product-type oekologo green-leaf">
        {% if product.tags contains 'euorganiclogo' %}
        <img src="{{ 'euorganiclogo.jpg' | asset_url }}" class="euorganiclogo-img" alt="euorganiclogo">
        {% endif %}
        {% if product.tags contains 'organiclogo' %}        
        <img src="{{ 'oekologo.png' | asset_url }}" class="{% if product.tags contains 'euorganiclogo' %}organiclogo-margin{% endif %} oekologo-img" alt="oekologo">        
        {% endif %} 

      </div>
      <div class="mobile-details"> 
        <div class="price-kg">
          
          <div>
            {%- include 'product-price', variant: product.selected_or_first_available_variant -%}        
            <p class="price-per-kg">
              {% for tag in product.tags %}
              {% if tag contains 'kiloprice' %}
              {{ tag | remove: "kiloprice_" | replace:'-',','}}
              {% endif %}
              {% endfor %}
            </p>
          </div>
          
           {% if product.variants.size > 3 %}
            <div class="product-variant">
              <select name="id" id="product-select-{{ product.id }}" style="display: none;" data-variants class="custom_select" >
                {% for variant in product.variants %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                        value="{{ variant.id }}">
                  {{ variant.title }} - {{ variant.price | money }}
                </option>
                {% endfor %}
              </select>
            </div>
            {% elsif product.variants.size < 4 %}
            <div class="product-variant-radio">
              <div class="variant-wrapper">
                <select name="id" id="product-select_emphasized-{{ product.id }}" style="display: none;" data-variants class="custom_select" >
                  {% for variant in product.variants %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                          value="{{ variant.id }}" data-price="{{ variant.price | money }}">
                    {{ variant.title }} - {{ variant.price | money }}
                  </option>
                  {% endfor %}
                </select>
                {% for variant in product.variants %}
                  {% unless variant.title == 'Default Title' %}
                    <div class="variant-radio">
                      <input type="radio" name="id" id="product-select-{{ variant.id }}" value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %}class="selected-var" checked{%endif%}>
                      <label for="product-select-{{ variant.id }}">{{ variant.title }}</label>
                    </div>
                  {% else %}
            		<input type="hidden" value="{{  product.variants.first.id }}" name="id">
                  {% endunless %}
                
                {% endfor %}
              </div>
            </div>
            {% else %}
            <input type="hidden" value="{{  product.variants.first.id }}" name="id">
            {% endif %}
        </div>
        
        <div class="product-actions">
		
          <div class="add-to-cart-wrapper">
            <div class="cart-function">
              <div class="variant-minus" id="dec-qty_{{product.id}}" type="text">-</div>
              <input value="1" name="quantity" class="product-quantity qty product-quantity_{{ product.id }}" id="quantity_{{ product.id }}" pattern="[0-9]*" autocomplete="off" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onfocus="this.select()"/>            
              <span data-product-id="{{ product.id }}" class="cart-text cart_text_{{product.id}}" id="AddToCart-{{ product.id }}">Tilføj til kurven</span>
            </div> 
          </div>

          <div class="wishlist-wrapper">
            {% include 'swym-product-view', product: product %}
            <button class="swym-button product_{{product.id}} btn-wishlist" data-swaction="addToWishlist" data-product-id="{{product.id | json}}">
              <img src="//cdn.shopify.com/s/files/1/1713/4487/t/42/assets/wishlist.png?11282051383078835674" alt="wishlist">
              <span class="wishlist-text">Tilføj til liste</span>
            </button>
          </div>
       
        </div>
      </div>

    </div>
    </form> 
    

    {% if product.variants.size > 1 %}
    <div class="product-options-container hide {% if product.options.size > 1 %} col-xs-6 {% endif %} product-options-count-{{ product.options.size }}" data-product-options-container>
      <select name="id" id="product-select-{{ product.id }}" style="display: none;" data-variants>
        {% for variant in product.variants %}
        <option
                value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money }}
        </option>
        {% endfor %}
      </select>
      {% unless product.options.size > 1 %}
      <span class="product-form-variants-select-arrow-no-js">
        {%- include 'icon', id: 'arrow' -%}
      </span>
      {% endunless %}
    </div>
    {% else %}
    	<input type="hidden" value="{{product.variants.first.id}}" id="defaultVarient">
    {% endif %}
    {% comment %}
    <div class="mobile_only_quantity {% unless product.variants.size > 1 %}col-50{% endunless %}">
      <select name="quantity" id="Quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <span class="product-form-variants-select-arrow-no-js">
        {%- include 'icon', id: 'arrow' -%}
      </span>
    </div>
    
    <div style="display:none;"
      class="
        product-form-variants-wrapper-no-js
        {% if default_product %}product-form-variants-default-no-js{% endif %}
      ">
      <select
        class="product-form-variants-no-js"
        name="id">
        {% for variant in product.variants %}
          <option
            value="{{ variant.id }}">
            {{ variant.title }} - {{ variant.price | money }}
          </option>
        {% endfor %}
      </select>
      <span class="product-form-variants-select-arrow-no-js">
        {%- include 'icon', id: 'arrow' -%}
      </span>
    </div>

    <input
      class="product-form-input-quantity-no-js"
      type="number"
      min="1"
      name="quantity"
      value="1">
{% endcomment %}
    <button
      class=" hide product-form-button-atc-no-js product-menu-button product-menu-button-selectoptions productAddtoCart {% unless product.variants.size > 1 %}col-50{% endunless %}"
      type="submit">
      {{ 'product.add_to_cart.available' | t }}
      <span class="money"
            data-product-menu-button-atc-variant-price
            data-variant-price>
            {{ product.selected_or_first_available_variant.price | money }}
          </span>
    </button>
    <div class="sucessMsg"></div>
</section>
