{% comment %}
  Display options for a product

  @param product
{% endcomment %}

<div class="product-options-container product-options-count-{{ product.options.size }}" data-product-options-container>
  
  <select name="id" style="display: none;" data-variants>
    {% for variant in product.variants %}
      <option
        value="{{ variant.id }}">
        {{ variant.title }} - {{ variant.price | money }}
      </option>
    {% endfor %}
  </select>
  
  {%- for option in product.options_with_values -%}
  <div class="option">
    <div class="option-header">
      <span class="option-name">{{ option.name }}</span>
    </div>

    <div class="option-values">
      {%- assign optionIndex = forloop.index -%}
      {%- for value in option.values -%}
      <div
           class="
                  option-value
                  {% if option.selected_value == value %} option-selected{% endif %}
                  "
           >
        <input
               class="option-value-input"
               type="radio"
               name="{{ option.name }}"
               value="{{ value }}"
               tabindex="0"
               aria-label="{{ value }}"
               {% if option.selected_value == value %}checked{% endif %}
               data-product-option="{{ 'option' | append: optionIndex }}">
        <label class="option-value-name">{{ value }}</label>
      </div>
      {%- endfor -%}
    </div>
  </div>
  {%- endfor -%}
  
</div>
<style>
  .product-options-container label{
  	display:table-cell;
    font-family: 'Futura-Medium';
    text-transform:none;
  }
  .product-options-container{
  	max-width:50%;
  }
</style>

{% if product.variants.size > 1 %}
   <script>
      money_format= "{{ shop.money_format }}";

      // <![CDATA[
      var selectCallback_related = function(variant, selector) {
        if (variant) {
          if (variant.available) {
            // Selected a valid variant that is available.
            $('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
          } else {
            // Variant is sold out.
            $('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
          }
          // Whether the variant is in stock or not, we can update the price and compare at price.
          if ( variant.compare_at_price > variant.price ) {

            $('.product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price,money_format) +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "")+ '</s>');
            $('.product-menu-button .money').html(Shopify.formatMoney(variant.price,money_format));
          } else {
            $('.product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, money_format) + '</span>' );
            $('.product-menu-button .money').html(Shopify.formatMoney(variant.price,money_format));
          }
        } else {
          // variant doesn't exist.
          $('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
        }
      }
      // initialize multi selector for product
      jQuery(function($) {
        new Shopify.OptionSelectors("product-select_{{ forloop.index }}", { product: {{ product | json }}, onVariantSelected: selectCallback_related,enableHistoryState: true });
      });
      // ]]>
        // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
     
    </script>


{% else %}
	<input type="hidden" value="{{ product.variants.first.id }}" >
{% endif %}




{% comment %}
<div class="product-options-container product-options-count-{{ product.options.size }}" data-product-options-container>
  <select name="id" id="product-select_{{ forloop.index }}" style="display: none;" data-variants>
    {% for variant in product.variants %}
      <option
        value="{{ variant.id }}">
        {{ variant.title }} - {{ variant.price | money }}
      </option>
    {% endfor %}
  </select>
  <span class="product-form-variants-select-arrow-no-js">
    {%- include 'icon', id: 'arrow' -%}
  </span>
  {% comment %}
  {%- for option in product.options_with_values -%}
  <div class="option">
    <div class="option-header">
      <span class="option-name">{{ option.name }}</span>
    </div>

    <div class="option-values">
      {%- assign optionIndex = forloop.index -%}
      {%- for value in option.values -%}
      <div
           class="
                  option-value
                  {% if option.selected_value == value %} option-selected{% endif %}
                  "
           >
        <input
               class="option-value-input"
               type="radio"
               name="{{ option.name }}"
               value="{{ value }}"
               tabindex="0"
               aria-label="{{ value }}"
               {% if option.selected_value == value %}checked{% endif %}
               data-product-option="{{ 'option' | append: optionIndex }}">
        <label class="option-value-name">{{ value }}</label>
      </div>
      {%- endfor -%}
    </div>
  </div>
  {%- endfor -%}
  {% endcomment %}
</div>
{% if product.variants.size > 1 %}
   <script>
      money_format= "{{ shop.money_format }}";

      // <![CDATA[
      var selectCallback_related = function(variant, selector) {
        if (variant) {
          if (variant.available) {
            // Selected a valid variant that is available.
            $('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
          } else {
            // Variant is sold out.
            $('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
          }
          // Whether the variant is in stock or not, we can update the price and compare at price.
          if ( variant.compare_at_price > variant.price ) {

            $('.product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price,money_format) +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "")+ '</s>');
            $('.product-menu-button .money').html(Shopify.formatMoney(variant.price,money_format));
          } else {
            $('.product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, money_format) + '</span>' );
            $('.product-menu-button .money').html(Shopify.formatMoney(variant.price,money_format));
          }
        } else {
          // variant doesn't exist.
          $('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
        }
      }
      // initialize multi selector for product
      jQuery(function($) {
        new Shopify.OptionSelectors("product-select_{{ forloop.index }}", { product: {{ product | json }}, onVariantSelected: selectCallback_related,enableHistoryState: true });
      });
      // ]]>
        // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
     
    </script>
{% else %}
	<input type="hidden" value="{{ product.variants.first.id }}" >
{% endif %}

{% endcomment %}