{%- assign product_style = product_style | default: 'natural' -%}
{%- assign use_badges = use_badges | default: true -%}
{%- assign on_sale = false -%}

{%- for variant in product.variants -%}
  {%- if variant.price < variant.compare_at_price -%}
    {%- assign on_sale = true -%}
  {%- endif -%}
{%- endfor -%}

{%- capture price -%}
  <span class="money" data-variant-price>
    {{ product.price_min | money }}
  </span>
{%- endcapture -%}

{% unless product.handle == 'shipping-product-notfor-sale' %}
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm"  class="product-form product-form-{{ product.id }}" data-variant-id="{{product.variants.first.id}}">
<div class="product-grid">
  <div class="product-block bordered-block {{ product.handle }}">
    <a href="{{ product.url | within: collection }}" class="product-link">
      <div class="image-container">
        {% for tag in product.tags %}
          {% if tag contains 'frostlogo' %}
          	<span><img src="{{ 'ice.png' | asset_url }}"></span>
          {% endif %}
        {% endfor %} 
          <div class="item-in-cart overlay_find_{{ product.variants.first.id }}" id="basket_img_{{variant.id}}" data-id="{{ variant.id }}" data-item-find="find_{{ product.id }}">
            <span class="total-in-cart" id="basket_{{ variant.id }}">0</span>&nbsp;i kurven
          </div>
        <img
          alt="{{ product.featured_image.alt | escape }}"
          src="{{ product.featured_image | img_url: '512x', format: 'pjpg' }}"
          srcset="{{ product.featured_image | img_url: '512x', scale: 2, format: 'pjpg' }} 2x">
        
        {% for tag in product.tags %}
        {% if tag contains 'producttext_' %}
        {% assign tags = tag | split: "-" %}
        {% for tag in tags %}
        {% if forloop.first == true %}
        <p class="producttext_hex" style="background-color:#{{ tag  | remove:'producttext_hex' | remove:'producttext_' }}">
          {% endif %}
          {% endfor %}
          {% for tag in tags %}
          {% if forloop.last == true %}
          {{ tag | strip }}
          {% endif %}
          {% endfor %}
        </p>
        {% endif %}
        {% endfor %} 
      </div>
    </a>
    
    <div class="product-info">
      
      <div class="info-height">
        <a class="product-link product-title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
        <a href="collections/{{ product.vendor | handleize }}" class="product-vendor">
          {{ product.vendor }}
        </a>
        
        {% for tag in product.tags %}
        {% if tag contains 'byline' %}
        <p class="product-byline">
          {{ tag | remove: "byline_" }}
        </p>
        {% endif %}
        {% endfor %}          
        
        {% if product.variants.size > 3 %}
        <div class="product-variant">
          <select id="product-select1-{{ product.id }}" style="display: none;" data-variants class="custom_select" >
            {% for variant in product.variants %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                    value="{{ variant.id }}">
              {{ variant.title }} - {{ variant.price | money }}
            </option>
            {% endfor %}
          </select>
        </div>
        {% elsif product.variants.size < 4 %}
        <div class="product-variant-radio">
          <div class="variant-wrapper">
            <select id="product-select1-{{ product.id }}" style="display: none;" data-variants class="custom_select" >
              {% for variant in product.variants %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                      value="{{ variant.id }}" data-price="{{ variant.price | money }}">
                {{ variant.title }} - {{ variant.price | money }}
              </option>
              {% endfor %}
            </select>
            {% for variant in product.variants %}
            {% unless variant.title == 'Default Title' %}
            <div class="variant-radio">
              <input type="radio" name="id" id="product-select1-{{ variant.id }}" value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %}class="selected-var" checked{%endif%}>
              <label for="product-select-{{ variant.id }}">{{ variant.title }}</label>
            </div>
            {% else %}
            <input type="hidden" value="{{  product.variants.first.id }}" name="id">
            {% endunless %}
            {% endfor %}
          </div>
        </div>
        {% else %}
        <input type="hidden" value="{{  product.variants.first.id }}" name="id">
        {% endif %}
      </div>
        
      <p class="product-price">
        {{ product.price | money }}
      </p>
      
      <div class="oekologo-wrapper">
        {% if product.tags contains 'euorganiclogo' %}
        <img src="{{ 'euorganiclogo.jpg' | asset_url }}" class="euorganiclogo-img" alt="euorganiclogo">
        {% endif %}
        {% if product.tags contains 'organiclogo' %}
        <img src="{{ 'oekologo.png' | asset_url }}" class="{% if product.tags contains 'organiclogo' %}organiclogo-margin{% endif %} oekologo-img" alt="oekologo">
        {% endif %}
      </div>
      
      <p class="price-per-kg">
        {% for tag in product.tags %}
        {% if tag contains 'kiloprice' %}
        {{ tag | remove: "kiloprice_" | replace:'-',','}}
        {% endif %}
        {% endfor %}
      </p>
      
      <div class="product-actions">
          <div class="add-to-cart-wrapper">
            <div class="cart-function">
              <div class="variant-minus" id="dec-qty_{{product.id}}" type="text">-</div>
              <input onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onfocus="this.select()" autocomplete="off" class="qty product-quantity product-quantity_{{ product.id }} find_{{ product.id }}" value="1" name="quantity" id="quantity_{{ product.id }}" pattern="[0-9]*" />            
              <span data-product-id="{{ product.id }}" class="cart-text cart_text_{{product.id}}" id="AddToCart-{{ product.id }}">Tilføj<def class="basket-text"> til kurven</def></span>
            </div>  
          </div>
        
        <div class="wishlist-wrapper">
          {% include 'swym-product-view', product: product %}
          <button class="swym-button product_{{product.id}} btn-wishlist" data-swaction="addToWishlist" data-product-id="{{product.id | json}}">
          	<img src="{{ 'wishlist.png' | asset_url}}" alt="wishlist" />
          </button>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
</form>
{% endunless %}

{% if product.variants.size > 1 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
  jQuery(function($) {


    new Shopify.OptionSelectors("product-select1-{{ product.id }}",
                                { product: {{ product | json }},
                                onVariantSelected: selectCallback,
                                enableHistoryState: true
                                });
  });

</script>

{% endif %}