{% unless settings.shipping_calculator == 'Disabled' %}

<div class="shipping-calculator" id="shipping-calculator">
  <div class="shipping-calculator-fields">
    <div class="shipping-calculator-field">
      <label for="address_country">Country</label>
      <div class="shipping-calculator-select-wrapper">
        <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif section.settings.shipping_calculator_default_country != '' %}{{ section.settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
        <span class="shipping-calculator-select-arrow">{%- include 'icon', id: 'arrow' -%}</span>
      </div>
    </div>
    <div class="shipping-calculator-field" id="address_province_container" style="display:none;">
      <label for="address_province" id="address_province_label">Province</label>
      <div class="shipping-calculator-select-wrapper">
        <select id="address_province" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
        <span class="shipping-calculator-select-arrow">{%- include 'icon', id: 'arrow' -%}</span>
      </div>
    </div>
    <p class="shipping-calculator-field">
      <label for="address_zip">Zip/Postal Code</label>
      <input type="text" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
    </p>
  </div>
  <div class="shipping-calculator-response" id="wrapper-response"></div>
</div>

<script id="shipping-calculator-response-template" type="text/template">
  <p id="shipping-rates-feedback" <% if (success) { %> class="success" <% } else { %> class="error" <% } %>>
  <% if (success) { %>
    <% if (rates.length > 1) { %>
    There are <%- rates.length %> shipping rates available for <%- address %>, starting at <%= rates[0].price %>.
    <% } else if (rates.length == 1) { %>
    There is one shipping rate available for <%- address %>.
    <% } else { %>
    We do not ship to this destination.
    <% } %>
  <% } else { %>
    <%- errorFeedback %>
  <% } %>
  </p>
  <ul id="shipping-rates">
    <% for (var i=0; i<rates.length; i++) { %>
    <li><%- rates[i].name %> at <%= rates[i].price %></li>
    <% } %>
  </ul>
</script>

<!--[if lte IE 8]>
<style> #shipping-calculator { display: none; } </style>
<![endif]-->

{% endunless %}
