{{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/redmond/jquery-ui.css' | stylesheet_tag}}

<script>
  var unavailableDates = {{shop.metafields.local_delivery.unavailable_dates}};
  var unavailableDays = {{shop.metafields.local_delivery.unavailable_days}};
  var deliveryHours = {{shop.metafields.local_delivery.delivery_hours}};
  var rateLimitEnabled = {{shop.metafields.local_delivery.rate_limit_enabled}};
  var minimumDate = {{shop.metafields.local_delivery.minimum_date}};
  var minimumHour = {{shop.metafields.local_delivery.minimum_hour}};
  var localDeliveryVersion = 2;
  var ldDayEnabledMessage = "Vælg dato";
  var ldDayDisabledMessage = "Vælg dato";
  
  function ldPostDateInitCallBack(ldjQuery) {
    var cutoffHour = 9; // for 9:00 am
    var cutoffMins = 0; // for 9:00 am
    var now = new Date();
    cutoffTime = new Date();
    cutoffTime.setHours(cutoffHour, cutoffMins, 0, 0);
    
    if(now > cutoffTime) {
      ldjQuery("#datepicker").datepicker( "option", "minDate", 1 );
      ldjQuery("#datepicker").datepicker( "refresh" );
      ldjQuery('#datepicker').datepicker( "setDate" , null );
      ldjQuery("#dateDiv").show();
    }
    
    
    ldjQuery("#datepicker").datepicker( "option", "dayNamesMin", [ "Sø", "Ma", "Ti", "On", "To", "Fr", "Lø" ] );  
    ldjQuery("#datepicker").datepicker( "option", "monthNames", [ "Januar", "Februar", "Marts", "April", "Maj", "Juni", "Juli", "August", "September", "Oktober", "November", "December" ] );
    ldjQuery("#datepicker").datepicker( "option", "firstDay", 1);  
    ldjQuery("#datepicker").datepicker( "refresh" );
  }; 
  
  
  function ldpostTimeCallBack(ldjQuery) {

    function convertAMPMto24hour(time) {
      var hours = Number(time.match(/^(\d+)/)[1]);
      var minutes = Number(time.match(/:(\d+)/)[1]);
      var amPm = time.match(/\s(.*)$/)[1];

      if(amPm == "PM" && hours < 12) {
        hours = hours + 12;
      }
      if(amPm == "AM" && hours == 12) {
        hours = hours - 12;
      }

      sHours = hours.toString();
      sMinutes = minutes.toString();

      if(hours < 10) { 
        sHours = "0" + sHours;
      }

      if(minutes < 10) {
        sMinutes = "0" + sMinutes;
      }

      return sHours + ":" + sMinutes;
    }

    $("#local_delivery > option").each(function() {
      var times = this.text.split("to");
      var start = convertAMPMto24hour(times[0].trim());
      var end = convertAMPMto24hour(times[1].trim());

      $(this).text(start + ' - ' + end);

    });
  }
</script>

{% assign local_delivery_items = false %}
{% for item in cart.items %}
  {% if item.product.metafields.local_delivery.local_delivery_available == 'true' %}
    {% assign local_delivery_items = true %}
  {% endif %}
{% endfor %}

{% if local_delivery_items == true or shop.metafields.local_delivery.enable_all_products == 'true' %}
  <div id="order-delivery">

<br><br>
    <h2>Leveringspriser:</h2>
    <p>79 kr (ved køb for 1-499 kr) <br>59 kr (ved køb for 500-799 kr) <br>39 kr (ved køb for 800-1199 kr) <br>19 kr (ved køb for 1200-1499 kr) <br>Gratis levering ved køb over 1500,- </p>
<br><br>
    <h2>Vi leverer i <br>følgende postnumre:</h2>
    <p>1000-1473 København K <br>1500-1799 København V <br>1800-1999 Frederiksberg C <br>2000 Frederiksberg <br>2100 København Ø <br>2150 Nordhavn <br>2200 København N <br>2300 København S<br>2400 København NV<br>2450 Sydhavn <br>2500 Valby </p>
<br><br>
    <h2>Vælg leveringstidspunkt:</h2>
    <p>Åbner datovælgeren ikke, så genindlæs siden </p>
    <div id="order-delivery-form-wrapper" class="clearfix">
      <p>{{shop.metafields.local_delivery.custom_text}}</p>
            
      <p>Dato: <br/><input type="text" id="datepicker" readonly="readonly" placeholder="Vælg leveringsdato"/> <span class="errorMsg"></span><p>

      
      
      <div id="timeDiv">
        <p>Tidspunkt: <span id="loading"></span><br/><select name="attributes[local_delivery_request]" id="local_delivery" style="width: 200px" class="required" data-error="Vælg venligst leveringsdato og -tid.">
          <option>Vælg tidspunkt</option>
          </select>
        </p>  
      </div>
      <div class="clearfix" style="    clear: both;"></div>
    </div>
  
    <div id="wrapper-response"></div>
  </div>
  
  <br />
{% endif %}