{%- if id == 'email' -%}
<svg width="20" height="14" viewBox="0 0 20 14" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" fill-rule="evenodd" d="M18 .5H2c-1.103 0-2 .897-2 2v9c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-9c0-1.103-.897-2-2-2zm-1.887 2L10 6.32 3.887 2.5h12.226zM2 11.5V3.679l7.47 4.669a1.002 1.002 0 0 0 1.06 0L18 3.678l.001 7.822H2z"/>
</svg>
{%- endif -%}

{%- if id == 'facebook' -%}
<!-- <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" fill-rule="evenodd" d="M12.82 24H1.324A1.325 1.325 0 0 1 0 22.675V1.325C0 .593.593 0 1.325 0h21.35C23.407 0 24 .593 24 1.325v21.35c0 .732-.593 1.325-1.325 1.325H16.56v-9.294h3.12l.466-3.622H16.56V8.77c0-1.048.29-1.763 1.795-1.763h1.918v-3.24c-.332-.045-1.47-.143-2.795-.143-2.766 0-4.659 1.688-4.659 4.788v2.67H9.692v3.623h3.127V24z"/>
</svg> -->
<h2 class="heading">Facebook</h2>

{%- endif -%}

{%- if id == 'google' -%}
<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
  <path fill="currentColor" fill-rule="evenodd" d="M.027 15.46c.088-5.265 4.9-9.877 10.137-9.7 2.51-.12 4.867.98 6.79 2.522-.822.937-1.67 1.84-2.578 2.684-2.31-1.606-5.595-2.065-7.905-.21-3.303 2.3-3.454 7.726-.275 10.2 3.09 2.82 8.933 1.42 9.787-2.9-1.936-.028-3.877 0-5.813-.062-.006-1.162-.01-2.323-.006-3.485 3.237-.01 6.473-.016 9.715.01.193 2.732-.166 5.64-1.836 7.9-2.528 3.578-7.603 4.622-11.563 3.09C2.508 23.987-.307 19.765.028 15.46m26.165-3.884h2.887c.004.97.01 1.947.018 2.918.966.01 1.937.01 2.902.02v2.904c-.965.01-1.93.015-2.902.024-.01.976-.014 1.948-.02 2.92h-2.89c-.01-.972-.01-1.944-.02-2.915l-2.902-.03v-2.903c.965-.01 1.93-.015 2.9-.02.006-.976.016-1.947.026-2.918"/>
</svg>
{%- endif -%}

{%- if id == 'instagram' -%}
<!-- <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" fill-rule="evenodd" d="M6.89 2.234h10.22c2.578 0 4.668 2.1 4.668 4.692v10.148c0 2.592-2.09 4.692-4.667 4.692H6.889c-2.577 0-4.667-2.1-4.667-4.692V6.926c0-2.592 2.09-4.692 4.667-4.692zM0 17.074C0 20.9 3.085 24 6.89 24h10.22c3.806 0 6.89-3.1 6.89-6.926V6.926C24 3.1 20.915 0 17.11 0H6.89C3.083 0 0 3.1 0 6.926v10.148zm18.35-4.978c0-3.508-2.83-6.351-6.318-6.351-3.49 0-6.318 2.843-6.318 6.35 0 3.508 2.829 6.352 6.318 6.352 3.489 0 6.317-2.844 6.317-6.351zm-10.413 0c0-2.274 1.833-4.117 4.095-4.117 2.261 0 4.095 1.843 4.095 4.117s-1.834 4.117-4.095 4.117c-2.262 0-4.095-1.843-4.095-4.117zm10.476-4.979c.841 0 1.524-.686 1.524-1.532s-.683-1.532-1.524-1.532c-.842 0-1.524.686-1.524 1.532s.682 1.532 1.524 1.532z"/>
</svg> -->
<h2 class="heading">instagram</h2>
{%- endif -%}

{%- if id == 'pinterest' -%}
<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" fill-rule="evenodd" d="M0 12c0 4.913 2.955 9.135 7.184 10.991-.034-.837-.005-1.844.208-2.756l1.544-6.538s-.383-.766-.383-1.9c0-1.778 1.032-3.106 2.315-3.106 1.09 0 1.618.82 1.618 1.803 0 1.096-.7 2.737-1.06 4.257-.3 1.274.638 2.312 1.894 2.312 2.274 0 3.805-2.92 3.805-6.38 0-2.63-1.771-4.598-4.993-4.598-3.64 0-5.907 2.714-5.907 5.745 0 1.047.307 1.784.79 2.354.223.264.253.368.172.67-.056.219-.189.752-.244.963-.08.303-.326.413-.6.3-1.678-.684-2.458-2.52-2.458-4.585 0-3.408 2.875-7.497 8.576-7.497 4.582 0 7.598 3.317 7.598 6.875 0 4.708-2.617 8.224-6.476 8.224-1.294 0-2.514-.7-2.931-1.494 0 0-.698 2.764-.844 3.298-.254.924-.752 1.85-1.208 2.57 1.08.318 2.22.492 3.4.492 6.628 0 12-5.372 12-12S18.628 0 12 0C5.375 0 0 5.372 0 12z"/>
</svg>
{%- endif -%}

{%- if id == 'rss' -%}
<svg width="23" height="23" viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" fill-rule="evenodd" d="M.451 6.314l.009 4.283h.432c10.833 0 12.002 8.359 12.002 11.953V23l3.792-.025v-.445c0-9.699-6.35-16.216-15.803-16.216H.45zM0 0l.01 4.218h.44c9.31 0 18.707 5.67 18.707 18.339V23L23 22.976v-.438C23 5.92 11.346 0 .44 0H0zm8.118 18.49a3.158 3.158 0 1 1-6.316-.001 3.158 3.158 0 0 1 6.316.001z"/>
</svg>
{%- endif -%}

{%- if id == 'twitter' -%}
<svg width="24" height="20" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" fill-rule="evenodd" d="M24 2.368a9.617 9.617 0 0 1-2.827.794A5.038 5.038 0 0 0 23.338.37a9.698 9.698 0 0 1-3.129 1.223A4.856 4.856 0 0 0 16.616 0c-2.718 0-4.922 2.26-4.922 5.049 0 .396.042.78.126 1.15C7.728 5.988 4.1 3.979 1.67.922a5.14 5.14 0 0 0-.666 2.54c0 1.751.87 3.297 2.19 4.203a4.834 4.834 0 0 1-2.23-.63v.062c0 2.447 1.697 4.488 3.95 4.95a4.695 4.695 0 0 1-1.296.178c-.317 0-.627-.03-.927-.09.626 2.006 2.444 3.466 4.599 3.505A9.722 9.722 0 0 1 0 17.733 13.71 13.71 0 0 0 7.548 20c9.058 0 14.01-7.692 14.01-14.365 0-.22-.005-.439-.013-.654A10.1 10.1 0 0 0 24 2.368"/>
</svg>
{%- endif -%}

{%- if id == 'vimeo' -%}
<svg width="27" height="24" viewBox="0 0 27 24" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" fill-rule="evenodd" d="M0 6.285l1.067 1.41S3.267 5.948 4 6.821c.733.874 3.532 11.424 4.466 13.37.815 1.708 3.065 3.966 5.532 2.353 2.465-1.613 10.664-8.668 12.131-17 1.467-8.33-9.866-6.586-11.065.672 3-1.816 4.601.738 3.066 3.629-1.533 2.888-2.933 4.772-3.666 4.772-.731 0-1.295-1.932-2.133-5.31-.868-3.493-.862-9.784-4.466-9.071C4.466.908 0 6.286 0 6.286z"/>
</svg>
{%- endif -%}

{%- if id == 'youtube' -%}
<svg width="24" height="23" viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" fill-rule="evenodd" d="M19.616 10.955H4.384C1.963 10.955 0 12.88 0 15.252v3.452C0 21.076 1.963 23 4.384 23h15.232C22.036 23 24 21.076 24 18.704v-3.452c0-2.372-1.963-4.297-4.384-4.297zM7.584 13.643H6.168v6.894H4.8v-6.894H3.385V12.47h4.2v1.173zm4 6.894h-1.213v-.652a2.588 2.588 0 0 1-.7.55 1.497 1.497 0 0 1-.706.189c-.282 0-.491-.088-.635-.266-.14-.178-.213-.442-.213-.798v-4.975h1.214v4.566c0 .14.027.242.075.305.053.064.136.094.25.094.088 0 .201-.041.338-.125a1.63 1.63 0 0 0 .377-.32v-4.52h1.213v5.952zm4.406-1.23c0 .421-.095.745-.286.97-.189.225-.466.336-.825.336-.238 0-.45-.042-.635-.13a1.556 1.556 0 0 1-.52-.403v.456h-1.228V12.47h1.229v2.598c.164-.18.338-.32.52-.413a1.21 1.21 0 0 1 .56-.141c.384 0 .677.125.88.379.203.254.304.625.304 1.112v3.303h.001zm4.21-1.603h-2.322v1.122c0 .312.039.53.118.651.081.122.218.181.412.181.202 0 .341-.05.422-.153.079-.104.12-.33.12-.68v-.27h1.25v.305c0 .61-.151 1.07-.458 1.38-.302.307-.757.46-1.362.46-.545 0-.974-.163-1.285-.49-.311-.325-.47-.776-.47-1.35v-2.673c0-.514.174-.937.518-1.262.343-.325.784-.487 1.328-.487.556 0 .984.15 1.282.452.298.301.447.733.447 1.297v1.517zm-1.78-2.225c-.194 0-.332.053-.416.164-.086.105-.126.284-.126.533v.602h1.073v-.602c0-.25-.043-.429-.129-.533-.081-.11-.218-.164-.402-.164zm-4.187-.02a.608.608 0 0 0-.257.057.868.868 0 0 0-.25.182v3.708c.096.096.193.17.287.212.093.04.19.063.293.063.15 0 .258-.042.328-.127.07-.084.105-.22.105-.41v-3.073c0-.202-.042-.354-.128-.458a.475.475 0 0 0-.378-.154zM6.378 8.888h1.539V5.2L9.708 0H8.144l-.952 3.553h-.097L6.095 0h-1.55l1.833 5.367v3.52zm5.415.165c.621 0 1.109-.16 1.464-.479.353-.32.53-.758.53-1.32V3.869c0-.5-.181-.91-.54-1.227-.363-.316-.827-.475-1.393-.475-.621 0-1.116.15-1.484.451-.367.3-.551.704-.551 1.214V7.23c0 .557.18.998.538 1.33.359.329.838.494 1.436.494zm-.412-5.62a.614.614 0 0 1 .408-.13c.18 0 .327.042.438.13.111.09.167.205.167.348v3.572a.533.533 0 0 1-.165.414.626.626 0 0 1-.44.15c-.18 0-.32-.048-.418-.148-.096-.099-.145-.237-.145-.417V3.781a.44.44 0 0 1 .155-.348zm4.469 5.55c.257 0 .52-.071.792-.21a2.89 2.89 0 0 0 .787-.611v.726h1.367V2.332h-1.367v4.976c-.127.143-.268.26-.42.353-.155.092-.282.138-.382.138-.128 0-.223-.035-.278-.106-.056-.069-.088-.18-.088-.335V2.332h-1.365v5.48c0 .39.08.682.239.876.161.196.397.295.715.295z"/>
</svg>
{%- endif -%}

