<div class="page-content template-account-reset">
  <div class="container">
  <h1 class="template-account-reset-title">{{ 'customers.reset_password.header' | t }}</h1>
  {% form 'reset_customer_password' %}

    <p>{{ 'customers.reset_password.message' | t: user: email }}</p>

    {% if form.errors %}
      <p class="error-message banner">
        {{ 'customers.reset_password.error' | t }}
      </p>
    {% endif %}

    <div class="input-wrapper">
      <label for="password">
        {{ 'general.form.password' | t }}
      </label>
      <input
        id="password"
        class="input-field"
        type="password"
        name="customer[password]">
    </div>

    <div class="input-wrapper">
      <label for="password-repeat">
        {{ 'general.form.repeat_password' | t }}
      </label>
      <input
        id="password-repeat"
        class="input-field"
        type="password"
        value=""
        name="customer[password_confirmation]">
    </div>

    <div class="input-wrapper">
      <input
        class="button"
        type="submit"
        value="{{ 'customers.reset_password.submit' | t }}">
    </div>

  {% endform %}
  </div>
</div>
