<!doctype html>
<!--[if IE 9]><html class="ie9 no-js"><![endif]-->
<!--[if !IE]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta name="google-site-verification" content="R7NLx71hNppRYi6nMXOF2LinoRA4nQsOK60_AMqmkoA" />
    <meta name="google-site-verification" content="qkAwdvpOljS5HVvmNhhKdbenkxIFe5KnKduyhBauF6k" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1,minimal-ui">
    <meta charset="utf-8">

    <title>
      {{- page_title | remove: 'tag:' | replace: '*', ''  -}}

      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %}
        {{ 'title.tags' | t: tags: meta_tags -}}
      {%- endif -%}

      {%- if current_page != 1 -%}
        {{- 'title.page' | t: page: current_page -}}
      {%- endif -%}

      {%- unless page_title contains shop.name -%}
        {{- 'title.shop' | t: shop: shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description != blank %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    {%- include 'open-graph' -%}
    {%- include 'twitter-card' -%}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="canonical" href="{{ canonical_url }}">


    {{ content_for_header }}

    <script>
      document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
      if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
    </script>

    {% include 'google-fonts', fonts: 'font_title|font_body|font_label' %}
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700" rel="stylesheet">
    {{ 'grid-only.scss.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
	{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
    {{ 'style-new.scss.css' | asset_url | stylesheet_tag }}
    
    {{ 'spacing.scss.css' | asset_url | stylesheet_tag }}
    
<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0070/5846.js"></script>
   
  </head>

  <body class="{{template}}">
    
<!--     <div class="fullscreen-overlay"></div> -->
    
    {% if settings.enable__searchbar %}
    <div class="search-overlay">
      <span class="search-close"></span>
      <div class="search-overlay-content">
        <form action="/search" method="get" class="search-bar">
          <input aria-label="{{ 'search.form.title' | t }}" class="serch_value" type="text" placeholder="{{ settings.search__placeholder }}" name="q" autofocus>
          <input type="hidden" name="type" value="product">
          <input type="submit">
        </form>
        <div class="search-suggestion">
          <p>{{ 'search.browser.title' | t }}</p>
          <ul>
            {% if settings.search_categories_1 %}<li><a href="/search?q={{ settings.search_categories_1 }}">{{ settings.search_categories_1 }}</a></li>{% endif %}
            {% if settings.search_categories_2 %}<li><a href="/search?q={{ settings.search_categories_2 }}">{{ settings.search_categories_2 }}</a></li>{% endif %}
            {% if settings.search_categories_3 %}<li><a href="/search?q={{ settings.search_categories_3 }}">{{ settings.search_categories_3 }}</a></li>{% endif %}
            {% if settings.search_categories_4 %}<li><a href="/search?q={{ settings.search_categories_4 }}">{{ settings.search_categories_4 }}</a></li>{% endif %}
            {% if settings.search_categories_5 %}<li><a href="/search?q={{ settings.search_categories_5 }}">{{ settings.search_categories_5 }}</a></li>{% endif %}
            {% if settings.search_categories_6 %}<li><a href="/search?q={{ settings.search_categories_6 }}">{{ settings.search_categories_6 }}</a></li>{% endif %}
          </ul>
        </div>
      </div>

    </div>        

    {% endif %}
    
    
    {% if template contains 'password' %}
      <main class="site-main">
        {{ content_for_layout }}
      </main>
    {% else %}
      {% section 'static-header' %}
      {%  if template contains 'index' %}
        {% section 'mobile__search' %}
      {% endif %}
      {% section 'static-meganav' %}
      {% section 'static-contactbar' %}
  
      <main class="site-main">        
        {{ content_for_layout }}        
      </main>

      {% section 'site-footer' %}
      
      {% section 'mobile-fixed-menu' %}
    
    
    {% endif %}

    {%- if template contains 'cart' -%}
      {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js' | script_tag }}
      {{ '/services/javascripts/countries.js' | script_tag }}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {%- endif -%}

    {%- if template contains 'customer' -%}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {%- endif -%}

    <script src="{{ 'handy.js' | asset_url }}"
      data-scripts
      data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
      data-shopify-cart-url="{{ 'jquery.cart.js' | asset_url }}"
      data-shopify-currencies="//cdn.shopify.com/s/javascripts/currencies.js"
      data-shopify-jquery-currencies="{{ 'jquery.currencies.min.js' | asset_url }}"
      data-shopify-qrcode="{{ 'vendor/qrcode.js' | shopify_asset_url }}"
    ></script>
    

    {% include 'structured-data' %}
       
    <div class="fullscreen-overlay cart-drawer-overlay"></div>
    <div class="fullscreen-overlay calendar-drawer-overlay"></div>
    <div id="CartDrawer" class="drawer cart-drawer mobile-wrapper-popup">
      
      <img class="mobile-wrapper-close" src="{{ 'close-black.png' | asset_url }}" />
      
      <div class="text-center mr-b-10 sm-up--hide">
        <a class="ds-inline-block wrapper-logo pd-t-20" href="/">
            	<img src="{{ 'gm_logo.png' | asset_url }}" />
            </a>
      </div>
      
      <div class="loading"><img src="{{ 'loader.gif' | asset_url }}"></div>
      
      <div class="drawer__header drawer-heading text-center">        
        
        <p class="title text-center mr-b-10">
          <span class="cart-count">{{ cart.item_count }}</span>
          <span class="cartTitle">VARER I KURVEN</span>
        </p>
        
        <p class="sub-title mr-b-0">
        	DIN KURV
        </p>
        
      </div>
      
      <div class="drawer-body">
        
        <div class="cart-drawer-listing">
        </div>      
        <div class="mobile-zip-deails class-here" id="zip-terms">
          <div class="done-zipcode text-center">
            <p class="sub-title">Leveringstid</p>
            <h3 class="title mr-tb-10" id="time-date-mobile"></h3>
            <a class="btn-general btn-grey-outline" id="open_drawer_date_mob">
              skift dato
            </a>
          </div>

          <div class="ask-zipcode">
            <h3 class="title">Leverer vi i dit område?</h3>
            <form class="form-zipcode" action="" method="get">
              <div class="temp" style="display:none;">{{ settings.zip }}</div>
              <input type="number" placeholder="enter zip code" />
              <button type="submit" class="btn-check">Tjek</button>
            </form>
            <div class="unsupported-zip text-center"  style="display:none">
              <p class="error title">Vi leverer desværre ikke i dit område endnu. Se hvor vi leverer.</p>
            </div>
          </div>

          <div class="agree-form">
            <h3 class="title">Bettingelser</h3>
            <div class="custom-input-wrapper custom-checkbox mr-b-20">
              <input type="checkbox" id="terms" placeholder="name" />
              <label for="terms">Jeg accepterer <def class="highlight-terms">handelsbetingelserne og privatlivspolitikken</def></label>
            </div>
            <div class="custom-input-wrapper custom-checkbox">
              <input type="checkbox" id="condition" placeholder="name" />
              <label for="condition">Jeg accepterer <def class="highlight-terms">handelsbetingelserne og privatlivspolitikken</def></label>
            </div>
          </div>
        </div>    
      </div>
      
      <div id="CartContainer"></div>
      
      <div class="drawer-footer">

        <div class="checkout-action cart-checkout">
          <div class="flex-container align-center justify-between price-goods">
            <p class="title">Varer</p>
            <p><span class="title">{{ cart.total_price | money }}</span></p>
          </div>
          <div class="flex-container align-center justify-between price-delivery">
            <p class="title">Levering</p>
            <p><span class="title">{{ cart.total_price | money }}</span></p>
          </div>
          <div class="flex-container align-center justify-between" id="fetch-val">
            <p class="title mr-xs-0">I ALT</p>
            <p class="mr-xs-0"><span class="sub-span">dkk</span><span class="title">{{ cart.total_price | money }}</span></p>
          </div>
          <div class="flex-container align-center justify-between">
<!--             <a href="/cart" class="btn-general btn-checkout btn-primary-outline btn-min">gå til kurven</a>
            <a href="/checkout" id="checkout_btn" class="btn-general btn-checkout btn-primary-solid btn-min">Gå til checkout</a> -->
            <a href="javascript:void(0)" class="btn-general btn-checkout btn-primary-outline btn-min sm-down--hide mobile-wrapper-close">Fortsæt indkøb</a>
            <a href="/cart" class="btn-general btn-checkout btn-primary-solid btn-min">Gå til betaling</a>
            <a href="/checkout" id="checkout_btn" class="btn-general btn-checkout btn-primary-solid sm-up--hide btn-min">Gå til checkout</a>
          </div>
        </div>
      </div>
      
    </div>
    
    {% section 'static-delivery' %}
    {% include 'charge-add' %}
    <div class="search-result-container mobile-wrapper-popup">
      
      <img src="{{ 'close-black.png' | asset_url }}" class="mobile-wrapper-close close-search sm-up--hide" />
      
      <div class="container">
        <div class="grid">
          
          <div class="grid__item text-center sm-up--hide mr-b-10">
            <a class="ds-inline-block wrapper-logo pd-t-20" href="/">
            	<img src="{{ 'gm_logo.png' | asset_url }}" />
            </a>          	
          </div>
          
          <div class="grid__item sm-up--hide mr-tb-5">
            <div class="site-actions-search">
              <form action="/search" id="search_form" method="get" role="search" _lpchecked="1">
                <a onclick="document.search_form.submit()" aria-label="{{ 'search.form.title' | t }}">
                  <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 512 512" x="0px" y="0px"><title>Search1</title><path d="M197.59,64A135.18,135.18,0,1,1,62.41,199.18,135.18,135.18,0,0,1,197.59,64m0-62.41a197.63,197.63,0,0,0-76.93,379.63A197.63,197.63,0,0,0,274.52,17.14,196.41,196.41,0,0,0,197.59,1.59h0Z"/><rect x="374.74" y="285.57" width="62.41" height="237.57" transform="translate(-167.02 405.48) rotate(-45)"/></svg>
                </a>
                <input type="hidden" name="type" value="product">
                <input class="search-itself" placeholder="SØG" type="search" id="data_search-1" name="q" value="" autocomplete="off"/>   
              </form>
            </div>
          </div>
          
          <div class="grid__item mr-tb-40 mr-xs-tb-20">
            <div class="flex-container align-center justify-between">
              <div class="search-heading heading">
                <span class="loading-text">Søger...</span>
                <span class="loaded-heading">Søgeresultater</span>
              </div>
              <div class="close-search-result pointer flex-container align-center sm-down--hide">
                <span class="text-uppercase mr-r-10">Luk søgning</span>
                <span><img class="close-icon " src="{{ 'close-black.png' | asset_url }}" /></span>
              </div>
            </div>
          </div>
<!--           <div class="loading search-loading"><img src="{{ 'loader.gif' | asset_url }}"></div> -->
          <div class="result-wrapper">
            <div class="no_result_search">
              <p class='text-center'>
                Desværre ingen resultater.
                <br><br>
                </p>
              <p class="text-center font-light">
                Du er meget velkommen til at skrive på <a class="mail-link" href="mailto:kontakt@gourmetmarked.dk">kontakt@gourmetmarked.dk</a> og fortælle os, hvad du mangler.
              </p>
            </div>
            <div class="results_search">
              <div class="grid__item xm--six-twelfths sm--four-twelfths md-up--one-quarter">

              </div>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
    <p class="money_filter" style="display:none;">{{ shop.money_format }}</p>
    {% section 'mobile-footer-menu' %}
    
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
       
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
        });

        jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
          // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
          timber.RightDrawer.open();
        });

        setInterval(function(){
          $('.search-overlay-content input[type=text]').focus();
        },100)
        $('.site-actions-search,.mobile-search').click(function(e){
          e.preventDefault();
          $('.search-overlay').fadeIn();
          $('.search-overlay-content input[type=text]').focus();
        });

        $('.top-banner input[type=text]').click(function(e){
          e.preventDefault();
          $('.search-overlay').fadeIn();
          $('.search-overlay-content input[type=text]').focus();
        });

        $('.search-close').click(function(){
          $('.search-overlay').fadeOut();
        });

        $(document).keyup(function(e) {
          if (e.keyCode === 27){
            $('.search-overlay').fadeOut();
          }
        });

        if($(window).width() <= 560){
          $('body').on('change','.product-options-count-2 .selector-wrapper:first-child',function(){
            //           $(this).next('.selector-wrapper').fadeIn();
            //           $(this).hide();
            $(this).closest('.product-options-count-2').addClass('click__drop');
          });
          $('body').on('change','.product-options-count-2 .selector-wrapper:nth-child(2)',function(){
            $(this).closest('.product-options-count-2').removeClass('click__drop');
          });
        }

        $('.mainLink').on('click',function(e){
          var child = $(this).closest('li').find('ul li:eq(0)');
           child.find('a').trigger('click');
        });

    </script>
           
    <script>
      
      money_format= "{{ shop.money_format }}";
      
      var selectCallback = function(variant, selector) {
                
      var callBackVariantId = variant.id; 
      $('#' + selector.domIdPrefix+'-option-0').parents('.product-block').find('.cart-text').attr('data-variant-id',callBackVariantId);

        var form = $('#' + selector.domIdPrefix).closest('form');
        form.attr('data-first_variant',variant.id);
        var product_id = form.find('.cart-text').attr('data-product-id');
        var CartItemQuantity = 0;
        $.ajax({
        type: 'GET',
        url: '/cart.js',        
        dataType: 'json',
          success: function(data){
          $(data.items).each(function(index,value){
            var cart_id = value.variant_id;
            if( cart_id == callBackVariantId){
              CartItemQuantity = value.quantity;
              form.find('.item-in-cart').show();
              form.find('.product-block').addClass('product-added');
              form.find(".cart-text").text('Tilføj');
              form.find('.total-in-cart').text(CartItemQuantity);
              form.find('input[name="quantity"]').val(CartItemQuantity);
              return false;
            }else{
              CartItemQuantity = 1;
              form.find('.cart-text').text('Tilføj til kurven');
              form.find('.product-block').removeClass('product-added');
              form.find('.product-block .qty').val(CartItemQuantity);
            }
          })
        }
      });
        
        if (variant) {          
          
          if (variant.available) {
            form.find('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
          } else {
            form.find('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
          }
          if ( variant.compare_at_price > variant.price ) {

            form.find('.product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price,money_format) +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "")+ '</s>');
            form.find('.product-menu-button .money').html(Shopify.formatMoney(variant.price,money_format));
          } else {
            form.find('.product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, money_format) + '</span>' );
            form.find('.product-menu-button .money').html(Shopify.formatMoney(variant.price,money_format));
          }
        } else {
          form.find('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
        }
      }
      
      {% if template contains 'product' %} 
      jQuery(function($) {
        new Shopify.OptionSelectors("product-select-{{ product.id }}", { product: {{ product | json }}, onVariantSelected: selectCallback,enableHistoryState: true });
         {% if product.options.size == 1 and product.options.first != 'Title' %}
          $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
        {% endif %}

        // Hide selectors if we only have 1 variant and its title contains 'Default'.
        {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
          $('.selector-wrapper').hide();
        {% endif %}
      });
      {% endif %}
      
      // ]]>
        // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
     
    </script>
  
    <script>
      $(document).ready(function() {
        
        if(window.location.href == "https://www.gourmetmarked.dk/collections" || window.location.href == "https://www.gourmetmarked.dk/collections/"){
          window.location.href = "/";
        }
        
        if($.cookie("cookie_set_time") != '10.00-15.00' || $.cookie("cookie_set_time") != '15.30-20.30' ){
           product_id = {{ all_products[settings.product].variants.first.id }};
           $.ajax({
             type: 'GET',
             url: '/cart.js',
             dataType: 'json',
             success: function(response) {
               if(response.items.length > 0){
                 for(var i = 0 ; i < response.items.length ; i++){
                   if(response.items[i].variant_id != null){
                     id = response.items[i].variant_id;
                     if(id != product_id){
                       $.ajax({
                         type: 'POST',
                         url: '/cart/add.js',
                         data: 'id=' + product_id + '&quantity=1' ,
                         dataType: 'json',
                         success: function() {
                           gourmet.cartDrawer();
                           gourmet.cartJsCount();
                         }
                       });
                     }
                   } 
                 }
               }
             }
           });
        }
        
        $('.cart-note').removeClass('errorCheck');
        
        $('body').on('click', '[name="checkout"], [name="goto_pp"], [name="goto_gc"]', function() {
          if ($('#agree').is(':checked')) {
            $(this).submit();
          }
          else {
            $('.cart-note').addClass('errorCheck');
          }
        });
        
        var arrowHtml = '<span class="product-form-variants-select-arrow-no-js"><svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">  <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"/></svg></span>';
        $('.col-xs-6 .selector-wrapper').append(arrowHtml);
        $('.col-xs-4 .selector-wrapper').append(arrowHtml);
        
      });
      $(document).ready(function(){

        $('.collectionAddtoCart').click(function(event){
          event.preventDefault();
          var $formCustom = $(this).closest('form');
          var $dataVale = $formCustom.attr('data-first_variant');
          var $data = 'id='+$dataVale+'&quantity=1';
          
          var $priceCart = $('.site-actions-cart-label span').data('price');

         $.ajax({
            type: 'POST',
            url: '/cart/add.js',
            dataType: 'json',
            data:$data,
            error: function(jqXHR, textStatus, errorThrown) {
              console.log(textStatus);
            },
            success: function(response) {
              var newPrice = response.price + $priceCart;
              var newCart = Shopify.formatMoney(newPrice, "{{ shop.money_format }}");
				$('.site-actions-cart-label').html('<span data-cart-item-count="">'+ newCart +'</span>');
              $('.site-actions-cart-label span').data('price',newPrice);
              $formCustom.find('.sucessMsg').html('<a href="/cart">Tilføjet til kurv</a>').show().delay(1500).fadeOut();
            }
          });
        });
        
        $('.productAddtoCart').click(function(event){
          var $dataVale = $('#defaultVarient').val();
          if($dataVale){
          	var $data = 'id='+$dataVale+'&quantity=1';
          }else{
          	var $data = $('.product-form-no-js_custom').serialize();
          }
          event.preventDefault();
          var $priceCart = $('.site-actions-cart-label span').data('price');

          $.ajax({
            type: 'POST',
            url: '/cart/add.js',
            dataType: 'json',
            data: $data,
            error: function(jqXHR, textStatus, errorThrown) {
              console.log(textStatus);
            },
            success: function(response) {
              var newPrice = response.price + $priceCart;
              var newCart = Shopify.formatMoney(newPrice, "{{ shop.money_format }}");
				$('.site-actions-cart-label').html('<span data-cart-item-count="">'+ newCart +'</span>');
              $('.site-actions-cart-label span').data('price',newPrice);
              $('.sucessMsg').html('<a href="/cart">Tilføjet til kurv</a>').show().delay(1500).fadeOut();
            }
          });
        });
      });
                            
    </script>
    {{ 'date.js' | asset_url | script_tag }}
   	{{ 'slick.js' | asset_url | script_tag }}
    {{ 'jquery.sticky-kit.min.js' | asset_url | script_tag }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="//cdn.shopify.com/s/files/1/1713/4291/t/11/assets/bootstrap-datepicker.js?13175758038032568220" type="text/javascript"></script>
    {{ 'custom-px.js' | asset_url | script_tag }}
    <script>

      
      var desc = $("#col_vend_desc .vendor_description").html();
      $(".vendor-section .vendor-content .description").html(desc);

      var iframe = $("#col_vend_desc .play-btn").html();
      $(".vendor-section .video-container").html(iframe);

      if(iframe)
      {
        $('.vendor-section .vendor-content .video-link').show();
      }
      else{
        $('.vendor-section .vendor-content .video-link').hide();
      }

      $(function() {
        $('.swatch :radio').change(function() {
          var optionIndex = $(this).closest('.swatch').attr('data-option-index');
          var optionValue = $(this).val();
          $(this)
          .closest('form')
          .find('.single-option-selector')
          .eq(optionIndex)
          .val(optionValue)
          .trigger('change');
        });
      });
      
      var userAgent, ieReg, ie;
      userAgent = window.navigator.userAgent;
      ieReg = /msie|Trident.*rv[ :]*11\./gi;
      ie = ieReg.test(userAgent);

      if(ie) {        
        $('body').addClass('ie');
      }      

      setTimeout(function(){
        var checkText = $('.cart-count').text();
        checkText = parseInt(checkText);
        if(checkText == 1 ){
          $('.drawer__header .cartTitle').text('VARE I KURVEN');
        }else{
          $('.drawer__header .cartTitle').text('VARER I KURVEN');
        }
      },5000);
</script>
  
{% include 'swymSnippet' %}

    <style>
      .swym-background-color, #swym-notification.swym-santa .swym-image{
        background-color: #0c263d !important;
      }

    </style>
    
<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END --></body>
</html>
