

{% schema %}
  {
    "name": "Add Collection",
    "settings": [
      {
      "type" : "collection",
      "label" : "Select the collection",
      "id" : "add_collection"
      }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
