<script type="application/json" data-section-type="dynamic-featured-products" data-section-id="{{ section.id }}"></script>

{%- assign product_count = section.settings.product_count | times: 1 -%}

<section class="featured-section">
<div class="container">
    
  <div class="featured-heading-wrapper">
    <p class="heading mr-b-25">
      {{ section.settings.title }}
    </p>    
  </div>    
  
{%- include 'product-highlights',
  collection: collections[section.settings.collection],
  product_item_style: section.settings.product_item_style,
  use_quickshop: section.settings.enable_product_quickshop,
  product_count: 5,
  product_emphasize: section.settings.product_emphasize
-%}
</div>
</section>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

<script>
  var count = {{ collections[section.settings.collection].products_count }};
  if(count > 5){
    if($(window).width() < 768){
      var k = 4;
    }
    else if($(window).width() >= 768 && $(window).width() < 1025){
      var k = 3;
    }
    else{
      var k = 5;
    }
    var arr = [];
    var chooseMines = function() {
      var num = num || 100;
      var currentNum = 0;
      var mines = [];
      for (var i = 0; i < k; i++) {
        do {
          currentNum = Math.ceil(Math.random() * 9);
        } while(mines.includes(currentNum))
          mines.push(currentNum);
      }
      return mines;
    }
    arr = chooseMines();
    $('.{{ collections[section.settings.collection].title | handleize }} .product-grid').hide();
    $.each( arr, function( i, val ) {
      $('.{{ collections[section.settings.collection].title | handleize }} .product-grid').each(function(index){
        if(index == val){
          $(this).show();
        }
      });
    });
  }else{
  	$('.{{ collections[section.settings.collection].title | handleize }} .product-grid').show();
  }
</script>
  
{% schema %}
{
  "name": "Featured collection",
  "class": "section-featured-products",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    }    
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Featured collection"
    }
  ]
}

{% endschema %}