<nav class="filter-menu collection-filter">
  <h2 class="category-heading bordered-title">Kategorier</h2>
  <ul class="faq-category-list">
    <li>
      <a class="scroll-link" href="#bestilling">bestilling</a>
    </li>
    <li>
      <a class="scroll-link" href="#levering">levering</a>
    </li>
    <li>
      <a class="scroll-link" href="#betaling">betaling og refundering</a>
    </li>
    <li>
      <a class="scroll-link" href="#tekniske">tekniske spørgsmål</a>
    </li>
    <li>
      <a class="scroll-link" href="#andet">andet</a>
    </li>
  </ul>
</nav>

<div class="filter-main">
  <div class="grid" style="overflow:hidden;">
    <div class="collection-list individual-faq faq-list" id="bestilling">
      <div class="pd-l-30 pd-xs-l-20 mr-b-20">
        <div class="featured-heading-wrapper">
          <p class="heading listed-category pd-xs-l-5 bordered-title">
            Bestilling
          </p>
        </div>

        <div class="accordion">
          {% for block in section.blocks %}                      
          {% if block.settings.category == 'bestilling' %}
          {% unless block.settings.title == blank %}             
          <div class="accordion-wrapper">
            <div class="accordion-title">
              <p class="faq-question">{{ block.settings.title }}</p>
              <i class="fa fa-angle-down"></i>
            </div>
            <div class="accordion-content">
              <p class="description">{{ block.settings.answer }}</p>
            </div>
          </div>
          {% endunless %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="collection-list individual-faq faq-list" id="levering">
      <div class="pd-l-30 pd-xs-l-20 mr-b-20">
        <div class="featured-heading-wrapper">
          <p class="heading listed-category pd-xs-l-5 bordered-title">
            Levering
          </p>
        </div>        
        <div class="accordion">
          {% for block in section.blocks %}                      
          {% if block.settings.category == 'levering' %}
          {% unless block.settings.title == blank %}             
          <div class="accordion-wrapper">
            <div class="accordion-title">
              <p class="">{{ block.settings.title }}</p>
              <i class="fa fa-angle-down"></i>
            </div>
            <div class="accordion-content">
              <p class="description">{{ block.settings.answer }}</p>
            </div>
          </div>
          {% endunless %}
          {% endif %}
          {% endfor %}
        </div> 
      </div>
    </div>
    <div class="collection-list individual-faq faq-list" id="betaling">
      <div class="pd-l-30 pd-xs-l-20 mr-b-20">
        <div class="featured-heading-wrapper">
          <p class="heading listed-category pd-xs-l-5 bordered-title">
            Betaling og refundering
          </p>
        </div>
        <div class="accordion">
          {% for block in section.blocks %}                      
          {% if block.settings.category == 'betaling' %}
          {% unless block.settings.title == blank %}             
          <div class="accordion-wrapper">
            <div class="accordion-title">
              <p class="">{{ block.settings.title }}</p>
              <i class="fa fa-angle-down"></i>
            </div>
            <div class="accordion-content">
              <p class="description">{{ block.settings.answer }}</p>
            </div>
          </div>
          {% endunless %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="collection-list individual-faq faq-list" id="tekniske">
      <div class="pd-l-30 pd-xs-l-20 mr-b-20">
        <div class="featured-heading-wrapper">
          <p class="heading listed-category pd-xs-l-5 bordered-title">
            Tekniske spørgsmål
          </p>
        </div>
        <div class="accordion">
          {% for block in section.blocks %}                      
          {% if block.settings.category == 'tekniske' %}
          {% unless block.settings.title == blank %}             
          <div class="accordion-wrapper">
            <div class="accordion-title">
              <p class="">{{ block.settings.title }}</p>
              <i class="fa fa-angle-down"></i>
            </div>
            <div class="accordion-content">
              <p class="description">{{ block.settings.answer }}</p>
            </div>
          </div>
          {% endunless %}
          {% endif %}
          {% endfor %}
        </div> 
      </div>
    </div>
    <div class="collection-list individual-faq faq-list" id="andet">
      <div class="pd-l-30 pd-xs-l-20">
        <div class="featured-heading-wrapper">
          <p class="heading listed-category pd-xs-l-5 bordered-title">
            Andet
          </p>
        </div>
        <div class="accordion">
          {% for block in section.blocks %}                      
          {% if block.settings.category == 'andet' %}
          {% unless block.settings.title == blank %}             
          <div class="accordion-wrapper">
            <div class="accordion-title">
              <p class="">{{ block.settings.title }}</p>
              <i class="fa fa-angle-down"></i>
            </div>
            <div class="accordion-content">
              <p class="description">{{ block.settings.answer }}</p>
            </div>
          </div>
          {% endunless %}
          {% endif %}
          {% endfor %}
        </div>            
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Faq",
    "settings": [],
"blocks" : [
  {
  "type" : "text",
  "name" : "title",
  "settings" : [
    {
      "type" : "header",
      "content" : "Question"
    },
    {
      "type" : "text",
      "id" : "title",
      "label" : "Question"
    },
	{
      "type" : "text",
      "id" : "answer",
      "label" : "Answer"
    },	
    {
    "type":      "select",
    "id":        "category",
    "label":     "Select the Category",
    "options": [
    {    
    "value": "bestilling",
    "label": "bestilling"
    },
    {    
    "value": "levering",
    "label": "levering"
    },
    {    
    "value": "betaling",
    "label": "betaling"
    },
    {    
    "value": "tekniske",
    "label": "tekniske"
    },
    {    
    "value": "andet",
    "label": "andet"
    }
    ],
    "default":   "bestilling"    
    }
  ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
