<script>
  var str = "{{ section.settings.hidden_vendors }}";
  var temp = new Array();
  temp = str.split(",");
  
</script>

<section class="producers-section">
  <div class="container">
    <div class="row">
      <div class="producer-grid-wrapper">        
        
        {%- assign hideVen =  section.settings.hidden_vendors -%}                        
        
        {% for product_vendor in shop.vendors %}        
        {% unless hideVen contains product_vendor %}        
        {% assign vendor = product_vendor | handleize %}
        
        <div class="producer-grid">
          <a class="producer-block" href="{{ collections[vendor].url }}">
            <div class="producer-image-container" style="background-image:url('{{ collections[vendor] | img_url: 'original' }}');">
              <img class="producer-image" src="{{ collections[vendor] | img_url: 'original' }}"  alt="{{ collections[vendor].title | escape }}" /> 
              <div class="producer-hover"></div>
            </div>

            <div class="producer-details">
              <p class="producer-name text-center"> 
                {{ product_vendor }}
              </p>
              <p class="producer-byline text-center" style="display:none"></p>
            </div>
          </a>
          <div class="temp-vendor" style="display:none">
            {{ collections[vendor].description }}
          </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script> 
          $('.producer-grid').each(function(){
          	var byline = $(this).find('.temp-vendor .vendor_byline').html();
            $(this).find('.producer-byline').html(byline);
          })
//           var byline = $(".temp-vendor-{{forloop.index}} .vendor_byline").html();
// 		  $(".producer-byline-{{forloop.index}}").html(byline);
        </script>   
        {% endunless %}
        {% endfor %}
        
      </div>
    </div>
  </div>
</section>

{% schema %}
    {
    "name": "Producers",
    "settings": [
    {
      "type":"textarea",
      "id" : "hidden_vendors",
      "label" : "Vendors not to display",
      "info" : "Write the exact vendor name separated by comma(;)"
    }
    ],
    "presets": [
    {
      "name": "Producers",
      "category": "producers"
    }
    ]
    }
{% endschema %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
