<div class="container">

{% if section.settings.title_header != blank %}<h2><center>{{ section.settings.title_header }}</center></h2>{% endif %}
{% if section.settings.title_subHeader != blank %}<p><center><font size="3">{{ section.settings.title_subHeader }}</font></center></p>{% endif %}
<div class="images_text_wrapper_overlay">
  {% for block in section.blocks %}
  <div class="images_blok">
    <div class="imgWrapper">
      <a href="{{ block.settings.link }}" {% unless block.settings.link  %}style="pointer-events: none;display: block;"{% endunless %}>
    	<img src="{{ block.settings.image | img_url:'500x' }}" class="img-responsive" alt=""/>
      </a>
    </div>
    <div class="caption">
      <a href="{{ block.settings.link }}" {% unless block.settings.link  %}style="pointer-events: none;"{% endunless %}>
        <h3>{{ block.settings.title }}</h3>
        <p>{{ block.settings.text }}</p>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
</div>
  
{% schema %}
  {
    "name": "Featured Content",
	"class": "images_Text",
    "settings": [
      {
        "id": "title_header",
        "type": "text",
        "label": "Heading"
      },
	  {
        "id": "title_subHeader",
        "type": "text",
        "label": "Sub Heading"
      }
	],
	"blocks": [
      {
        "type": "Block",
        "name": "Featured Content",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "text",
            "type": "textarea",
            "label": "Text"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
        {
          "category": "Image",
          "name": "Featured Content",
          "blocks": [
            {
              "type": "Block"
            }
          ]
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
