

<h2><center>{{ section.settings.title_header }}</center></h2>
<p><center><font size="3">{{ section.settings.title_subHeader }}</font></center></p>
<br><br>
<div class="images_text_wrapper">
  {%- for block in section.blocks -%}
  <div class="images_blok">
    <div class="imgWrapper">
      <a href="{{ block.settings.link }}" class="hoverText">
    	<img src="{{ block.settings.image | img_url:'500x' }}" class="img-responsive" alt=""/>
      </a>
    </div>
    <div class="caption">
      <a href="{{ block.settings.link }}">
        <h3>{{ block.settings.title }}</h3>
        <p>{{ block.settings.text }}</p>
      </a>
      <a href="{{ block.settings.link }}" class="btn btnText">{{ block.settings.btn_text }}</a>
    </div>
  </div>
  {%- endfor -%}
</div>
  

{% schema %}
  {
    "name": "Images with text",
	"class": "images_Text",
    "settings": [
      {
        "id": "title_header",
        "type": "text",
        "label": "Heading"
      },
	  {
        "id": "title_subHeader",
        "type": "text",
        "label": "Sub Heading"
      }
	],
	"blocks": [
      {
        "type": "Block",
        "name": "Block",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
		  {
            "id": "hover_text",
            "type": "text",
            "label": "Hover text"
          },
          {
            "id": "text",
            "type": "textarea",
            "label": "Text"
          },
		  {
            "id": "btn_text",
            "type": "text",
            "label": "Button Text"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
        {
          "category": "Image",
          "name": "Block",
          "blocks": [
            {
              "type": "Block"
            }
          ]
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
