<style>
  .show__desktop{
  	display:block !important;
  }
</style>




{% if section.settings.enable_main_banner %}

<div class="top-banner">
  <section class="banner slider">
    
    {% for block in section.blocks %}
      
        <div class="banner-container">     
		 <a  href="{{ block.settings.link }}" class="slick-link" >
          <div class="banner-overlay">
          </div>
          
            <div class="banner-details">
              <p class="banner-title">
                {{ block.settings.banner_title }}
              </p>
              <p class="banner-sub-title">
                {{ block.settings.banner_sub_title }}
              </p>
              <a class="btn-banner slick-link" href="{{ block.settings.link }}">
                {{ block.settings.banner_button }}
              </a>
            </div>
            <img src="{{ block.settings.image__mobile | img_url:'original' }}" />    
          </a>
        </div>
      
    {% endfor %}

    </section>
  
  <p class="hide">
    <span class="show__desktop">
      <a href="{{ section.settings.link }}" target="_self" {% if section.settings.link == blank %}  style=" pointer-events: none;"{% endif %}>
        <img class="{% if forloop.first %}{% endif %}" src="{{ section.settings.image | img_url:'2048x' }}" alt="gourmetmarked.dk" style="width:100%;max-width:100%;">
      </a>
    </span>
    <span class="mobile__only">
      {% for block in section.blocks %}
      <a href="{{ block.settings.link }}" target="_self" {% if block.settings.link == blank %}  style=" pointer-events: none;"{% endif %}>
        <picture>
          <source srcset="{{ block.settings.image__mobile | img_url:'560x' }}" media="(max-width: 520px)">
          <source srcset="{{ section.settings.image | img_url:'2048x' }}">
          <img class="{% if forloop.first %}show__desktop{% endif %}" src="{{ section.settings.image | img_url:'2048x' }}" alt="gourmetmarked.dk" style="width:100%;display:none;">
        </picture>
      </a>
    </span>
    {% endfor %}
  </p>

  {% if settings.enable__searchbar %}
  <form action="/search" method="post">
    <input aria-label="{{ 'search.form.title' | t }}" type="text" placeholder="{{ settings.search__placeholder }}" name="q" value="{{ search.terms | escape }}">
    <input type="submit">
  </form>
  {% endif %}
</div>

{% endif %}


{% schema %}
  {
    "name": "Main Banner",
	"class": "main__banner",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_main_banner",
        "label": "Enable Banner",
        "default": true
      },
	  {
        "id": "image",
        "type": "image_picker",
        "label": "Desktop Image"
      },
	  {
        "id": "link",
        "type": "url",
        "label": "Link"
      }
	],
	"blocks": [
      {
        "type": "Block",
        "name": "Mobile Images",
        "settings": [
          {
            "id": "image__mobile",
            "type": "image_picker",
            "label": "Image"
          },
		  {
            "id": "banner_title",
            "type": "text",
            "label": "Title for banner"
          },
 		  {
            "id": "banner_sub_title",
            "type": "text",
            "label": "Sub Title for banner"
          },
		  {
            "id": "banner_button",
            "type": "text",
            "label": "Button text for banner"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
        {
          "category": "Image",
          "name": "Mobile Images",
          "blocks": [
            {
              "type": "Block"
            }
          ]
        }
      ]
  }
{% endschema %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
