<section>
  
  <div class="container">
    <div class="manufacturer">
      <h2 class="heading">
        {{ section.settings.heading}}    	
      </h2>
      <p class="common-desc">
        {{ section.settings.description}}    
      </p>
    </div>
  </div>
  
</section>

{% schema %}
  {
    "name": "Manufacturers Text",
    "settings": [
        {
            "type": "header",
            "content" : "Background image"
        },
		{
            "type": "header",
            "content" : "Description"
        },
        {
            "type": "text",
            "id" : "heading",
            "label" : "write the heading",
            "default" : "Pa Gourmet Market.dk handler direkte med byens bedste butikker og landets mest talentfulde producenter"
        },
        {
            "type": "text",
            "id" : "description",
            "label" : "write the description",
            "default" : "vi leverer direkte til dit dørtrin, alle ugens dage."
        }
      ],
      "presets": [
        {
          "name": "Manufacturers Text",
          "category": "Home Page Introduction"
        }
	  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
