<div class="fixed-footer">
  <ul class="fixed-menu-list">
    <li class="fixed-menu-item">
      <a href="/">
      	<img class="menu-icon" src="{{ 'home.svg' | asset_url }}" />
        <p class="menu-name">Forside</p>
      </a>
    </li>
  	<li class="fixed-menu-item search-menu-item">
      <a href="#">
      	<img class="menu-icon" src="{{ 'search-icon.svg' | asset_url }}" />
        <p class="menu-name">Søg</p>
      </a>
    </li>

    <li class="fixed-menu-item {% unless template == 'cart' %}cart-menu-item{% endunless %}">
          <a href="#">
      	<img class="menu-icon" src="{{ 'bag.png' | asset_url }}" />
        <p class="menu-name mobile-cart-price">0,00 kr</p>
      </a>
    </li>


    <li class="fixed-menu-item mobile-menu-item">
      <a href="#">
        <span class="menu-icon-bar top-bar"></span>
        <span class="menu-icon-bar middle-bar"></span>
        <span class="menu-icon-bar bottom-bar"></span>
<!--       	<img class="menu-icon" src="{{ 'menu-icon.svg' | asset_url }}" /> -->
        <p class="menu-name">menu</p>
      </a>
    </li>
  </ul>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
