{% if section.settings.enable_main_banner %}
<div class="mobile-search">  
  <img src="{{ section.settings.image_search | img_url:'560x' }}" class="img-responsive" style="width:100%;"/>
</div>
{% endif %}

{% schema %}
    {
    "name": "Mobile Search",
    "class": "mobile__saerch",
    "settings": [
    {
    "type": "checkbox",
    "id": "enable_main_banner",
    "label": "Enable",
    "default": true
    },
    {
    "id": "image_search",
    "type": "image_picker",
    "label": "Image"
    }
    ],
    "presets": [
    {
    "category": "Image",
    "name": "Search Images"
    }
    ]
    }
{% endschema %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

