<div class="mobile-footer-menu mobile-wrapper-popup">

  <img class="mobile-wrapper-close" src="{{ 'close-black.png' | asset_url }}" />

  <div class="text-center mr-b-10">
    <a class="ds-inline-block wrapper-logo pd-t-20" href="/">
      <img src="{{ 'gm_logo.png' | asset_url }}" />
    </a>
  </div>

  <div class="menu-heading">
    <h2 class="heading">Menu</h2>
  </div>

  <div class="menu-list">
    <ul>      
      {% for link in linklists[section.settings.footer_menu].links %}           
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>              	
      {% endfor %}           
    </ul>        
  </div>

</div>
    

{% schema %}
  {
    "name": "Mobile Footer Menu",
    "settings": [
		{
    "type": "header",    
    "content": "select the menu"    
    },
    {
    "type":      "link_list",
    "id":        "footer_menu",
    "label":     "Footer Menu",
    "info":      "Menu For Mobile Footer"
    }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
