<section class="shops">
  <div class="container">
    <div class="shops-text text-center">
      <h2 class="heading mr-t-0 mr-xs-b-0">
        {{ section.settings.heading }}
      </h2>
      <p class="description mr-b-0">
        {{ section.settings.description }}
      </p>
    </div>
  </div>
</section>

{% schema %}
{
"name": "Shops text",
"class" : "shops-text",
"settings": [
{
"type" : "header",
"content" : "text"
},
{
"type" : "text",
"label" : "Write the heading",
"id" : "heading",
"default" : "Shops & producers"
},
{
"type" : "text",
"label" : "Write the description",
"id" : "description",
"default" : "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
}
],
"presets": [
{
"name": "Shops text",
"category": "Home Page Introduction"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
