{% assign menu_count = 0 %}

{% if shop.customer_accounts_enabled %}
  {% assign menu_count = menu_count | plus: 1 %}
{% endif %}

{% for block in section.blocks %}
  {% if block.type == 'menu' %}
    {% assign menu_count = menu_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign social_count = 0 %}

{%- if section.settings.enable_social -%}
  {%- if settings.social_facebook != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_twitter != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_google != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_pinterest != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_instagram != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_vimeo != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_youtube != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_email != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_rss != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}
{%- endif -%}

<section class="footer-section">
<div class="container">
<footer class="site-footer">
  
  <div class="upper-footer">
    <div class="newsletter-wrapper">
      <h2 class="heading newsletter-heading">Tilmeld nyhedsbrev</h2>
      <p class="newsletter-desc">Tilmeld vores nyhedsbrev i dag og få 1 stk gratis <br/> Jacob & Jakob Icecream med din første bestilling.</p>
      {% if section.settings.enable_newsletter %}
      	{% include 'newsletter' %}
      {% endif %}
    </div>

    <div class="contact-wrapper">
      <div class="email-details">
        <p>Har du spørgsmål?</p>
        <a href="/pages/kontakt" class="heading email-id">kontakt@gourmetmarked.dk</a>
      </div>

      <div class="follow-details">
        <p>Følg os</p>
        {% if section.settings.enable_social %}{% include 'social' %}{% endif %}	
      </div>

    </div>  
  </div>
      
  <div class="bottom-footer">
    
    <div class="page-links">
      
      <div class="main-links">
        
        {% for link in linklists[section.settings.main_links].links %}        
        <a href="{% unless link.url == '#' %}{{ link.url }}{% endunless%}">
          <h2 class="heading">
            {{ link.title }}
          </h2>
        </a>	
        {% endfor %}
                       
      </div>
      
      <div class="sub-links">        
        <div class="bolder-links">
          {% for link in linklists[section.settings.sub_links].links %}       
          {% if forloop.index == 1 or forloop.index == 2 %}
          <a href="{{link.url}}">{{link.title}}</a>
          {% endif %}
          {% endfor %}
        </div>        
        <div class="smaller-links">
          {% for link in linklists[section.settings.sub_links].links %}       
          {% if forloop.index == 3 or forloop.index == 4 %}
          <a href="{% unless link.url == '#' %}{{ link.url }}{% endunless%}">{{link.title}}</a>
          {% endif %}
          {% endfor %}
        </div>  
      </div>      
    </div>
    
    <div class="payment-links">
      {% if section.settings.enable_payment_icons and shop.enabled_payment_types.size > 0 %}
      <div class="desktop-icons">
        {% for type in shop.enabled_payment_types %}      
        <img src="{{ type | payment_type_img_url }}" alt="{{ type }}"/>      
        {% endfor %}
      </div>
      {% endif %}      
    </div>
    
  </div>
  
  {% comment %}
  {% if section.settings.enable_newsletter or social_count > 0 %}
    <div class="site-footer-item site-footer-social">          
    </div>
  {% endif %}

  <div class="site-footer-item site-footer-nav">
    <nav class="footnav footnav-count-{{ menu_count }}">

      {% for block in section.blocks %}
        <div class="footnav-item footnav-item-{{ block.type }}" {{ block.shopify_attributes }}>

          {% if block.type == 'richtext' %}
            <h1 class="footnav-title">{{ block.settings.title }}</h1>
            <div class="footnav-rte">{{ block.settings.content }}</div>
          {% endif %}

          {% if block.type == 'menu' %}
            {% assign menu = linklists[block.settings.menu] %}

            <h1 class="footnav-title">{{ menu.title }}</h1>
            <ul class="footnav-menu">
              {% for link in menu.links %}
                <li class="footnav-menu-link">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if block.type == 'customer' %}
            {% if shop.customer_accounts_enabled %}
              <h1 class="footnav-title">{{ block.settings.title }}</h1>
              <ul class="footnav-menu">
                {% if customer %}
                  <li class="footnav-menu-link">
                    <a href="/account">{{ 'footnav.account.logged_in_html' | t: user_name: customer.first_name }}</a>
                  </li>
                  <li class="footnav-menu-link">
                    <a href="/account">{{ 'footnav.account.logout' | t | customer_logout_link }}</a>
                  </li>
                {% else %}
                  <li class="footnav-menu-link">
                    {{ 'footnav.account.login' | t | customer_login_link }}
                  </li>
                  {% if shop.customer_accounts_optional %}
                    <li class="footnav-menu-link">
                      {{ 'footnav.account.register' | t | customer_register_link }}
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
            {% endif %}
          {% endif %}

        </div>
      {% endfor %}

    </nav>
  </div>

  {% if section.settings.enable_payment_icons and shop.enabled_payment_types.size > 0 %}
    <div class="site-footer-item">
      {% include 'payment' %}
    </div>
  {% endif %}

  <div class="site-footer-item">
    <div class="credits">
      {% capture year %}
        {{ 'now' | date: '%Y' }}
      {% endcapture %}

      {{ 'copyright_html' | t: year: year, shop_name: shop.name }}
      {{ powered_by_link }}
    </div>
  </div>
  {% endcomment %}
  
  
</footer>
</div>
</section>
  
{% schema %}
{
  "name": "Footer",
  "class" : "footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_newsletter",
      "label": "Enable newsletter",
      "default": true
    },
	{
      "type": "text",
      "id": "action_url",
      "label": "Mailchimp URL"
    },
    {
      "type": "checkbox",
      "id": "enable_social",
      "label": "Enable social accounts",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_icons",
      "label": "Enable payment icons",
      "default": true
    },
    {
    "type": "header",    
    "content": "select the menu"    
    },
    {
    "type":      "link_list",
    "id":        "main_links",
    "label":     "Main Links",
    "info":      "Upper Footer Links"
    },
 {
    "type": "header",    
    "content": "select the menu"    
    },
    {
    "type":      "link_list",
    "id":        "sub_links",
    "label":     "Sub Links",
    "info":      "Bottom Footer Links"
    }
  ],
  "blocks": [
    {
      "type": "richtext",
      "name": "Rich text",
      "limit": 2,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Heading",
          "default": "About"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "Content",
          "default": "<p>Use this space to give credit where it's due, reinforce your brand identity, shop policy, or company motto.</p>"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "limit": 6,
      "settings": [
        {
          "id": "menu",
          "type": "link_list",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "customer",
      "name": "Customer links",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Show Log In and Register links. Ensure you've enabled customer accounts in the Checkout settings of your Shopify admin."
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Account"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "richtext",
        "settings": {}
      },
      {
        "type": "menu",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "customer",
        "settings": {}
      }
    ]
  },
  "locales": {
    "en": {
      "footnav": {
        "about": {
          "title": "About"
        },
        "account": {
          "login": "Log in",
          "logout": "Log out",
          "register": "Register",
          "logged_in_html": "Logged in as {{ user_name }}"
        }
      },
      "copyright_html": "Copyright &copy; {{ year }} {{ shop_name }}."
    }
  }
}

{% endschema %}