{%- assign no_variants = false -%}
{% if product.selected_or_first_available_variant.title == 'Default Title' and product.selected_or_first_available_variant.option1 == 'Default Title' %}
  {%- assign no_variants = true -%}
{% endif %}

<script
  type="application/json"
  data-section-type="static-product"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "product": {{ product | json }},
    "selected_or_first_available_variant": {{ product.selected_or_first_available_variant | json }},
    "money_format": {{ shop.money_format | json }},
    "text": {
      "product_available": {{ 'product.add_to_cart.available' | t | json }},
      "product_unavailable": {{ 'product.add_to_cart.unavailable' | t | json }}
    }
  }
</script>

<div class="product-wrapper{% if product.images.size == 0 %} product-wrapper-no-images{% endif %}" data-product-wrapper>
  
  <div class="container">
    {% include 'breadcrumbs' %}
  </div>

  <div class="container product-container">
    <div class="grid">
      
      <div class="grid__item sm--five-eighths details-img-grid md-up--seven-twelfths">
        {%- if product.images.size > 0 -%}

        <div class="border-grid">
          <section class="product-images slider-for" >
            {%- for image in product.images -%}                                         
            <figure class="product-image">
              <img
                   alt="{{ image.alt | escape }}"
                   src="{{ image | img_url: '1050x', format: 'pjpg' }}"
                   srcset="{{ image | img_url: '1050x', scale: 2, format: 'pjpg' }} 2x"
                   data-product-image-id="{{ image.id }}">
              {% for tag in product.tags %}
              {% if tag contains 'producttext_' %}
              {% assign tags = tag | split: "-" %}
              {% for tag in tags %}
              {% if forloop.first == true %}
              <p class="producttext_hex" style="background-color:#{{ tag  | remove:'producttext_hex' | remove:'producttext_' }}">
                {% endif %}
                {% endfor %}
                {% for tag in tags %}
                {% if forloop.last == true %}
                {{ tag | strip }}
                {% endif %}
                {% endfor %}
              </p>
              {% endif %}
              {% endfor %}
            </figure>
            {%- endfor -%}
          </section>

          {%- if product.images.size > 1 -%}
          <section class="slider-nav product-thumb">
            {%- for image in product.images -%}                                         
            <div class="">
              <img
                   alt="{{ image.alt | escape }}"
                   src="{{ image | img_url: '1050x', format: 'pjpg' }}"
                   srcset="{{ image | img_url: '1050x', scale: 2, format: 'pjpg' }} 2x"
                   data-product-image-id="{{ image.id }}">
            </div>
            {%- endfor -%}
          </section>
          {% endif %}        
        </div>
        {%- endif -%}
      </div>
      
      <div class="grid__item sm--three-eighths details-info-grid md-up--five-twelfths ps-relative">
        
        <div class="sm-up--hide mobile-wistlist"> 
          <div class="wishlist-wrapper">
            <button class="btn-wishlist">
              <img src="//cdn.shopify.com/s/files/1/1713/4487/t/42/assets/wishlist.png?11282051383078835674" alt="wishlist">              
            </button>
          </div>
        </div>
        
        {%- include 'product-details' -%}        
      </div>

      <div class="grid__item sm--five-eighths md-up--seven-twelfths">
        <div class="product-rte">
          {{ product.description }}
        </div>
      </div>
    </div>


  </div>

  <div class="added-success-wrapper">
    <div class="added-success-popup">
      <img src="{{ product.featured_image | img_url : '100x' }}" />
      <p class="heading">Tilføjet til kurven</p>
    </div>
  </div>
  
</div>

{%- include 'product-menu' -%}

<div class="container">



{%- for block in section.blocks -%}
  {%- assign product_count = block.settings.product_count | times: 1 -%}

  <section class="section-related-products {% if product.handle contains 'gordonbleu' or product.handle contains 'nakkefilet' or product.handle contains 'svinekotelet' or product.handle contains 'skinkemedister' or product.handle contains 'ribbensteg' %}topUp{% endif %}" {{ block.shopify_attributes }}>
    <span class="related-products-title">{{ 'related_products.title' | t }}</span>
    {%- include 'product-highlights',
      product_item_style: block.settings.product_item_style,
      use_quickshop: block.settings.enable_product_quickshop,
      product_count: product_count,
      product_emphasize: block.settings.product_emphasize
    -%}
  </section>
{%- endfor -%}

</div>


{% schema %}
{
  "name": "Product pages",
  "class": "section-product",
  "settings": [
    {
      "type": "header",
      "content": "Sharing"
    },
    {
      "type": "checkbox",
      "id": "enable_social_sharing",
      "label": "Enable social sharing",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "related_products",
      "name": "Related products",
      "settings": [
        {
          "id": "product_item_style",
          "type": "select",
          "label": "Product aspect ratio",
          "info": "Using an uncropped setting will generate white space around the image to create a uniform grid without cropping your image. The background in the editor indicates the applied white space, but will not appear on your storefront.",
          "options": [
            { "group": "Uncropped", "value": "natural", "label": "Natural" },
            { "group": "Uncropped", "value": "small", "label": "Short (4:3)" },
            { "group": "Uncropped", "value": "medium", "label": "Square (1:1)" },
            { "group": "Uncropped", "value": "large", "label": "Tall (2:3)" },
            { "group": "Cropped", "value": "cropped-small", "label": "Short (4:3)" },
            { "group": "Cropped", "value": "cropped-medium", "label": "Square (1:1)" },
            { "group": "Cropped", "value": "cropped-large", "label": "Tall (2:3)" }
          ],
          "default": "natural"
        },
        {
          "id": "enable_product_quickshop",
          "type": "checkbox",
          "label": "Enable product quickshop",
          "default": false
        },
        {
          "id": "product_count",
          "type": "select",
          "label": "Product count",
          "options": [
            { "value": "1", "label": "1" },
            { "value": "2", "label": "2" },
            { "value": "3", "label": "3" },
            { "value": "4", "label": "4" },
            { "value": "5", "label": "5" }
          ],
          "default": "5"
        },
        {
          "id": "product_emphasize",
          "type": "checkbox",
          "label": "Emphasize product",
          "info": "Creates an alternate layout on larger screens",
          "default": true
        }
      ]
    }
  ],
  "max_blocks": 1,
  "default": {
    "blocks": [
      {
        "type": "related_products",
        "settings": {}
      }
    ]
  }
}

{% endschema %}