<script
  type="application/json"
  data-section-type="static-blog"
  data-section-id="{{ section.id }}">
</script>

<h1 class="page-title">
  {{ blog.title }}
</h1>
<p class="blog-rss-feed">
  {%- assign rss_url = blog.url | append: '.atom' -%}
  {%- include 'social-link', id: 'rss', title: 'RSS', url: rss_url  -%}
  <a href="{{ rss_url }}" target="_blank">{{ 'blog.rss_feed' | t }}</a>
</p>

{%- paginate blog.articles by section.settings.posts_per_page -%}
  <div class="article-excerpts" data-article-excerpts>
    <div class="article-excerpt-masonry-item-sizer" data-article-excerpt-masonry-item-sizer></div>
    <div class="article-excerpt-masonry-gutter-sizer" data-article-excerpt-masonry-gutter-sizer></div>
    {%- for article in blog.articles -%}
      {%- include 'article-excerpt', article: article -%}
    {%- endfor -%}
  </div>

  {%- include 'pagination' -%}
{%- endpaginate -%}

{% schema %}
{
  "name": "Blog pages",
  "class": "section-blog",
  "settings": [
    {
      "type": "select",
      "id": "posts_per_page",
      "label": "Posts per page",
      "options": [
        { "value": "4", "label": "4" },
        { "value": "6", "label": "6" },
        { "value": "8", "label": "8" },
        { "value": "10", "label": "10" },
        { "value": "12", "label": "12" },
        { "value": "14", "label": "14" },
        { "value": "16", "label": "16" },
        { "value": "18", "label": "18" },
        { "value": "20", "label": "20" }
      ],
      "default": "4"
    }
  ]
}

{% endschema %}