<div class="fullscreen-overlay delivery-overlay"></div>
<div class="delivery-drawer mobile-wrapper-popup">

  <div class="delivery-heading text-center">
    <img class="mobile-wrapper-close close-icon" src="{{ 'close-black.png' | asset_url }}" />
    <p class="title text-center mr-b-10 mr-t-0">
      LEVERING
    </p>
    <p class="sub-title mr-b-0">
      Bestil inden kl. 24 og få leveret i morgen.
    </p>
  </div>

  <div class="delivery-body">        
    <div class="drawer-zip-verification class-here">

      <div class="ask-zipcode">
        <h3 class="title">Leverer vi i dit område?</h3>
        <form class="form-zipcode" action="" method="get">
          <div class="temp" style="display:none;">{{ settings.zip }}</div>
          <input type="number" placeholder="Indtast dit postnummer" />
          <button type="submit" class="btn-check">Tjek</button>
        </form>
      </div>

      <div class="supported-zip text-center">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
          <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
        </svg>
        <p class="success title">Vi leverer i dit område</p>
      </div>

      <div class="unsupported-zip text-center">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
          <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
          <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
        </svg>
        <p class="error title">Vi leverer desværre ikke i dit område endnu. <a href="/pages/faq" style="color:#b10000;cursor: pointer;">Se hvor vi leverer.</a></p>
      </div>

    </div>          
  </div>

  <div class="delivery-footer">
    <div class="checkout-action">
      <div class="flex-container align-center justify-between" id="delivery-fetch">
        <p class="title mr-xs-0">I alt</p>
        <p class="mr-xs-0"><span>dkk</span><span class="title"></span></p>
      </div>
      <div class="flex-container align-center justify-between">
        <a href="javascript:void(0)" class="btn-general btn-checkout btn-primary-outline btn-min mobile-wrapper-close">Fortsæt indkøb</a>
        <a href="/cart" class="btn-general btn-checkout btn-primary-solid btn-min">Gå til betaling</a>
      </div>
    </div>
  </div>

</div>

<div class="calendar-drawer mobile-wrapper-popup">

  <div class="calendar-header text-center">
    <img class="mobile-wrapper-close close-icon sm-down--hide" src="{{ 'close-black.png' | asset_url }}" />
    <p class="heading text-center mr-b-10 mr-t-0">
      VÆLG LEVERINGSTID
    </p>
    <p class="sub-title mr-b-0">
      Bestillinger under 600 kr tilføjes 60 kr i grundgebyr.
    </p>
  </div>

  <div class="calendar-body">        
    <div class="calendar-timing">
      <div class="fixed-header-calendar"></div>
      <div class="free-timing">
        <p class="free-zone">10.00-15.00</p>
        <p class="free-zone">15.30-20.30</p>
      </div>
      <div class="premium-timing">
        <p class="premium-zone">10.00-11.00</p>
        <p class="premium-zone">11.00-12.00</p>
        <p class="premium-zone">12.00-13.00</p>
        <p class="premium-zone">13.00-14.00</p>
        <p class="premium-zone">14.00-15.00</p>
        <p class="premium-zone">15.30-16.30</p>
        <p class="premium-zone">16.30-17.30</p>
        <p class="premium-zone">17.30-18.30</p>
        <p class="premium-zone">18.30-19.30</p>
        <p class="premium-zone">19.30-20.30</p>
      </div>
    </div>

    <div class="calendar-slider">

      <div class="calendar-for">            

      </div>

      <div class="thumb-slider">
        <div class="calendar-nav">
          <div class="">
            <div class="free-slot-wrapper">
              <p class="free-slot individual-slot" data-dt="10.00-15.00" data-price='0'>Gratis</p>
              <p class="free-slot individual-slot" data-dt="15.30-20.30" data-price='0'>Gratis</p>
            </div>
            <div class="premium-slot-wrapper">
              <p class="premium-slot individual-slot" data-dt="10.00-11.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="11.00-12.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="12.00-13.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="13.00-14.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="14.00-15.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="15.30-16.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="16.30-17.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="17.30-18.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="18.30-19.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="19.30-20.30" data-price='1'>25 kr</p>
            </div>
          </div>
          <div class="">
            <div class="free-slot-wrapper">
              <p class="free-slot individual-slot" data-dt="10.00-15.00" data-price='0'>Gratis</p>
              <p class="free-slot individual-slot" data-dt="15.30-20.30" data-price='0'>Gratis</p>
            </div>
            <div class="premium-slot-wrapper">
              <p class="premium-slot individual-slot" data-dt="10.00-11.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="11.00-12.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="12.00-13.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="13.00-14.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="14.00-15.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="15.30-16.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="16.30-17.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="17.30-18.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="18.30-19.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="19.30-20.30" data-price='1'>25 kr</p>
            </div>
          </div>
          <div class="">
            <div class="free-slot-wrapper">
              <p class="free-slot individual-slot" data-dt="10.00-15.00" data-price='0'>Gratis</p>
              <p class="free-slot individual-slot" data-dt="15.30-20.30" data-price='0'>Gratis</p>
            </div>
            <div class="premium-slot-wrapper">
              <p class="premium-slot individual-slot" data-dt="10.00-11.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="11.00-12.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="12.00-13.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="13.00-14.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="14.00-15.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="15.30-16.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="16.30-17.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="17.30-18.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="18.30-19.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="19.30-20.30" data-price='1'>25 kr</p>
            </div>
          </div>
          <div class="">
            <div class="free-slot-wrapper">
              <p class="free-slot individual-slot" data-dt="10.00-15.00" data-price='0'>Gratis</p>
              <p class="free-slot individual-slot" data-dt="15.30-20.30" data-price='0'>Gratis</p>
            </div>
            <div class="premium-slot-wrapper">
              <p class="premium-slot individual-slot" data-dt="10.00-11.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="11.00-12.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="12.00-13.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="13.00-14.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="14.00-15.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="15.30-16.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="16.30-17.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="17.30-18.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="18.30-19.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="19.30-20.30" data-price='1'>25 kr</p>
            </div>
          </div>
          <div class="">
            <div class="free-slot-wrapper">
              <p class="free-slot individual-slot" data-dt="10.00-15.00" data-price='0'>Gratis</p>
              <p class="free-slot individual-slot" data-dt="15.30-20.30" data-price='0'>Gratis</p>
            </div>
            <div class="premium-slot-wrapper">
              <p class="premium-slot individual-slot" data-dt="10.00-11.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="11.00-12.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="12.00-13.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="13.00-14.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="14.00-15.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="15.30-16.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="16.30-17.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="17.30-18.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="18.30-19.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="19.30-20.30" data-price='1'>25 kr</p>
            </div>
          </div>
          <div class="">
            <div class="free-slot-wrapper">
              <p class="free-slot individual-slot" data-dt="10.00-15.00" data-price='0'>Gratis</p>
              <p class="free-slot individual-slot" data-dt="15.30-20.30" data-price='0'>Gratis</p>
            </div>
            <div class="premium-slot-wrapper">
              <p class="premium-slot individual-slot" data-dt="10.00-11.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="11.00-12.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="12.00-13.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="13.00-14.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="14.00-15.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="15.30-16.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="16.30-17.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="17.30-18.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="18.30-19.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="19.30-20.30" data-price='1'>25 kr</p>
            </div>
          </div>
          <div class="">
            <div class="free-slot-wrapper">
              <p class="free-slot individual-slot" data-dt="10.00-15.00" data-price='0'>Gratis</p>
              <p class="free-slot individual-slot" data-dt="15.30-20.30" data-price='0'>Gratis</p>
            </div>
            <div class="premium-slot-wrapper">
              <p class="premium-slot individual-slot" data-dt="10.00-11.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="11.00-12.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="12.00-13.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="13.00-14.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="14.00-15.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="15.30-16.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="16.30-17.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="17.30-18.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="18.30-19.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="19.30-20.30" data-price='1'>25 kr</p>
            </div>
          </div>
          <div class="">
            <div class="free-slot-wrapper">
              <p class="free-slot individual-slot" data-dt="10.00-15.00" data-price='0'>Gratis</p>
              <p class="free-slot individual-slot" data-dt="15.30-20.30" data-price='0'>Gratis</p>
            </div>
            <div class="premium-slot-wrapper">
              <p class="premium-slot individual-slot" data-dt="10.00-11.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="11.00-12.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="12.00-13.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="13.00-14.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="14.00-15.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="15.30-16.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="16.30-17.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="17.30-18.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="18.30-19.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="19.30-20.30" data-price='1'>25 kr</p>
            </div>
          </div>
          <div class="">
            <div class="free-slot-wrapper">
              <p class="free-slot individual-slot" data-dt="10.00-15.00" data-price='0'>Gratis</p>
              <p class="free-slot individual-slot" data-dt="15.30-20.30" data-price='0'>Gratis</p>
            </div>
            <div class="premium-slot-wrapper">
              <p class="premium-slot individual-slot" data-dt="10.00-11.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="11.00-12.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="12.00-13.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="13.00-14.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="14.00-15.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="15.30-16.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="16.30-17.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="17.30-18.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="18.30-19.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="19.30-20.30" data-price='1'>25 kr</p>
            </div>
          </div>
          <div class="">
            <div class="free-slot-wrapper">
              <p class="free-slot individual-slot" data-dt="10.00-15.00" data-price='0'>Gratis</p>
              <p class="free-slot individual-slot" data-dt="15.30-20.30" data-price='0'>Gratis</p>
              
            </div>
            <div class="premium-slot-wrapper">
              <p class="premium-slot individual-slot" data-dt="10.00-11.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="11.00-12.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="12.00-13.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="13.00-14.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="14.00-15.00" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="15.30-16.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="16.30-17.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="17.30-18.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="18.30-19.30" data-price='1'>25 kr</p>
              <p class="premium-slot individual-slot" data-dt="19.30-20.30" data-price='1'>25 kr</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="calendar-footer">
    <div class="checkout-action">
<!--       <div class="mr-b-10 flex-container align-center justify-between" id="delivery-fetch-cal">
        <p class="title mr-xs-0">I alt</p>
        <p class="mr-xs-0"><span>dkk</span><span class="title"></span></p>
      </div> -->
      <div class="flex-container align-center justify-between">
        <a href="javascript:void(0)" class="btn-general btn-primary-outline btn-min sm-up--hide mobile-wrapper-close">annuller</a>
        <a href="javascript:void(0)" class="btn-general btn-checkout btn-primary-outline btn-min sm-down--hide mobile-wrapper-close">Fortsæt indkøb</a>
        <a href="/cart" class="btn-general btn-checkout btn-primary-solid btn-min">Gå til betaling</a>
      </div>
    </div>
  </div>
</div>

<div class="cart-json" style="display:none;">{{ cart | json }}</div>
{% schema %}
  {
    "name": "Delivery Date",
    "settings": [
      
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
