<script
  type="application/json"
  data-section-type="static-collection"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "shop_url": {{ shop.url | replace_first: 'http:' | json }},
    "collection_handle": {{ collection.handle | json }},
    "sort_by": {{ collection.sort_by | default: collection.default_sort_by | json }},
    "text": {
      "refine": {{ 'collection.refine.button_title' | t | json }},
      "apply": {{ 'general.form.apply' | t | json }},
      "cancel": {{ 'general.form.cancel' | t | json }}
    }
  }
</script>

{%- assign paginate_by = section.settings.products_per_page -%}

{% if collection.handle == 'fisk' %}
	{%- assign linklist_collection = 'fisk-skaldyr' -%}
{% elsif collection.handle == 'okologisk-koldpresset-juice' %}
	{%- assign linklist_collection = 'drikke' -%}
{% elsif collection.handle == 'summerbird-1' %}
	{%- assign linklist_collection = 'summerbird' -%}
{% elsif collection.handle == 'kod' %}
	{%- assign linklist_collection = 'Kod' -%}
{% elsif collection.handle == 'broed' %}
	{%- assign linklist_collection = 'Brod-kager' -%}
{% elsif collection.handle == 'kol-mejeri' %}
	{%- assign linklist_collection =  'kol-mejeri' -%}
{% endif %}

{%- paginate collection.products by paginate_by -%}
  <div
    class="collection-grid
      collection-grid-uninit
      product-item-style-{{ section.settings.product_item_style }}"
    data-collection-grid>
    <header
      class="
        collection-header
        {% unless collection.image %}collection-header-no-image{% endunless %}
      "
      data-collection-header>
      
      
      
      {%- if collection.image -%}
        <figure class="collection-image">
          <img
            alt="{{ collection.image.alt | escape }}"
            src="{{ collection.image | img_url: '600x', format: 'pjpg' }}"
            srcset="{{ collection.image | img_url: '600x', scale: 2, format: 'pjpg' }} 2x">
        </figure>
      {%- endif -%}
      <div class="collection-header-info">
        <h1 class="heading">{{ collection.title }}</h1>
        {%- if collection.description -%}
          <div class="collection-header-description">{{ collection.description }}</div>
        {%- endif -%}
      </div>
    </header>

    {%- if collection.products.size == 0 -%}
      <p class="collection-empty">
        {%- if collection.all_products_count == 0 -%}
          {{ 'collection.empty' | t }}
        {%- else -%}
          {{ 'collection.tags_empty' | t }}
        {%- endif -%}
      </p>
    {%- endif -%}

    <div class="faq-section" style="clear:both;" >
      <div class="container " >
        <div class="grid">
          <div class="grid__item">

            {% if linklist_collection %}
            <nav class="collection-filter filter-menu {% if template contains 'vender-articles' %}no-filter{% endif %}">
              <h2 class="category-heading bordered-title">{{ linklists[linklist_collection].title }}</h2>

              <ul class="faq-category-list">
                {% for link in linklists[linklist_collection].links %}
                
                {% assign linkRemove = link.title | split:'_del-' %}
                {% assign linkHandleRemove = link.handle | split:'_del-' %}
                
                {% assign child_list_handle = link.title | handleize %}
                {% if linklists[child_list_handle].links != blank %}
                <li>
                  <a href="#{{ linkHandleRemove[0] }}" class="scroll-link mainLink {{ linkHandleRemove[0] }}" style="cursor: pointer;">{{linkRemove[0]}}</a>
                  <ul class="sub-menu">
                    {% for childlink in linklists[child_list_handle].links %}
                    {% assign sublinkRemove = childlink.title | split:'_del-' %}
                    {% assign sublinkHandleRemove = childlink.handle | split:'_del-' %}
                    <li>
                      <a href="#{{ sublinkHandleRemove[0] }}" class="scroll-link" style="cursor: pointer;">{{ sublinkRemove[0] }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li><a href="#{{ linkHandleRemove[0] }}" class="scroll-link" style="cursor: pointer;">{{linkRemove[0]}}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </nav>
            {% endif %}

            <div class="filter-main {% if template contains 'vender-articles'%}full-listing{% endif %} {% unless linklist_collection %} full-listing{% endunless%}">
              <div class="grid" style="overflow:hidden;">
                {% unless collection.handle == 'broed' or collection.handle == 'gront' or collection.handle == 'okologisk-gourmet-is-fra-jacob-jakob-icecream' %}
                
                
                {% for link in linklists[linklist_collection].links %}
                
                {% assign linkRemove = link.title | split:'_del-' %}
                {% assign linkHandleRemove = link.handle | split:'_del-' %}
                
                {% assign child_list_handle = link.title | handleize %}
                {% if linklists[child_list_handle].links != blank %}
                
                  	{% for childlink in linklists[child_list_handle].links %}
                      {% assign sublinkRemove = childlink.title | split:'_del-' %}
                      {% assign sublinkHandleRemove = childlink.handle | split:'_del-' %}
                      <div class="collection-list individual-faq" id="{{ sublinkHandleRemove[0] }}">
                       
                        <div class="featured-heading-wrapper ">
                          <p class="heading listed-category pd-l-30 pd-xs-l-5 no-border-title" id="{{ sublinkHandleRemove[0] }}">
                            {{ sublinkRemove[0] }}
                          </p>
                        </div>
                        {% assign handl = childlink.handle %}
                        {%- for product in collections[handl].products -%}
                        {% if product.title %}
                        {% include 'collection-product' %}
                        {% endif %}
                        {%- endfor -%}
                      </div>
                    {% endfor %}
                  
                {% else %}
                <div class="collection-list individual-faq" id="{{ linkHandleRemove[0] }}">

                    <div class="featured-heading-wrapper ">
                      <p class="heading listed-category pd-l-30 pd-xs-l-5 no-border-title" id="{{ link.handle }}">
                        {{ linkRemove[0] }}
                      </p>
                    </div>
                    {% assign handl = link.handle %}
                    {%- for product in collections[handl].products -%}
                    {% if product.title %}
                    {% include 'collection-product' %}
                    {% endif %}
                    {%- endfor -%}
                </div>
                  
                {% endif %}
                {% endfor %}
                
                {% comment %}
                
                  {% for link in linklists[linklist_collection].links %}
                    <div class="collection-list individual-faq" id="{{ link.handle }}">

                      {% if link.levels == 0 %}
                        <div class="featured-heading-wrapper ">
                          <p class="heading listed-category pd-l-30 pd-xs-l-5 no-border-title" id="{{ link.handle }}">
                            {{ link.title }}
                          </p>
                        </div>
					  {% endif %}
                      
                      {% if link.levels == 1 %}
                        {% for sub_link in link.links %}
                          <div class="collection-list individual-faq" id="{{ sub_link.handle }}">
<!--                             <p class="heading listed-category pd-l-30 pd-xs-l-5" id="{{ link.handle }}">
                              {{ link.title }}
                            </p> -->
                            <div class="featured-heading-wrapper ">
                              <p class="heading listed-category pd-l-30 pd-xs-l-5 no-border-title" id="{{ link.handle }}">
                                {{ sub_link.title }}
                              </p>
                            </div>
                            {% assign handl = sub_link.handle %}
                            {%- for product in collections[handl].products -%}
                            {% if product.title %}
                            {% include 'collection-product' %}
                            {% endif %}
                            {%- endfor -%}
                          </div>
                        {% endfor %}
                      {% else %}
                        {% assign handl = link.handle %}
                        {%- for product in collections[handl].products -%}
                          {% if product.title %}
                          	{% include 'collection-product' %}
                          {% endif %}
                        {%- endfor -%}
                      {% endif %}

                    </div>
                  {% endfor %}
                {% endcomment %}
                {% else %}
                  <div class="collection-list individual-faq" >
                    <div class="featured-heading-wrapper">
                      <p class="heading listed-category pd-l-30 pd-xs-l-5 no-border-title" >
                        {{ collection.title }}
                      </p>                  
                    </div>
                    {%- for product in collection.products -%}
                    {% include 'collection-product' %}
                    {%- endfor -%}
                  </div>
                {% endunless %}
              </div>
            </div>        
          </div>

        </div>
      </div>
    </div>
    
    {%- unless paginate.next -%}
      {%- for block in section.blocks -%}
        {%- assign block_index = block.settings.index | times: 1 -%}
        {%- if block.settings.collection == collection.handle and block_index > index_based_on_page -%}
          {%- assign advertisement = block -%}
          <div class="collection-grid-item collection-grid-item-advertisement" {{ block.shopify_attributes }} data-collection-grid-item>
            <p class="collection-grid-item-advertisement-text">{{ advertisement.settings.text }}</p>
            <a class="collection-grid-item-advertisement-link" href="{{ advertisement.settings.link }}">
              <span class="collection-grid-item-advertisement-link-text">{{ advertisement.settings.link_text }}</span>
              <span class="collection-grid-item-advertisement-link-arrow">{%- include 'icon', id: 'arrow' -%}</span>
            </a>
          </div>
        {%- endif -%}
      {%- endfor -%}
    {%- endunless -%}
  </div>

  {%- include 'pagination' -%}
{%- endpaginate -%}

{%- include 'collection-menu' -%}
<script>
      $(document).ready(function(){
        var linkURL = window.location.href;
        linkURL = linkURL.split('#')[1];
        console.log('linkURL-->',$.trim(linkURL));
        setTimeout(function(){
          $('.'+$.trim(linkURL)).click();
        },500)
      });
    </script>
{% schema %}
{
  "name": "Collection pages",
  "class": "section-collection",
  "settings": [
    {
      "type": "select",
      "id": "products_per_page",
      "label": "Products per page",
      "options": [
        { "value": "10", "label": "10" },
        { "value": "12", "label": "12" },
        { "value": "15", "label": "15" },
        { "value": "20", "label": "20" },
        { "value": "25", "label": "25" },
        { "value": "30", "label": "30" },
        { "value": "35", "label": "35" },
        { "value": "40", "label": "40" },
        { "value": "45", "label": "45" },
        { "value": "50", "label": "50" }
      ],
      "default": "12"
    },
    {
      "id": "product_item_style",
      "type": "select",
      "label": "Product aspect ratio",
      "info": "Using an uncropped setting will generate white space around the image to create a uniform grid without cropping your image. The background in the editor indicates the applied white space, but will not appear on your storefront.",
      "options": [
        { "group": "Uncropped", "value": "natural", "label": "Natural" },
        { "group": "Uncropped", "value": "small", "label": "Short (4:3)" },
        { "group": "Uncropped", "value": "medium", "label": "Square (1:1)" },
        { "group": "Uncropped", "value": "large", "label": "Tall (2:3)" },
        { "group": "Cropped", "value": "cropped-small", "label": "Short (4:3)" },
        { "group": "Cropped", "value": "cropped-medium", "label": "Square (1:1)" },
        { "group": "Cropped", "value": "cropped-large", "label": "Tall (2:3)" }
      ],
      "default": "natural"
    },
    {
      "id": "enable_product_quickshop",
      "type": "checkbox",
      "label": "Enable product quickshop",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "ad",
      "name": "Promotion",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection",
          "info": "Unless specified, promotion will appear on all collection pages"
        },
        {
          "id": "index",
          "type": "text",
          "label": "Display after X products",
          "default": "10"
        },
        {
          "id": "text",
          "type": "textarea",
          "label": "Text",
          "default": "Promotion text"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Link"
        },
        {
          "id": "link_text",
          "type": "text",
          "label": "Link text",
          "default": "More info here"
        }
      ]
    }
  ]
}

{% endschema %}
