<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="static-contactbar"
  data-section-data>
  {
    "trigger": {{ section.settings.trigger | handleize | json }}
  }
</script>

{%- capture directions_address -%}
  {{-
    section.settings.directions_value
    | strip_html
    | json
    | strip
    | replace: '"', ''
    | replace: '\n', ' '
    | replace: '\r', ' '
    | replace: '&nbsp;', ' '
    | replace: '  ', ' '
    | replace: '  ', ' '
    | replace: ' ', '+'
    | escape
  -}}
{% endcapture %}

{%- capture directions_url -%}
  https://maps.google.com/?saddr=Current+Location&daddr={{- directions_address -}}
{%- endcapture -%}

<div class="contactbar-layout" data-contactbar-clone-source data-nav-trigger>

  {% if section.settings.directions_map %}
    {% assign has_map = true %}
    {% assign map_color_bg = section.settings.directions_map_color_bg %}
    {% assign map_color_fg = section.settings.directions_map_color_fg %}

    {% assign map_color_a = map_color_fg | replace: '#', '0x' %}
    {% assign map_color_b = map_color_bg | color_mix: map_color_fg, 30 | replace: '#', '0x' %}
    {% assign map_color_c = map_color_bg | color_mix: map_color_fg, 50 | replace: '#', '0x' %}
    {% assign map_color_d = map_color_bg | color_mix: map_color_fg, 70 | replace: '#', '0x' %}
    {% assign map_color_e = map_color_bg | color_mix: '#ffffff', 98 | replace: '#', '0x' %}
    {% assign map_color_f = map_color_bg | color_mix: '#000000', 50 | replace: '#', '0x' %}

    <div class="contactbar-map">
      <a
        class="contactbar-map-link"
        href="{{ directions_url }}"
        target="_blank"
        style="background-image: url({{-
            'https://maps.googleapis.com/maps/api/staticmap'
            | append: '?size=640x320'
            | append: '&scale=2'
            | append: '&zoom=' | append: section.settings.directions_map_zoom
            | append: '&format=jpeg'
            | append: '&markers=size:mid%7Ccolor:' | append: map_color_a | append: '%7C' | append: directions_address
            | append: '&style=element:geometry%7Ccolor:' | append: map_color_e
            | append: '&style=element:labels.icon%7Cvisibility:off'
            | append: '&style=element:labels.text.fill%7Ccolor:' | append: map_color_a
            | append: '&style=element:labels.text.stroke%7Ccolor:' | append: map_color_e
            | append: '&style=feature:administrative%7Celement:geometry%7Cvisibility:off'
            | append: '&style=feature:administrative.country%7Cvisibility:off'
            | append: '&style=feature:administrative.land_parcel%7Cvisibility:off'
            | append: '&style=feature:administrative.neighborhood%7Cvisibility:off'
            | append: '&style=feature:administrative.locality%7Celement:labels.text.fill%7Ccolor:' | append: map_color_a
            | append: '&style=feature:poi%7Cvisibility:off'
            | append: '&style=feature:road%7Celement:geometry.fill%7Ccolor:' | append: map_color_d
            | append: '&style=feature:road%7Celement:labels.icon%7Cvisibility:off'
            | append: '&style=feature:road.arterial%7Celement:geometry%7Ccolor:' | append: map_color_c
            | append: '&style=feature:road.highway%7Celement:geometry%7Ccolor:' | append: map_color_b
            | append: '&style=feature:road.highway.controlled_access%7Cvisibility:off'
            | append: '&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:' | append: map_color_b
            | append: '&style=feature:road.local%7Celement:labels.text.stroke%7Ccolor:' | append: map_color_e
            | append: '&style=feature:transit%7Cvisibility:off'
            | append: '&style=feature:water%7Celement:geometry%7Ccolor:' | append: map_color_f
            | strip_newlines
          -}});">
      </a>
    </div>
  {% endif %}

  <div class="contactbar-items {% if has_map %}contactbar-hasmap{% endif %}">
    <div class="contactbar-items-layout">
      {% if section.settings.phone_value != blank %}
        {%- capture phone_url -%}
          tel:{{ section.settings.phone_value | strip_newlines | remove: ' ' | escape }}
        {%- endcapture -%}

        <div class="contactbar-item">
          <a class="contactbar-item-link" href="{{ phone_url }}">
            <div class="contactbar-item-icon">{% include 'icon', id: 'contact-phone' %}</div>
            <div class="contactbar-item-label">{{ 'phone_title' | t }}</div>
            <div class="contactbar-item-value">{{ section.settings.phone_value }}</div>
          </a>
        </div>
      {% endif %}

      {% if section.settings.email_value != blank %}
        <div class="contactbar-item">
          <a class="contactbar-item-link" href="mailto:{{ section.settings.email_value | escape }}">
            <div class="contactbar-item-icon">{% include 'icon', id: 'contact-email' %}</div>
            <div class="contactbar-item-label">{{ 'email_title' | t }}</div>
            <div class="contactbar-item-value">{{ section.settings.email_value }}</div>
          </a>
        </div>
      {% endif %}

      {% if section.settings.hours_value != blank %}
        <div class="contactbar-item">
          <a class="contactbar-item-link" href="#" data-contactbar-info-trigger>
            <div class="contactbar-item-icon">{% include 'icon', id: 'contact-hours' %}</div>
            <div class="contactbar-item-label">{{ 'hours_title' | t }}</div>
            <div class="contactbar-item-value">{{ section.settings.hours_value }}</div>
          </a>
        </div>
      {% endif %}

      {% if section.settings.directions_value != blank %}
        <div class="contactbar-item">
          <a class="contactbar-item-link" href="{{ directions_url }}" target="_blank">
            <div class="contactbar-item-icon">{% include 'icon', id: 'contact-directions' %}</div>
            <div class="contactbar-item-label">{{ 'directions_title' | t }}</div>
            <div class="contactbar-item-value">{{ section.settings.directions_value }}</div>
          </a>
        </div>
      {% endif %}
    </div>
  </div>

  {% if section.settings.hours_value != blank %}
    <div class="contactbar-info">
      <a href="#" class="contactbar-info-close" data-contactbar-info-close>
        {% include 'icon', id: 'close' %}
      </a>

      {% if section.settings.directions_value != blank %}
        <div class="contactbar-info-address">
          {{ section.settings.directions_value }}
        </div>
      {% endif %}

      <div class="contactbar-info-hours">
        {{ section.settings.hours_value}}
      </div>
    </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "Contact bar",
  "class": "contactbar",
  "settings": [
    {
      "id": "trigger",
      "type": "text",
      "label": "Parent link name",
      "info": "Enter the exact name of the link in your main menu that will act as the top-level link for your contact bar."
    },

    {
      "type": "header",
      "content": "Contact information"
    },
    {
      "id": "phone_value",
      "type": "text",
      "label": "Phone number",
      "default": "+1 111 111 1111"
    },
    {
      "id": "email_value",
      "type": "text",
      "label": "Email address",
      "default": "shop@example.com"
    },
    {
      "id": "hours_value",
      "type": "richtext",
      "label": "Hours/store information",
      "default": "<p>Mon-Fri, 9am-5pm</p>"
    },
    {
      "id": "directions_value",
      "type": "richtext",
      "label": "Street address",
      "default": "<p>1005 Langley St</p><p>Victoria, BC V8W 1V7</p>"
    },
    {
      "id": "directions_map",
      "type": "checkbox",
      "label": "Show map",
      "default": false
    },
    {
      "id": "directions_map_zoom",
      "type": "select",
      "label": "Map zoom level",
      "options": [
        { "value": "", "label": "Default" },
        { "value": "12", "label": "1x" },
        { "value": "13", "label": "2x" },
        { "value": "14", "label": "3x" },
        { "value": "15", "label": "4x" },
        { "value": "16", "label": "5x" },
        { "value": "17", "label": "6x" }
      ],
      "default": ""
    },
    {
      "id": "directions_map_color_fg",
      "type": "color",
      "label": "Map foreground color",
      "default": "#292929"
    },
    {
      "id": "directions_map_color_bg",
      "type": "color",
      "label": "Map background color",
      "default": "#ffffff"
    }
  ],
  "locales": {
    "en": {
      "phone_title": "Call",
      "email_title": "Contact",
      "directions_title": "Directions",
      "hours_title": "Store info"
    }
  }
}

{% endschema %}