<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="static-header"
  data-section-data>
  {
    "settings": {{ section.settings | json }},
    "currency": {
      "enable": {{ settings.enable_currency_converter | default: false }},
      "shopCurrency": {{ shop.currency | json }},
      "defaultCurrency": {{ settings.currency_converter_default | default: shop.currency | json }},
      "displayFormat": {{ settings.currency_display_format | json }},
      "moneyFormat": {{ shop[settings.currency_display_format] | default: shop.money_format | strip_html | json }},
      "moneyFormatNoCurrency": {{ shop.money_format | strip_html | json }},
      "moneyFormatCurrency": {{ shop.money_with_currency_format | strip_html | json }}
    }
  }
</script>

<!-- <p class="template-handle">
  {{ handle  }}
</p> -->

<div class="container header-container">
<div class="site-header-wrapper">
  <div class="mobilenav-toggle">
   
    {{ 'menu-icon.svg' | asset_url | img_tag }}
    {% comment %}
    {% include 'icon', id: 'mobilenav-toggle' %}
    {% endcomment %}
    <a class="mobilenav-toggle-link" href="#site-mobilenav" data-mobilenav-toggle></a>
  </div>
  
  <div class="top_header">
    
    <div class="close-search pointer flex-container align-center sm-up--hide">
      <span><img class="close-icon" src="{{ 'close-black.png' | asset_url }}" /></span>
    </div>
    
    <!------------ Site Search ------------->
    <div class="site-actions-search">
      <form action="/search" id="search_form" method="get" role="search" _lpchecked="1">
        <input type="hidden" name="type" value="product">
        <input class="search-itself" placeholder="SØG" type="search" id="data_search" name="q" value="" autocomplete="off"/>   
      </form>
      <a onclick="document.search_form.submit()" aria-label="{{ 'search.form.title' | t }}">
        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 512 512" x="0px" y="0px"><title>Search1</title><path d="M197.59,64A135.18,135.18,0,1,1,62.41,199.18,135.18,135.18,0,0,1,197.59,64m0-62.41a197.63,197.63,0,0,0-76.93,379.63A197.63,197.63,0,0,0,274.52,17.14,196.41,196.41,0,0,0,197.59,1.59h0Z"/><rect x="374.74" y="285.57" width="62.41" height="237.57" transform="translate(-167.02 405.48) rotate(-45)"/></svg>
      </a>
    </div>

    {% comment %}
    Site Logo
    {% endcomment %}
    <a class="site-logo" href="/">
      <h1 class="site-logo-header">
        {% if section.settings.logo or section.settings.mobile_logo %}
        {% assign desktop_logo = section.settings.logo | default: section.settings.mobile_logo %}
        {% capture desktop_logo_size %}x{{ section.settings.logo_width | default: 160 | times: 2 }}{% endcapture %}
        <img
             class="site-logo-image"
             alt="{{ shop.name | escape }}"
             {% if section.settings.logo_width != blank %}
             style="max-width: {{ section.settings.logo_width }}px"
             {% endif %}
             src="{{ desktop_logo | img_url: desktop_logo_size }}">

        {% assign mobile_logo = section.settings.mobile_logo | default: section.settings.logo %}
        {% capture mobile_logo_size %}x{{ section.settings.mobile_logo_width | default: 80 | times: 2 }}{% endcapture %}
        <img
             class="site-logo-image-mobile"
             alt="{{ shop.name | escape }}"
             {% if section.settings.mobile_logo_width != blank %}
             style="max-width: {{ section.settings.mobile_logo_width }}px"
             {% endif %}
             src="{{ mobile_logo | img_url: mobile_logo_size }}">
        {% else %}
        <div class="site-logo-text">{{ shop.name }}</div>
        {% endif %}
      </h1>
    </a>
    
    <!------------ Site Cart ------------->
    <div class="site-actions-cart">
      
      <a class="delivery-drawer-switch switch-delivery">
        <img class="cart-icon cycle-icon" src="{{ 'pasted-image.png' | asset_url }}" />
        <span class="site-actions-cart-label">
          <span id="date_head"></span>
          <span class="cart_text" id="time_head"></span>
        </span>
      </a>
      
      {% unless template == 'cart' %}<span class="vertical-divider"></span>
      <a href="javascript:void(0);" class="cart-switch site-header__cart-toggle js-drawer-open-right" aria-label="{{ 'cart.view_cart' | t }}" aria-controls="CartDrawer" aria-expanded="false">
        <img class="cart-icon" src="{{ 'shopping-bag.png' | asset_url }}" />
        <span class="site-actions-cart-label">
          <span class="head_cart" data-price="{{cart.original_total_price }}" data-cart-item-count>{{ cart.original_total_price | money}}</span>
          <span class="cart_text">{{ section.settings.cart_label_text }}</span>
        </span>

        {% comment %} {% include 'icon', id: 'cart-stroke' %}
        <img width="18px" src="{{ "700400.svg" | asset_url }}"> {% endcomment %}
      </a>
      {% endunless %}
    </div>

  </div>
  
  
  
  <div class="bottom_header">
    
    <div class="header_social">
      <ul>
        {% if settings.social_facebook %}<li><a href="{{ settings.social_facebook }}" target="_blank">{{ 'facebook-icon.svg' | asset_url | img_tag }}</a></li>{% endif %}
        {% if settings.social_instagram %}<li><a href="{{ settings.social_instagram }}" target="_blank">{{ 'insta-icon.svg' | asset_url | img_tag }}</a></li>{%  endif %}
      </ul>
    </div>

    {% comment %}
    Desktop Navigation
    {% endcomment %}
    <div class="scroll-nav">
      <nav class="site-navigation">
        {% include 'navmenu',
      	menu: section.settings.menu,
        depth: 1,
        max_depth: 4
        %}
        <div class="site-navigation-overlay"></div>
      </nav>
    </div>
    {% comment %}
    Site Actions (Currency selector, account link, cart, and search)
    {% endcomment %}
    <div class="site-actions">
      {% if settings.enable_currency_converter %}
      <div class="site-actions-currency">
        <select
                class="site-actions-currency-select"
                name="currencies"
                data-currency-converter>
          {% capture supported_currencies %}USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK{% endcapture %}
          {% assign store_currencies = settings.currency_converter_currencies | split: ' ' %}
          <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
          {% for code in store_currencies %}
          {% if code != shop.currency and supported_currencies contains code %}
          <option value="{{ code }}">{{ code }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      {% endif %}

      {% if shop.customer_accounts_enabled %}
      <div class="site-actions-account">
        {% if customer %}
        
        <a href="/account">{{ 'header.account.title' | t }}</a>
        {% else %}
        <img class="avatar" src="{{ 'avatar.png' | asset_url }}" />
        {{ 'header.account.login' | t | customer_login_link }}
        {% endif %}
      </div>
      {% endif %}

      <div class="searchToggle" style="display:none;">
        <form class="search-form" action="/search">
          <div class="search-form-icon">{% include 'icon', id: 'search' %}</div>

          <input
                 class="search-form-input"
                 aria-label="{{ 'search.form.title' | t }}"
                 type="text"
                 placeholder="{{ 'search.form.placeholder' | t }}"
                 name="q"
                 {% unless search.performed %}autofocus{% endunless %}
                 value="{{ search.terms | escape }}">
          <div class="closeIcon">
            {%- include 'icon', id: 'close' -%}
          </div>
        </form>
      </div>
    </div>

  </div>
    
</div>
</div>
  

{% comment %}
  Mobile Navigation
{% endcomment %}
<div id="site-mobilenav" class="mobilenav">
  <div class="mobilenav-panel" data-mobilenav-animator>
    <div class="mobilenav-panel-content">
      <form class="mobilenav-search" action="/search">
        <div class="mobilenav-search-icon">{% include 'icon', id: 'search' %}</div>

        <input
          class="mobilenav-search-input"
          aria-label="{{ 'search.form.title' | t }}"
          type="text"
          placeholder="{{ 'search.form.placeholder' | t }}"
          name="q"
          value="{{ search.terms | escape }}">

        <a class="mobilenav-search-cancel">{{ 'search.form.cancel' | t }}</a>
      </form>

      <div class="mobilenav-meganav" data-meganav-mobile-target></div>

      <nav class="mobilenav-navigation">
        {% include 'navmenu',
          menu: section.settings.menu,
          depth: 1,
          max_depth: 3
        %}
      </nav>
    </div>

    <div class="mobilenav-contactbar" data-contactbar-mobile-target></div>
  </div>

  <div
    class="mobilenav-overlay"
    data-mobilenav-animator
    aria-label="{{ 'general.form.close' | t}}">
    {% include 'icon', id: 'close' %}
  </div>
</div>


{% schema %}
{
  "name": "Header",
  "class": "site-header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "id": "logo",
      "type": "image_picker",
      "label": "Logo image",
      "info": "400 x 200px .png recommended"
    },
    {
      "id": "logo_width",
      "type": "text",
      "label": "Custom logo width (in pixels)"
    },
    {
      "id": "mobile_logo",
      "type": "image_picker",
      "label": "Mobile logo image",
      "info": "An optional logo to display on mobile. 400 x 200px .png recommended."
    },
    {
      "id": "mobile_logo_width",
      "type": "text",
      "label": "Custom mobile logo width (in pixels)"
    },

    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "id": "menu",
      "type": "link_list",
      "label": "Main menu",
      "default": "main-menu"
    },
    {
      "id": "cart_label_text",
      "type": "text",
      "label": "Cart Text"
    }
  ]
}

{% endschema %}