<div class="right-filter-menu">
  <h3 class="title bordered-title know">
    {{ section.settings.heading }}
  </h3>
  <p class="description-sm">
    {{ section.settings.line1 }}  
  </p>
  <p class="description-sm">
    {{ section.settings.line2 }}  
  </p>
  <h2 class="faq-heading">
    <a href="{{ section.settings.link }}">{{ section.settings.page_name }}</a>
  </h2>
</div>
  
{% schema %}
  {
    "name": "Static Contact Info",
    "settings": [
    {
    "type" : "header",
    "content" : "Content"
    },
	{
	"type" : "text",
	"id" : "heading",
    "label" : "Side bar heading",
	"default" : "Vidste du?"
	},
    {
    "type" : "text",
    "id" : "line1",
    "label" : "Info line1",
	"default" : "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
    },
    {
    "type" : "text",
    "id" : "line2",
    "label" : "Info line2",
	"default" : "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
    },
{
    "type" : "text",
    "id" : "page_name",
    "label" : "Text for page name",
	"default" : "spørgsmål og svar"
    },
	{
    "type" : "url",
    "id" : "link",
    "label" : "Page link"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
