<script
  type="application/json"
  data-section-type="static-cart"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "money_format": {{ shop.money_format | json }},
    "button_update_shipping_title": {{ 'cart.button_update_shipping_title' | t | json }},
    "button_update_shipping_disabled_title": {{ 'cart.button_update_shipping_disabled_title' | t | json }},
    "money_format_custom": {{ shop.money_with_currency_format | json }},
    "customer_logged_in": {%- if customer -%}true{%- else -%}false{%- endif -%}
  }
</script>
<!--"money_format": {{ shop.money_with_currency_format | json }},-->

<header class="collection-header collection-header-no-image" data-collection-header="">
  <div class="collection-header-info">
    <h1 class="heading">{{ 'cart.title' | t }}</h1>
    <div class="collection-header-description">Rabatkoder tilføjes i checkout</div>
    <span class="cart-empty-message{% if cart.items.size != 0 %} cart-empty-message-hidden{% endif %}" data-cart-empty-message>{{ 'cart.empty' | t }}</span>
  </div>
</header>

<section class="cart-design">
  
  <div class="container">
    <div class="grid">
      <div class="grid__item">
      
        <div class="basket-wrapper">
          <div class="basket-container">
            <h1 class="basket-heading">DIN KURV</h1>
            <form id="cartform" action="/cart" method="post" novalidate >
            <div class="basket_bucket">
              {%- for item in cart.items -%}
              
                <div class="basket-items" data-item="{{ item.id }}" {% if item.title == 'Leveringsgebyr (1-times interval)' %}style="display:none;"{% endif %}>
                  
                  <div class="remove-item-overlay"></div>
                  
                  <div class="basket-product-image">
                    <a href="{{ item.url }}" class="ds-block">
                      <img
                           src="{{ item.image | img_url: '120x', format: 'pjpg' }}"
                           srcset="{{ item.image | img_url: '120x', scale: 2, format: 'pjpg' }} 2x">
                    </a>
                  </div>
                  <div class="basket-product-details">
                    <p class="product-title">
                      <a href="{{ item.url }}">
                        {{ item.product.title }}
                      </a>
                    </p>
                    
                    {% unless item.variant.title contains 'Default' %}
                    <p class="variant-name">{{ item.variant.title }}</p>
                    {% endunless %}

                    <p class="product-vendor">
                      <a href="/collections/{{ item.product.vendor }}">
                      {{ item.product.vendor }}
                        </a>
                    </p>
                      {% for tag in item.product.tags %}
                      {% if tag contains 'byline' %}
                      <p class="product-byline">
                        {{ tag | remove: "byline_" }}
                      </p>
                      {% endif %}
                      {% endfor %}          
                    
                    <p class="product-price" id="pr_money_{{item.id}}">{{ item.line_price | money }}</p>
                  </div>
                  <div class="basket-product-qty">
                    <div class="incrementor-wrapper">
                        <div class="numbers-row">                          
                          <div class="dec-qty qty-button">
                            <img src="{{ 'minus-icon.png' | asset_url }}" />
                          </div>  
                          
						  <input onfocus="this.select()" autocomplete="off" class="qty product-quantity" data-find="find_{{ item.product_id }}" type="text" name="updates[]" data-item="{{ item.id }}" id="updates_{{ item.key }}" value="{{ item.quantity }}">
                          <div class="inc-qty qty-button">
                            <img src="{{ 'plus-icon.png' | asset_url }}" />
                          </div>
                        </div>
                    </div>
                  </div>
                  <span class="remove-product removeCartAjax_{{ item.id }}" data-id="{{ item.id }}" data-pro-id="{{ item.product.handle }}">
                    <img  src="{{ 'close-black.png' | asset_url }}" />
                  </span>
                </div>
              
              {%- endfor -%}
              {%- if cart.items.size != 0 -%}
                <div class="note-cart" style="display:none;">
                  <textarea
                            id="CartSpecialInstructions"
                            name="note"
                            class="cart-note-content" 
                            placeholder="{{ section.settings.notes_placeholder }}"
                             >{{ cart.note }}</textarea>
                </div>
                {%- endif -%}
            </div>
            </form>
          </div>
          <div class="delivery-container" id="delivery-container">
            <div>
            <h1 class="basket-heading text-uppercase">LEVERING & BETINGELSER</h1>
              
              <div class="done-zipcode text-center">
                <p class="sub-title cart-time-head">Leveringstid</p>
                <h3 class="title mr-tb-10" id="time-date-desk"></h3>
                <a class="btn-general btn-grey-outline" id="open_drawer_date">
                	Skift dato
                </a>
              </div>
              
              <div class="ask-zipcode">
                <h3 class="title">Leverer vi i dit område?</h3>
                <form class="form-zipcode">
                  <div class="temp" style="display:none;">{{ settings.zip }}</div>
                  <input type="number" placeholder="Indtast dit postnummer" autocomplete="off"/>
                  <button class="btn-check">Tjek</button>
                </form>
                <div class="unsupported-zip text-center"  style="display:none">
                  	<p class="error title">Vi leverer desværre ikke i dit område endnu.</p>
                </div>
              </div>
              
              <div class="agree-form">
              	<h3 class="title">Betingelser</h3>
                <div class="custom-input-wrapper custom-checkbox mr-b-20">
                  <input type="checkbox" id="terms" placeholder="name" />
                  <label for="terms">Jeg accepterer <a href="/pages/handelsbetingelser" class="highlight-terms" target="_blank">handelsbetingelserne og privatlivspolitikken</a></label>
                </div>
                <div class="custom-input-wrapper custom-checkbox">
                  <input type="checkbox" id="condition" placeholder="name" />
                  <label for="condition">Af hensyn til fødevaresikkerheden accepterer jeg, at jeg skal være hjemme i leveringstidsrummet.</label>
                </div>
                
              </div>
              
              <div class="checkout-action cart-checkout">
                <div class="flex-container align-center justify-between price-goods">
                  <p class="title">Varer</p>
                  <p><span class="title"></span></p>
                </div>
                <div class="flex-container align-center justify-between price-delivery">
                  <p class="title">Levering</p>
                  <p><span class="title"></span></p>
                </div>
                <div class="mr-b-20 flex-container align-center justify-between" id="fetch-val">
                  <p class="title">I ALT</p>
                  <p><span class="sub-span">dkk</span><span class="title">{{ cart.total_price | money }}</span></p>
                </div>
                <a href="/checkout" id="checkout_btn" class="btn-general btn-full btn-checkout btn-primary-solid">Gå til betaling</a>
                
              </div>
              
            </div>
          </div>
          
        </div>
      
      </div>
      <div class="grid__item md-up--one-half">
        
      </div>
      <div class="grid__item md-up--one-half">

      </div>       
    </div>
  </div>
</section>

  <style>
    .custom-checkbox label.active:before{border:1px solid red;}
    .errorMsg {  color: red;  font-size:12px;  }
    #order-delivery-form-wrapper{position:relative;}
    .disable {    pointer-events: none;background: #ddd;   color: #bbb !important; }
    .ui-datepicker{padding:0;}
    .ui-datepicker .ui-datepicker-header {    border: 0;    border-radius: 0;    margin: 0;}
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{border:0;    color: #0c263d;    font-weight: bold;}
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background:transparent !important;border: 0;    color: rgba(12, 38, 61, 0.5);}
    #timeDiv {      text-transform: uppercase;  float: left;    width: 28%;}
    #datepicker, #local_delivery {   height: 48px;   text-transform: uppercase;  padding: 0 15px;      margin-top: 10px;  font-family: Cabin;    color: #292929;    background: transparent;    border: 1px solid #e6e6e6;    border-radius: 0;    -webkit-appearance: none;    display: block;    width: 100% !important;}
    #order-delivery-form-wrapper p:nth-of-type(2) {      text-transform: uppercase;  float: left;    width: 28%;    margin-right: 15px;}
    #datepicker{background-image:url({{'calender.svg' | asset_url}});    background-repeat: no-repeat;   background-size:20px;    background-position: -webkit-calc(100% - 10px) center;  background-position: -moz-calc(100% - 10px) center;  background-position: calc(100% - 10px) center;  background-position: -ms-calc(100% - 10px) center; background-position: -o-calc(100% - 10px) center; }
    #local_delivery{background-image:url({{'clock.svg' | asset_url}});    background-repeat: no-repeat;  background-size:20px;  background-position: -webkit-calc(100% - 10px) center;  background-position: -moz-calc(100% - 10px) center;  background-position: calc(100% - 10px) center;  background-position: -ms-calc(100% - 10px) center; background-position: -o-calc(100% - 10px) center;    }
    .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {    float: left;    background: #0c263d !important;    color: #fff;    margin: 0;    height: 39px;    border-radius: 0;    opacity: 1;}
    .ui-datepicker-buttonpane .ui-datepicker-nextdate {    float: left !important;    background: #0c263d !important;    color: #fff !important;    height: 39px;    border-radius: 0;    opacity: 1;    margin-right: 10px !important;    margin-top: 0 !important;    margin-bottom: 0 !important;}
    
    /* sunday */
/*     td.ui-datepicker-week-end:last-child {    opacity: .35;    filter: Alpha(Opacity=35);    background-image: none;    pointer-events: none;} */
    /* ended */
    
    
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {    background: transparent !important;    border: 0;    color: rgba(12, 38, 61, 0.5);}
    section.cart-menu-container {    display: none !important;}
    
    @media screen and (max-width: 639px){
      #order-delivery-form-wrapper p:nth-of-type(2){    width: 48%;}
      #timeDiv{width:49%;}
      .cart-note{margin-top:0;}
    }
  </style>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

<script>
 
  $(document).ready(function() {

    $("#checkout_btn").click(function(e){
      e.preventDefault();
      if($('.custom-checkbox input[type="checkbox"]').prop('checked')){ 
        var check_cookie = $.cookie("cookie_set");
        var cart_drawer = $('.ask-zipcode').offset().top;
        if(check_cookie == undefined){
          $('.drawer-body').animate({
            scrollTop : cart_drawer
          },500);  
        }else{
          var $data = $('#cartform').serialize();
          $.ajax({
            type: 'POST',
            url: '/cart/update.js',
            dataType: 'json',
            data:$data,
            error: function(jqXHR, textStatus, errorThrown) {
              console.log(errorThrown);
            },
            success: function(response) {
              $('.custom-checkbox label').removeClass('active');
              window.location.href='/checkout';
            }
          });
        }
      } else {
        $('.custom-checkbox label').addClass('active');
      }   
    });
    
//     $(".focus_event").bind('keyup click blur',function(){
//       var product_id = $(this).attr('data-item');
//       var qty_val = $(this).val();
//       $.ajax({
//         type: 'GET',
//         url: '/cart/change.js',
//         dataType: 'json',
//         data: {id: product_id, quantity: qty_val },
//         success: function(response) {
//           var money = $('.money_filter').text();
//           for( var i = 0; i<response.items.length; i++){
//             if(response.items[i].id == product_id){
//               $('#pr_money_'+product_id).text(Shopify.formatMoney(response.items[i].original_line_price, money));
//             }
//           }
//         }
//       });
//     });
  });
    
  	$('#timeDiv select').attr('disable','disable').addClass('disable');	
  
    /*$('body').on('click','td.enabled a',function(){
        console.log('Hi');
        $('#timeDiv select').removeAttr('disable').removeClass('disable');	
    });*/
  
  	setInterval(function(){

      $('td.enabled').click(function(){
        if($(this).data('handler') == 'selectDay'){
          $('#timeDiv select').removeAttr('disable').removeClass('disable');
          $( ".errorMsg" ).hide();
          $('#datepicker').css('border','1px solid #e6e6e6');
        }
      });

      $('.ui-datepicker-current').click(function(){
        $('.ui-datepicker-today').click();
      })

//       var dt = new Date();
//       var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();

//       if(dt.getHours() <= 12 && dt.getMinutes() < 1 && dt.getSeconds() < 1 ){
//         $('.ui-datepicker-current').css('display','block');
//       }else{
//         $('.ui-datepicker-current').css('display','none');
//       }
     
     
    },500);
  

  
	$('.cart-menu-button-checkout').click(function(e){
      
      e.preventDefault();
      if(  $('#timeDiv select').hasClass('disable')){

          //$('.hasDatepicker').trigger('click');
          $('#datepicker').css('border','1px solid red');
          $( ".errorMsg" ).html( "<p>Vælg venligst leveringsdato</p>" );
          $('#datepicker').datepicker('show');

      }else{

        $('.update_btn').trigger('click');
        $('#datepicker').css('border','1px solid #e6e6e6');
      }

      });
  
  	  /* 29 Nov 2017 */
      $('#datepicker').click(function(){
        $(this).datepicker('show');
      });
      /* Ended 29 Nov 2017 */
//         $('body').click(function(e){
//           if($('#ui-datepicker-div').is(':visible') && $("#ui-datepicker-div").html() != ""){
//             if(  $('#timeDiv select').hasClass('disable')){
//               $('#datepicker').datepicker('show');
//             }
//           }
          
//         });
  	
      
      
     
  	//$("#datepicker").datepicker({ beforeShowDay: $.datepicker.noWeekends });


</script>



{% schema %}
{
  "name": "Cart page",
  "class": "section-cart",
  "settings": [
    {
      "id": "show_notes",
      "type": "checkbox",
      "label": "Show notes",
      "default": true
    },
    {
      "id": "notes_placeholder",
      "type": "text",
      "label": "Notes placeholder text",
      "default": "Write any special instructions for your shipment here"
    },
    {
      "id": "shipping_calculator_default_country",
      "type": "text",
      "label": "Shipping calculator default country",
      "default": "United States"
    }
  ]
}

{% endschema %}