{% assign current_page = page.handle %}


<div class="static-menu">
  <ul class="static-menu-list">
    
    {% for link in linklists[section.settings.static_menu].links %}
    {% assign link_title =  link.handle  %}
    <li class="">      
      <a href="{% if link_title contains current_page  %}#{% else %}{{ link.url }}{% endif %}">{{ link.title }}</a>
    </li>    
    {% endfor %}
    
  </ul>
</div>

{% schema %}
  {
    "name": "Static Pages Menu",
    "settings": [
      {
      "type" : "header",
      "content" : "Menu For Static Pages"
      },
      {
      "type" : "link_list",
      "id" : "static_menu",
      "label" : "Select the menu"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
