
/* common scss start */

.section-padding{
  padding:50px 0;
}

.close-icon{
	width:12px;
}

.fullscreen-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 79px;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
    background-color: rgba(0,0,0,0.5);
}


.btn-general{  
    border: none;
    padding: 10px 20px;    
  	border-radius:4px;
    font-size: 12px;
  	font-family: 'hk_grotesksemibold';
    cursor: pointer;
    transition:all 0.3s;
    display: inline-block;        
    text-align:center;
  	border:1px solid #0e273c;
  
    &.btn-full {
      width: 100%;
      text-align:center;
    }   
}

 .btn-min{
  	min-width:160px;
  } 

.btn-primary-solid{
  color:#fff;
  background-color:#0e273c;

  &:hover{
  border:1px solid #0e273c;
  background-color:#fff;
    color:#0e273c
  }  
}


.btn-primary-outline{
  color:#0e273c;
  border:1px solid #0e273c;
  background-color:#fff;

  &:hover{
  background-color:#0e273c;
  border:1px solid #0e273c;
  color:#fff;
  }  
}


.btn-grey-outline{
  border:1px solid #e7eaec;
  color:#1177b8;
  padding:10px 20px;
  
  &:hover{
  border:1px solid #000;
  background-color:#000;
    color:#fff;
  }
  
}

.custom-input-wrapper {
    position: relative;
  	padding-left:30px;

    input[type="radio"], input[type="checkbox"] {
        display: none;
    }
}

.custom-checkbox {

    input[type="checkbox"]:checked {
        & ~ label:before {
            content: '';
            border: 1px solid #c6c6c6;
            background-color: transparent;
            background-image: url(checkbox.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 10px;
        }

        & ~ label {            

            span {
                display: inline-block;
            }
        }
    }

    label {
        font-size: 10px;
/*         text-transform: uppercase; */
      font-family: "hk_grotesklight";
        cursor: pointer;        
        margin-left: 0px;
        margin-bottom: 0;

        span {
            display: none;
        }
    }

    label:before {
        position: absolute;
        content: '';
        left: 0px;
        top: 50%;
        transform :translate(0,-50%);
        border: 1px solid #c6c6c6;
        width: 16px;
        height: 16px;
        background-color: transparent;
    }
}


.title{
  font-size:13px;
  font-family: 'hk_grotesksemibold';
  letter-spacing:normal;
}

.heading-lg{
	font-size:22px;
  	font-family: 'hk_groteskmedium';
}

img{
max-width:100%;
}

a{
  text-decoration:none;
  color:inherit;
}

.ds-block {
    display: block;
}

.ds-inline-block {
    display: inline-block;
}

.v-middle {
    vertical-align: middle;
}

.ps-relative{
	position:relative;
}

.pointer{
	cursor:pointer;
}

.hide{
display:none;
}

.description-sm{
  font-size:12px;
  font-family: 'hk_grotesklight';
}

.flex-container{
    display: flex;
}

.justify-center{
	justify-content:center;
}


.justify-between{
	justify-content:space-between;
}


.align-center{
	align-items:center;
}

.text-center{
    text-align:center;
}

.text-uppercase{
    text-transform:uppercase;
}

.text-capitalize{
    text-transform:capitalize;
}

.sub-title{
	color:#929292;
  font-size:11px;
}

@media (min-width: 320px) and (max-width:767px) {
  
  .section-padding{
    padding:30px 0;
  }
  
  .btn-general{   
  }

  .btn-min{
  	min-width:140px;
  } 
  
  .fullscreen-overlay {
    top: 0px;
}
  
}

/* common scss end */

/* spacing scss start */

$spacing-variants: (0,5,10,15,20,25,30,35,40,45,50,55,60,65,70);

.mr-auto {
    margin-left: auto;
    margin-right: auto;
}

@each $spacing in $spacing-variants {

    .pd-#{$spacing} {
        padding: #{$spacing}px;
    }

    .pd-t-#{$spacing} {
        padding-top: #{$spacing}px;
    }

    .pd-b-#{$spacing} {
        padding-bottom: #{$spacing}px;
    }

    .pd-l-#{$spacing} {
        padding-left: #{$spacing}px;
    }

    .pd-r-#{$spacing} {
        padding-right: #{$spacing}px;
    }

    .pd-tb-#{$spacing} {
        padding-top: #{$spacing}px;
        padding-bottom: #{$spacing}px;
    }

    .pd-lr-#{$spacing} {
        padding-left: #{$spacing}px;
        padding-right: #{$spacing}px;
    }


    .mr-#{$spacing} {
        margin: #{$spacing}px;
    }

    .mr-t-#{$spacing} {
        margin-top: #{$spacing}px;
    }

    .mr-b-#{$spacing} {
        margin-bottom: #{$spacing}px;
    }

    .mr-l-#{$spacing} {
        margin-left: #{$spacing}px;
    }

    .mr-r-#{$spacing} {
        margin-right: #{$spacing}px;
    }

    .mr-tb-#{$spacing} {
        margin-top: #{$spacing}px;
        margin-bottom: #{$spacing}px;
    }

    .mr-lr-#{$spacing} {
        margin-left: #{$spacing}px;
        margin-right: #{$spacing}px;
    }
}

@media (min-width: 320px) and (max-width:767px) {
    @each $spacing in $spacing-variants {
        .pd-xs-#{$spacing} {
            padding: #{$spacing}px;
        }

        .pd-xs-t-#{$spacing} {
            padding-top: #{$spacing}px;
        }

        .pd-xs-b-#{$spacing} {
            padding-bottom: #{$spacing}px;
        }

        .pd-xs-l-#{$spacing} {
            padding-left: #{$spacing}px;
        }

        .pd-xs-r-#{$spacing} {
            padding-right: #{$spacing}px;
        }

        .pd-xs-tb-#{$spacing} {
            padding-top: #{$spacing}px;
            padding-bottom: #{$spacing}px;
        }

        .pd-xs-lr-#{$spacing} {
            padding-left: #{$spacing}px;
            padding-right: #{$spacing}px;
        }


        .mr-xs-#{$spacing} {
            margin: #{$spacing}px;
        }

        .mr-xs-t-#{$spacing} {
            margin-top: #{$spacing}px;
        }

        .mr-xs-b-#{$spacing} {
            margin-bottom: #{$spacing}px;
        }

        .mr-xs-l-#{$spacing} {
            margin-left: #{$spacing}px;
        }

        .mr-xs-r-#{$spacing} {
            margin-right: #{$spacing}px;
        }

        .mr-xs-tb-#{$spacing} {
            margin-top: #{$spacing}px;
            margin-bottom: #{$spacing}px;
        }

        .mr-xs-lr-#{$spacing} {
            margin-left: #{$spacing}px;
            margin-right: #{$spacing}px;
        }
    }
}

@media (min-width: 768px) and (max-width:991px) {
    @each $spacing in $spacing-variants {
        .pd-sm-#{$spacing} {
            padding: #{$spacing}px;
        }

        .pd-sm-t-#{$spacing} {
            padding-top: #{$spacing}px;
        }

        .pd-sm-b-#{$spacing} {
            padding-bottom: #{$spacing}px;
        }

        .pd-sm-l-#{$spacing} {
            padding-left: #{$spacing}px;
        }

        .pd-sm-r-#{$spacing} {
            padding-right: #{$spacing}px;
        }

        .pd-sm-tb-#{$spacing} {
            padding-top: #{$spacing}px;
            padding-bottom: #{$spacing}px;
        }

        .pd-sm-lr-#{$spacing} {
            padding-left: #{$spacing}px;
            padding-right: #{$spacing}px;
        }

        .mr-sm-#{$spacing} {
            margin: #{$spacing}px;
        }

        .mr-sm-t-#{$spacing} {
            margin-top: #{$spacing}px;
        }

        .mr-sm-b-#{$spacing} {
            margin-bottom: #{$spacing}px;
        }

        .mr-sm-l-#{$spacing} {
            margin-left: #{$spacing}px;
        }

        .mr-sm-r-#{$spacing} {
            margin-right: #{$spacing}px;
        }

        .mr-sm-tb-#{$spacing} {
            margin-top: #{$spacing}px;
            margin-bottom: #{$spacing}px;
        }

        .mr-sm-lr-#{$spacing} {
            margin-left: #{$spacing}px;
            margin-right: #{$spacing}px;
        }
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    @each $spacing in $spacing-variants {
        .pd-md-#{$spacing} {
            padding: #{$spacing}px;
        }

        .pd-md-t-#{$spacing} {
            padding-top: #{$spacing}px;
        }

        .pd-md-b-#{$spacing} {
            padding-bottom: #{$spacing}px;
        }

        .pd-md-l-#{$spacing} {
            padding-left: #{$spacing}px;
        }

        .pd-md-r-#{$spacing} {
            padding-right: #{$spacing}px;
        }

        .pd-md-tb-#{$spacing} {
            padding-top: #{$spacing}px;
            padding-bottom: #{$spacing}px;
        }

        .pd-md-lr-#{$spacing} {
            padding-left: #{$spacing}px;
            padding-right: #{$spacing}px;
        }

        .mr-md-#{$spacing} {
            margin: #{$spacing}px;
        }

        .mr-md-t-#{$spacing} {
            margin-top: #{$spacing}px;
        }

        .mr-md-b-#{$spacing} {
            margin-bottom: #{$spacing}px;
        }

        .mr-md-l-#{$spacing} {
            margin-left: #{$spacing}px;
        }

        .mr-md-r-#{$spacing} {
            margin-right: #{$spacing}px;
        }

        .mr-md-tb-#{$spacing} {
            margin-top: #{$spacing}px;
            margin-bottom: #{$spacing}px;
        }

        .mr-md-lr-#{$spacing} {
            margin-left: #{$spacing}px;
            margin-right: #{$spacing}px;
        }
    }
}

@media (min-width:1200px) {
    @each $spacing in $spacing-variants {
        .pd-lg-#{$spacing} {
            padding: #{$spacing}px;
        }

        .pd-lg-t-#{$spacing} {
            padding-top: #{$spacing}px;
        }

        .pd-lg-b-#{$spacing} {
            padding-bottom: #{$spacing}px;
        }

        .pd-lg-l-#{$spacing} {
            padding-left: #{$spacing}px;
        }

        .pd-lg-r-#{$spacing} {
            padding-right: #{$spacing}px;
        }

        .pd-lg-tb-#{$spacing} {
            padding-top: #{$spacing}px;
            padding-bottom: #{$spacing}px;
        }

        .pd-lg-lr-#{$spacing} {
            padding-left: #{$spacing}px;
            padding-right: #{$spacing}px;
        }

        .mr-lg-#{$spacing} {
            margin: #{$spacing}px;
        }

        .mr-lg-t-#{$spacing} {
            margin-top: #{$spacing}px;
        }

        .mr-lg-b-#{$spacing} {
            margin-bottom: #{$spacing}px;
        }

        .mr-lg-l-#{$spacing} {
            margin-left: #{$spacing}px;
        }

        .mr-lg-r-#{$spacing} {
            margin-right: #{$spacing}px;
        }

        .mr-lg-tb-#{$spacing} {
            margin-top: #{$spacing}px;
            margin-bottom: #{$spacing}px;
        }

        .mr-lg-lr-#{$spacing} {
            margin-left: #{$spacing}px;
            margin-right: #{$spacing}px;
        }
    }
}

/* spacing scss end */

.font-16{
	font-size:16px;
}

.font-bold{
	font-family: 'hk_groteskbold';
}

.font-light{
	font-family: 'hk_grotesklight';
}

.font-regular{
	font-family: 'hk_groteskregular';
}

.font-semibold{
	font-family: 'hk_grotesksemibold';
}