body,html{
  &.overflow-hidden{
  	overflow:hidden;
  }
  
  &.cart-overflow{
  	overflow:hidden;
  }
  
   &.delivery-overflow{
  	overflow:hidden;
  }
  
}

body{
	overflow-x:hidden;
}

.site-actions-cart-label{
  text-align:right;
  letter-spacing:0.2px;
  font-size: 12px;
}

.site-actions-cart{
  .site-actions-cart-label{
    #date_head{
      font-family: 'hk_grotesksemibold';
      text-transform: uppercase !important;
    }
    .head_cart{
      font-family: 'hk_groteskbold';
    }
  }
}

.cart_text {
  font-size: 9px;
  color: #929292 ;
  display: block;
  letter-spacing: 0.4px;
  text-decoration: none;
  font-family: "hk_grotesklight";
  line-height: 1;
  font-weight: normal;
  padding-top: 0px;
  text-transform:uppercase;
}

.cart-icon{
  width: 20px;
  float: left;
  height: auto;
  margin-right:10px;
  -ms-interpolation-mode: bicubic; 
  position:relative;
  top:4px;
}

.cycle-icon{
	width:35px;  
}

.vertical-divider{
border-right:1px solid #e8e8e8;
  height:50px;
  display:inline-block;
  vertical-align:middle;
  margin:0 20px;
}

.avatar{
  display: inline-block;
  width: 15px;
  margin-right: 2px;
  vertical-align: middle;
}

#customer_login_link{
	display: inline-block;
    vertical-align: middle;
}

.index-banner{
	padding-top: 150px;
}

.banner{
  opacity:0;
}

.banner.slick-initialized{
  opacity:1;
}

.banner-container {
  width: 700px;
  height: 360px;
  position: relative;
  margin:0 10px;
  max-width:100%;
  cursor:pointer;

  .banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*     background-color:rgba(0,0,0,0.5); */
    background-color:rgba(0,0,0,0.15);
    z-index:9;
  }    

  
  .banner-details {
    position: absolute;
    left: 0;
    width: 100%;
    top: auto;
    bottom:30px;
    z-index: 9;
    text-align: center;
    color:#fff;
    @media (max-width:767px){
    bottom:20px;
    }
    
    .banner-title{
      font-size:24px;
      font-family:'hk_grotesksemibold';
      margin-bottom: 10px;
    }

    .banner-sub-title{
      font-size:22px;
      font-family:'hk_grotesklight';
      margin-bottom: 15px;
      
      @media (max-width:767px){
        font-family:'hk_grotesksemibold';
        font-size:14px;
        margin-bottom:14px;
      }
      
    }

    .btn-banner{
      text-decoration:none;
      display:inline-block;
/*       border:2px solid #fff; */
      border:1px solid #fff;
      border-radius:4px;
      color:#fff;
      padding:5px 20px;
      font-size:14px;
      text-align:center;
      transition:all 0.3s;
      margin-bottom:0;

      &:hover{
        color:#000;
        background-color:#fff;
      }

    }


  }

  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.featured-section{
	padding:0 0 11px 0;
}

.product-highlights-count-4{
  .product-grid{
  	width:25%;
  }
}


  .product-grid{
  	width:20%;
  }

.collection-list{
  .product-grid{
  	width:25%;
  }
  
  
  
}

/* .collection-list > div{
  	margin-bottom:20px;
  } */

.product-grid{
  float:left;
  padding: 0 0px 0 30px;
/*   margin-bottom:20px; */
}



.product-block{
  margin-bottom:30px;
  &.bordered-block{
  border:1px solid #f4f4f4;
  }
  
  
  .product-link{
  	display:block;
  }
  
  .image-container{
     border-bottom:1px solid #f4f4f4;
  	width:100%;
    position:relative;
    padding-top:130px; 
    
    > span{
      display: block;
      position: absolute;
      height: 21px;
      width: 21px;
      bottom: 10px;
      left: 10px;
      z-index: 9;
    }
    
    .item-in-cart{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size:14px;
      color:#fff;
      background-color: rgba(0,0,0,0.15);
      z-index: 9;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility:hidden;
      opacity:0;
      transition:all 0.5s;
    }
    
    img{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      object-fit:cover;
      object-position:center;
    }
    
    .producttext_hex{
      position: absolute;
      top: auto;
      bottom: 1px;
      right: 10px;
      color: #fff;
      font-size: 9px;
      background-color: #eca041;
      padding: 0 8px 0 8px;
      border-radius: 20px;
      height: 20px;
      line-height: 19px;
    }
    
  }
  
  .product-info{
  	padding:10px;
    position: relative;  	
  }
  
  .info-height{
  	min-height:134px;
  }
  
  .product-title{
    font-size:13px;    
    font-family:"hk_groteskmedium";
    text-decoration:none;
    color:#000;
    margin-bottom:2px;
  }
  
  .product-vendor{
  	font-family: 'hk_grotesklight';	
    font-size:11px;
    margin-bottom:10px;
    display:inline-block;
    text-decoration:none;
    color:#5f5f5f;
  }
    
  .product-byline{
  	font-family: 'hk_grotesklight';
    font-size:11px;
    color:#9d9d9d;
    margin-top:0;
  }
  
  .product-price{
    margin-top: 20px;    
    font-family: 'hk_groteskmedium';
    font-size: 16px;
    margin-bottom:4px;
  }

  .price-per-kg{
    font-family: 'hk_grotesklight';
    font-size:10px;
    color:#929292;
    margin:0 0 7px 0;
    min-height: 11px;
  }
  
  .product-actions{
    margin-top:5px;
  	display:flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .add-to-cart-wrapper{
    .cart-function{
      position:relative;
      display:flex;
      align-items:center;
      font-size:11px;
      border-radius:2pt;
      background-color:#0c283e;
      padding:1px;
      transition:background-color 0.3s;
      
      &:hover{
      background-color:lighten(#0c283e,5%);
      }
      
    }
    
    .dec-qty,.variant-minus{
     position:relative;
     background-color:transparent;
      color:#fff;
      padding:8px 0;
      width:0px;
      text-align:center;
      transition:all 0.2s;
      cursor:pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .qty{
      position:relative;
      margin-left:0px;
      width:30px;
      padding:8px 0;
      text-align:center;
      top:0;
      bottom:0;
      color:#000;
      background-color:#fff;
      border-top-left-radius:2pt;
      border-bottom-left-radius:2pt;
      border-top-right-radius:0px;
      border-bottom-right-radius:0px;
    }
    
    span{
      cursor:pointer;
      color:#fff;
      text-align:center;
      transition:all 0.1s;
      min-width:100px;
      padding:8px 0;
      font-family: 'hk_groteskregular';
      user-select: none;
    }
    
    .cart-text{

   }
  }
  
  &.product-added{
    
    .image-container{
      .item-in-cart{
      	opacity:1;
        visibility:visible;
      }
    }
       
    .add-to-cart-wrapper{
      span{
        min-width:70px;
      }
      .dec-qty,.variant-minus{
        display:inline-block;
        width:30px;
      }

      .qty{
        border-top-left-radius:0px;
        border-bottom-left-radius:0px;
      }

      .basket-text{
        display:none;
      }
    }
    

  }
}

 .variant-name{
    font-size:13px;
    font-family:"hk_grotesklight";
    text-decoration:none;
    color:#000;
    margin-top:5px;
    margin-bottom:7px;
  }

  .wishlist-wrapper{
    
    display:none;
    
    .btn-wishlist{
      border: 2px solid #e8e8e8;
      background-color:#fff;
      border-radius:5px;      
      /*       height:30px;
      width:30px; */
      display:flex;
      padding:7px;
      justify-content:center;
      align-items:center;
      cursor:pointer;
      transition:all 0.3s;
		
      &:hover{
        border: 2px solid #0c283e;
      }
      
      img{
        width:18px;
        height:18px;
      }

    }
  }

.product-details-block{
  .product-vendor{
    margin-top:0;
    font-size:13px;
  }
  .product-byline{
    margin-top:0;
    font-size:13px;
  }

  .product-variant{
    width:161px;
    margin-bottom:10px;
    .single-option-selector{
      font-size: 13px;
      padding: 8px 10px;
    }
  }
  
  .product-variant-radio{
    .variant-radio label{
      font-size: 13px;
      padding: 8px 10px 9px 10px;
    }
  }
  
  .add-to-cart-wrapper{
    .cart-function{
      font-size: 13px;
/*       padding: 8px 10px; */
    }
  }
  
  .add-to-cart-wrapper .qty{
    padding:11px 0;
  }
  
  .add-to-cart-wrapper span{
    min-width:129px;
  }
  
  &.product-added{
    .add-to-cart-wrapper span{
      min-width:99px;
    }
  }
  
  .wishlist-wrapper{
    .btn-wishlist{
      position:relative;
      padding:8px;
      min-width:160px;

      img{
        position:absolute;
        left:10px;
      }    
    }
  }

  .product-actions{
    justify-content:normal;
  }
  .add-to-cart-wrapper{
    margin-right:20px;
  }  
}

.slider-for{
  .slick-slide{
    img{
      margin:0 auto;
    }
  }
}

.added-success-wrapper{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0);
  z-index:999;
  opacity:0;
  visibility:hidden;
  transition:all 0.5s;
  
  &.visible{
    opacity:1;
    visibility:visible;
    
    .added-success-popup{  
  		transform:translate(-50%,0%);    
    }
    
  }
  
}

.added-success-popup{  
  padding:20px 70px;
  border:2px solid #d6d9dc;
  position:fixed;
  left:50%;
  transition:all 0.5s;
  transform:translate(-50%,100%);
  bottom:30px;
  background-color:#fff;
  z-index:999;
  min-width:280px;
  text-align:center;
}


.vendor-section{
  padding-bottom:75px;
  
  .vendor-flex{
  	display:flex;
    margin-left: 0;
    
    .vendor-image-container{
      width: 300px;
      padding-left: 0;
      height: 300px;
      
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
  .vendor-video-container{
    position:relative;
/*     min-height: 425px; */
  }

  .vendor-video-wrapper{
    display:none;
  }

  .vendor-video{
    position:absolute;
    left:45px;
    bottom:0;
    top:0;
    right:15px;
    background-color:#fff;
    display:flex;

    .video-container{
      width:70%;
/*       padding-top:40%; */
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center center;
    }

    .video-details{
      width:30%;

      .heading-lg{
        margin-top:0;
        margin-bottom:10px;
      }

      .close-video{
        cursor:pointer;
        position:absolute;
        bottom:15px;

        img{
          width:15px;
          margin-right:15px;
          vertical-align:middle;
        }
        span{
          vertical-align:middle;
        }

      }

    }

    .video-description{
      font-size:12px;
      font-family: "hk_groteskregular";
    }
  }

  .vendor-image-container{
    width:300px;
  }

  .vendor-details-container{
    width:calc(100% - 300px);
    .heading{
    	margin-top:0;
    }
  }

  .vendor_description{
    font-size:13px;
    font-family: "hk_groteskregular";
    margin-bottom:20px;
  }

  .video-link{
    display: flex;
    align-items: center;
    cursor:pointer;
  }

  .play-btn{
    border-radius:50%;
    border:2px solid #f8f8f8;
    width: 40px;
    height: 40px;    
    display:flex;
    justify-content:center;
    align-items:center;
    
    img{
      width: 15px;
      padding-left: 3px;
    }
    
  }

  .play-divider{
  	background-color:#000;
    width:20px;
    height:2px;
    margin:0 15px;
    transition:all 0.5s;
  }
  
}
  
.static-menu{
    
    ul{
      padding:0;
      margin:0;
      text-align:center;
      list-style-type:none;
      li{
        display:inline-block;

        a{
          display:inline-block;
          padding:20px 15px;
          font-size:13px;
          font-family:'hk_grotesklight';
          letter-spacing:normal;
          
          &:hover{
          	opacity: 0.5;
          }
          
        }
      }
      
      
    }
    
  }

.footer-section{
  	background-color:#f1f3f5;
	border-top:1px solid #f1f3f5;
}

.upper-footer{
  float:left;
  width:100%;
}

.heading{
  font-family:'hk_grotesksemibold';
  letter-spacing:normal;
  font-size:22px;
  
  @media (max-width:767px){
    font-size:18px;
  }  
}

.common-desc{
  line-height: 1.6;
  font-weight: normal;
  font-size: 13px;
  font-family: 'hk_groteskregular';
}

.newsletter-wrapper{
	width:50%;
  float:left;
  
  .newsletter-heading{
  	font-family:'hk_grotesksemibold';
    letter-spacing:normal;
    font-size:16px;
    color:#333;
  }
  
   
  .newsletter-desc{
  	font-family:'hk_grotesklight';
    color:#333;
    margin-bottom:25px;
    font-size:13px;
  }
  
}

.contact-wrapper{
  width:50%;
  float:right;

  .email-details{
    text-align:right;
    margin-bottom:30px;

    p{
      font-family:'hk_grotesklight';
      margin-bottom:0px;
      color:#333;
      font-size:13px;
    }

    .email-id{
      margin-top:0px;
      font-family:'hk_grotesksemibold';
      letter-spacing:normal;
      font-size:16px;
      color:#333;
    }
  }
  
    .follow-details{
      text-align:right;
      p{
/*         text-transform:capitalize; */
        font-family:'hk_grotesklight';
        margin-bottom:0px;
        color:#333;
        font-size:13px;
      }
      
      .heading{
      	margin:5px 0;
        text-transform:capitalize;
        font-size:16px;
      }
      
    }
  
  
}

.bottom-footer{
  margin-top:50px;
  float:left;
  width:100%;
  
  .page-links{
    float:left;
  	width:70%;
    
    .main-links{
      a{  
        display:inline-block;
        color:#000;
        text-decoration:none;
        margin-right:25px;
        white-space:nowrap;

        h2{
          font-size:16px;
          margin-top:0;
          color:#333;
        }

        h2::first-letter { text-transform: capitalize; }

      }
      
      @media (max-width:767px){
        a{            
          h2{            
/*             color:#fff; */
          }
        }
      }
      
    }

    .sub-links{
      
      display:flex;
      
      .smaller-links{
      	
      }
      
      .bolder-links{
      	order:2;
      }
      
    	a{  
        display:inline-block;
        white-space:nowrap;
        color:#333;
        text-decoration:none;
        margin-right:20px;
        font-size:11px;
		font-family: 'hk_grotesklight';
          
        &::first-letter { text-transform: capitalize; }

      }
    }
    
  }
  
  .payment-links{
    float:right;
  	width:30%;
    text-align:right;
      img{
      	width:40px;
        margin:5px 5px 0px 5px;        
      }
  }
  
}

.fixed-footer{
  position:fixed;
  bottom:0;
  width:100%;
  z-index:99;
  padding:10px 0;
  background-color:#fff;
  border-top:1px solid #e8e8e8;
  
  .fixed-menu-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .fixed-menu-item{
  	text-align:center;
    
    a{
      display:inline-block;
      color:#000;
      text-decoration:none;
      
      .menu-icon{
      	width:20px;
        height:20px;
        margin-bottom:4px;
      }
      
      .menu-name{
        margin:0;
      	font-size:12px;
        font-family: 'hk_grotesksemibold';
        text-transform:capitalize;
      }
      
    }
    
  }
  
  .mobile-menu-item{
       
    .menu-icon-bar{
      transition:all 0.3s;
      background-color:#000;
      width:25px;
      height:2px;
      display:block;
      margin:0px auto;
      margin-bottom:7px;
      transform-origin:top right;
      transition: all 0.3s;
      position:relative;
    }
  }
  
  
}

.first-letter::first-letter { text-transform: capitalize; }

.manufacturer{
  padding:50px 0 30px 0;
  text-align:center;
  background-image:url('bycycle_graphic_desktop.png');
  background-position:bottom center;
  background-repeat:no-repeat;
  background-size:contain;
  margin-bottom: 50px;
  @media (max-width:450px){
    background-image:url('bycycle_graphic_mobile.png');
  }
  
  @media (min-width:451px) and (max-width:1024px){
  background-image:url('bycycle_graphic_tablet.png');
  }
  
  .heading{
  	    margin-bottom: 10px;
    line-height: 1.2;
  }
  
  .manufacturer-desc{
    font-family: 'hk_groteskregular';
    font-size:13px;
  }
  
}

.featured-heading-wrapper{
/*   display:flex; */
  justify-content:space-between;
  align-items:center;
  
  .uni-icon{
  	width:20px;
    height:20px;
  }
  
}

.shops{
  background-color:#f2f5f7;
  height:160px;
  position:relative;
  .shops-text{
  	position:absolute;
    width:100%;
    left:50%;
    top:50%;    
    transform:translate(-50%,-50%);
  }
  
}

.producers-section{
	padding:30px 0;
}

.producer-grid-wrapper{
	width:100%;
  	float:left;
  	padding-left:20px;
}

.producer-grid{
	width:20%;
  	float:left;
  	padding:0 0 0 20px;
}

.producer-block{
	width:100%;
  	display:block;
  margin-bottom:30px;
  
  .producer-image-container{
  	padding-top:100%;
    position:relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    img{
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
      width:100%;
      height:100%;
      object-fit:cover;
      object-position:center;
    }
    
    .producer-hover{
      opacity:0;
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
      width:100%;
      height:100%;
      background-color:rgba(#f1a097,0.5);
      z-index:9;
      transition:opacity 0.3s; 
    }
  }
  
  .producer-details{
    text-align:center;

    .producer-name{
      margin-top:15px;
      margin-bottom:5px;
      font-size:13px;
      font-family:"hk_grotesksemibold";
      min-height:17px;
      
    }
    .producer-byline{
      font-size:11px;
      font-family:"hk_grotesklight";
      margin-top: 5px;
    }
  }
  
  &:hover{
    .producer-hover{
      opacity:1;      
    }
  }
  
  
}

.collection-wrapper{
  float:left;
  width:100%;
  padding-top:40px; 
}

.collection-filter{
  float:left;
  width:225px;
  padding-top:40px;

  .category-heading{
/*     border-bottom:1px solid #e8e8e8; */
    /*     padding-bottom:8px; */
    font-size: 13px;
margin-top:10px;
    margin-bottom:0px;
    font-family: 'hk_grotesksemibold';
/*     text-transform:capitalize; */
    letter-spacing: normal;
    margin-left:3px;
  }

  .category-name{      
    font-size: 13px;
    padding-bottom:8px;
    font-family: 'hk_grotesksemibold';

    p{
      margin:5px 0;
      padding-left:15px;
      position:relative;
      padding-top:5px;
      padding-bottom:5px;

      &.active{
        font-family: 'hk_groteskbold';
        font-size:14px;
        border-left:2px solid #000;
      }

    }

  }

}

.collection-list{
  float:left;	
  width:100%;

  .listed-category{
    font-size:22px;
    margin-top:17px;
    margin-bottom:0;
  }
  
  .no-border-title{
  	margin-bottom:10px;
  }

  .title{
    font-size:14px;
    margin-top:8px;
    margin-bottom:17px;
    font-family: 'hk_grotesklight';
    min-height: 15px;
  }
  
  .varer{
    font-size:10px;
    text-align:right;
  }

}

.mobile-wrapper-popup{  
  position:relative;
  
  .wrapper-logo{
    max-width:117px;
  }
  
  .btn-general.mobile-wrapper-close{
  position: static;
  }
  
  .mobile-wrapper-close{
    cursor:pointer;
    width: 10px;
    margin-left: 0;
    position: absolute;
    right: 17px;
    top: 17px;
    z-index: 999;
  }
}

.search-result-container{
	background-color:#fff;
  position:fixed;
  z-index:9999;
  bottom:0;
  top:133px;
  transition: all 0.5s;
  transform: translateY(100%);
  left:0;
  right:0;  
  overflow:auto;
  
  .grid{
  	margin-left:-20px;
  }
  
  .grid__item{
  	padding-left:20px;
  }
  
  &.visible{
  transform: translateY(0%);
  }
 
  .search-heading{
  	
  }
  
  .close-search{
  	font-size:10px;    
  }  
  
}

.mobile-footer-menu{
  background-color:#fff;
  position:fixed;
  z-index:9999;
  bottom:0;
  top:0px;
  transition: all 0.5s;
  transform: translateY(100%);
  left:0;
  right:0;  
  overflow:auto;
  
  &.open{
  transform: translateY(0%);  
  }  
  
  .menu-heading{
    height: 100px;
    background: #f2f5f7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-list{    
    list-style: none;
    height: calc(100% - 157px);
    
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      text-align: center;
      height:100%;
      justify-content:center;
      flex-direction: column;
      overflow:auto;
      
      li{
      	padding:15px 0;
      }
      
      
    }	
  }
  
  
}

.close-icon{
  cursor:pointer;
}


.page-header{
  padding:50px 0;
  background-color:#f2f5f7;
  
  .heading{
    margin-top:0;
  	margin-bottom:20px;
  }  
}

.description{  
  line-height: 1.6;
  font-weight: normal;
  font-size: 13px;
  font-family: 'hk_groteskregular';    
  margin: 0 auto;

/*   @media (min-width:1025px){
    padding: 0 160px;
  } */

}

.bordered-title{
  padding-bottom:10px;
  border-bottom:1px solid #eaeaea;
}

.contact-page{
	padding:25px 0;
  	position:relative;
  
  .page-content{
    p{
    	font-size:13px;
      font-family: 'hk_groteskregular';
    }
  }
  
  .know{
  	margin-top:20px;
  }
  
}

.cart-drawer {
    position: fixed;
    right: 0;
	bottom:0;    
    width: 90%;
    max-width: 420px;
    top: 79px;
    background-color: #fff;
    z-index: 99999;
    overflow: auto;    
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: translate(100%,0);
    transform: translate(100%,0);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.cart-drawer.open {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

.cart-drawer .drawer-heading {
    background-color: #f8f8f8;
    padding: 15px 0;
    position: relative;
  border:2px solid #f8f8f8;
}

.cart-drawer .drawer-heading p {
    margin-top:0;
  font-family: 'hk_groteskregular';
  
}

.cart-drawer .drawer-heading .close-drawer {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width:15px;
}

.cart-drawer .drawer-body {
    position: relative;
}

.cart-drawer .drawer-body .discount {
    margin-bottom: 0;
    padding: 10px;
}

.cart-drawer .drawer-body .progress-bar {
    background-color: #e4e4e4;
    height: 21px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.cart-drawer .drawer-body .progress-bar .progress-percent {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background-color: #4cadc7;
}

.cart-drawer .drawer-body .progress-steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.cart-drawer .drawer-body .progress-steps p {
    position: relative;
    font-size: 14px;
    width: 33.33%;
    text-align: center;
}

.cart-drawer .drawer-body .progress-steps p:before {
    position: absolute;
    content: "";
    top: -10px;
    width: 1px;
    height: 10px;
    background-color: #000;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.cart-drawer .drawer-body .drawer-items {
    padding: 20px 15px;
    border-top: 1px solid #afafaf;
    overflow: hidden;
    min-height: 400px;
}

.cart-drawer .drawer-body .drawer-items .drawer-item-listing {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    padding-right: 10px;
}

.cart-drawer .drawer-body .drawer-items .drawer-item-listing .remove-item {
    position: absolute;
    top: 0;
    right: -5px;
    color: #ababaa;
}

.cart-drawer .drawer-body .drawer-items .drawer-product {
    position: relative;
    width: 25%;
    float: left;
}

.cart-drawer .drawer-body .drawer-items .drawer-product > div {
    padding-top: 100%;
}

.cart-drawer .drawer-body .drawer-items .drawer-product img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    left: 0;
}

.cart-drawer .drawer-body .drawer-items .drawer-product-detils {
    width: 75%;
    float: left;
    padding-left: 40px;
}

.cart-drawer .drawer-body .drawer-items .drawer-product-detils .drawer-price {
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 600;
    color: #4cadc7;
    margin-bottom: 10px;
}

.cart-drawer .drawer-body .order-summary {
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.cart-drawer .drawer-body .order-summary .drawer-out {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.cart-drawer .drawer-body .order-summary .drawer-checkout .btn-general {
    padding: 10px 45px;
}

    .basket-items{
      padding:10px;
      display:flex;
      align-items:flex-start;
      border-bottom:1px solid #f8f8f8;
      position:relative;
      
      .remove-item-overlay{
      	position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background-color: rgba(255,255,255,0.8);
        z-index: 9;
        display:none;
      }

      &:last-child{
        border:none;
      }

      .basket-product-image{
        /*       	width:120px; */
        position:relative;
        padding-right:13px;

        a{
          width:120px;
          height: 80px;
          
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

      }
      
      .basket-product-details{
      	width:55%;
        @media (max-width:767px){
          width:35%;
        }
      }
      .basket-product-qty{
        width:25%;
        margin-top: 25px;
        margin-left: 7px;
      }
      .remove-product{
        width:9%;
        margin-top: 30px;
        text-align:center;
        cursor:pointer;
        margin-right: 0;
        
        img{
        	width:10px;
        }
        
      }
      
    }

.drawer-body{
  height:calc(100vh - 245px);
  overflow:auto;
}

.cart-drawer-listing{
	border-bottom:2px solid #f8f8f8;
}

.drawer-footer{
	position: absolute;
    bottom: 0;
    width: 100%;
  	border-top:1px solid #f8f8f8;    
  background-color:#fff;
}

.sub-span{
  font-size: 8px;
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: bold;
  color: #929292;
  font-family: 'hk_grotesklight';
}

.checkout-action{
  padding:6px 40px 20px 40px;  
  
  div#fetch-val > p {
  	margin-top:5px;
  }
  
  div#delivery-fetch > p {
  	margin-top:5px;
  }
  
}  

.ask-zipcode{
    padding:25px 40px;  
    border-bottom: 2px solid #f8f8f8;
  
  @media (max-width:767px){
  	padding:25px 15px;
  }
  
  }

.form-zipcode{
    position:relative;
    border:1px solid #0e273c;
    overflow:hidden;
    border-radius:4px;
    input{
      width:100%;
      background-color:#fff;
      padding:15px 20px;
      padding-right:80px;
      font-family: 'hk_grotesklight';
    }
    .btn-check{
      position:absolute;
      right:0;
      bottom:0;
      top:0;
      background-color:#0e273c;
      color:#fff;
      text-align:center;
      padding:0 20px;
      font-size:12px;
      font-family: 'hk_grotesksemibold';
      cursor:pointer;
      transition:all 0.3s;

      &:hover{
        background-color:#000;
      }

    }
  }

.cart-drawer{

  .mobile-zip-deails{
    display:none;
  }
  
  .done-zipcode{
    display:none;
  }

  &.zip-verified{

    .ask-zipcode{
      display:none;
    }

    .done-zipcode{
      display:block;
    }

  }

  
  

  .agree-form{
    padding:25px 40px;  
    border-bottom: 1px solid #f8f8f8;
    border-top: 1px solid #f8f8f8;

    .highlight-terms{
      color:#69a9d2;
    }

    @media (max-width:767px){
    padding:25px 15px;
    }
    
  }
  
  
  

}

.cart-design{
  clear:both;
  padding-top:30px;

  .basket-wrapper{
    max-width:865px;
    margin:0 auto;
    overflow:hidden;
  }

  .basket-heading{
      background-color:#f8f8f8;
      text-align:center;
      padding:28px 0;
      margin:0;
      font-size:13px;
      font-family:"hk_grotesksemibold";
    }
  
  .basket-container{
    width:50%;
    float:left;    
    padding-right:12px;

    > div{
      border:2px solid #f8f8f8;
    }
    
    @media (max-width:767px){
      width:100%;    
      padding-right:0px;
      margin-bottom:20px;
    }

  }
  
  .delivery-container{
    width:50%;
    float:right;
    padding-left:12px;

    &.is_stuck{
    	top:155px !important;            
    }
    
    > div{
      border:2px solid #f8f8f8;                  
    }

    .done-zipcode{
      display:none;
    }

    &.zip-verified{

      .ask-zipcode{
        display:none;
      }

      .done-zipcode{
        display:block;
      }

    }

    
    .form-zipcode{
      position:relative;
      border:1px solid #0e273c;
      overflow:hidden;
      border-radius:4px;
      input{
        width:100%;

        background-color:#fff;
        padding:15px 20px;
        padding-right:80px;
      }
      .btn-check{
        position:absolute;
        right:0;
        bottom:0;
        top:0;
        background-color:#0e273c;
        color:#fff;
        text-align:center;
        padding:0 20px;
        font-size:12px;
        font-family: 'hk_grotesksemibold';
        cursor:pointer;
        transition:all 0.3s;

        &:hover{
          background-color:#000;
        }

      }
    }

    .agree-form{
      padding:25px 40px;  
      border-bottom: 2px solid #f8f8f8;

      .highlight-terms{
        color:#69a9d2;
      }
    }
    
    
    @media (max-width:767px){
      width:100%;    
      padding-left:0px;                 
    }
  }
}

.basket-product-details{
  .product-title{
    font-size:13px;
    font-family:"hk_groteskmedium";
    margin-bottom:0;
    margin-top:0px;
  }

  .product-vendor{
    font-size:11px;
    font-family:"hk_grotesklight";
    color:#5f5f5f;
        margin-top: 5px;
    margin-bottom: 0;
  }

  .product-byline{
    font-family: 'hk_grotesklight';
    font-size:11px;
    color:#929292;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .product-price{
    font-size:14px;
    font-family:"hk_groteskmedium";
    margin-top:10px;
    margin-bottom:0;
  }
}

.incrementor-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left:0px;
  width:100%;
  max-width:140px;

    label {
        display: block;
        float: left;
        text-align: right;
        padding: 5px 10px 0 0;
        width: 140px;
    }

    input {
      width: 33.333%;
      height: auto;
      padding: 8px 0;
      font-size:10px;
      text-align: center;
      border: none;
      border-radius:0;
      background-color: #fff;
    }

    form div {
        overflow: hidden;
        margin: 0;
    }

    .qty-button {
        margin: 0;
        cursor: pointer;
        width: 33.3333%;
        height: auto;
        text-align: center;
        font-size: 20px;        
        padding:8px 0;

      img{
          	width:8px;
            height:8px;
          }              
    }

    .numbers-row {
      font-size: 0;
      border: 1px solid #e3e7e9;
      border-radius:2pt;
      background-color:#e3e7e9;
      display:flex;
      width:85px;

        & > * {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .dec {
        background-position: 0 -29px;
    }

    .buttons {
        padding: 20px 0 0 140px;
    }
}

.delivery-drawer{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 90%;
  max-width: 420px;
  top: 79px;
  background-color: #fff;
  z-index: 99999;
  overflow: auto;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: all .5s;
  transition: all .5s;
  
  &.open{
  	-webkit-transform: translate(0%, 0);
  transform: translate(0%, 0);
  }
 
  .delivery-heading{
    position:relative;
    background-color: #f8f8f8;
    padding: 15px 0;
    border: 2px solid #f8f8f8;
    
    .close-icon{
      position:absolute;
      right:15px;
      top:15px;
    }
    
    .title{
    	font-family: 'hk_groteskregular';
    }
    
  }
  
  .delivery-body{
    height: calc(100vh - 256px);
    position:relative;
    background-image:url(//cdn.shopify.com/s/files/1/1713/4487/t/42/assets/bycycle_graphic_mobile.png?501473386051927202);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:bottom center;

    .drawer-zip-verification{
      position: absolute;
      width:100%;
      top: 50%;
      transform: translateY(-50%);
            
      .ask-zipcode{
      	border-bottom:none;
      }
      
      .supported-zip{
      	display:none;
      }
      
      .unsupported-zip{
      	display:none;
      }
      
      &.zip-verified{
        .ask-zipcode{
          display:none;
        }
        
       .supported-zip{
      	display:block;
      }
        
      }
      
      &.zip-not-verified{
       .unsupported-zip{
      	display:block;
      } 
      }
      
    }
    
    svg {
      width: 100px;
      display: block;
      margin: 40px auto 0;
    }
    
  }

}

.calendar-drawer{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 90%;
  max-width: 420px;  
  top: 79px;
  background-color: #f8f8f8;
  z-index: 99999;
  overflow: auto;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: all .5s;
  transition: all .5s;

  &.open{
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
  }
  
  .calendar-header{
    position:relative;
    background-color: #f8f8f8;
    padding: 30px 0 15px 0;
    border: 2px solid #f8f8f8;

    .close-icon{
      position:absolute;
      right:15px;
      top:15px;
    }
    
    .heading{
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 8px;
      font-family: 'hk_groteskbold';
    }
    
    .sub-title{
      margin-top: 0;
      font-size: 10px;
      margin-bottom: 3px;
      font-family: "hk_grotesklight";
    }
  }

  .calendar-body{
    overflow:auto;
    float:left;
    width:100%;
    padding:0 20px;
    max-height:calc(100vh - 250px);
  }

  .calendar-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #f8f8f8;
    background-color:#fff;
    
    .checkout-action{
      padding: 20px 40px 20px 40px;
      
      @media only screen and (max-width: 767px){
        padding: 15px;
      }
    }
  }

  .calendar-timing {
    float: left;
    width: 23%;
    //margin-top: 46px;

    .free-timing {
      border-bottom: 1px solid #e5e9ea;
      padding: 0 10px 8px 0;
      margin-top: 53px;

      .free-zone {
        height: 29px;
        display: flex;
        align-items: center;
        margin: 6px 0;
        font-size: 11px;
        letter-spacing: normal;
      }
    }

    .premium-timing {
      padding: 9px 0px 0 0px;

      .premium-zone {
        height: 29px;
        display: flex;
        align-items: center;
        margin: 5px 0;
        font-size: 11px;
        letter-spacing: normal;
        font-family: "hk_grotesksemibold";
      }
    }
  }

  .calendar-slider {
    float: left;
    padding-left: 0px;
    //width: 75%;
    width: 72%;

    .day {      
      font-size: 12px;
      margin-bottom: 0px;
      font-weight: 700;
      font-family: "hk_grotesksemibold";
    }

    .date {
      font-size: 12px;
      margin-top: 0;
      font-weight: 800;
      margin-bottom: 11px;
      font-family: "hk_grotesksemibold";
/*       font-family: "hk_groteskbold"; */
    }
    
    .individual-slot {
      border-radius: 4px;
      border: 1px solid #e5e9ea;
      transition: all 0.5s;
      padding: 0;
      margin: 4px 0 5px 0;
      background-color: #fff;
      text-align: center;
      width: 61px;
      cursor: pointer;
      //max-width: 61px;
      font-size: 11px;
      color: #777;
      height: 29px;
      line-height: 26px;
      font-family: "hk_grotesklight";

      &.selected {
        color:#fff;
        background-color: #0e273c;
        border: 2px solid #0e273c;
      }
    }

    .free-slot-wrapper {
      border-bottom: 1px solid #e5e9ea;
      //padding: 0 5px 10px 5px;
      padding: 0 3px 9px 4px;
    }

    .free-slot {
      //text-transform: capitalize;
      text-transform: uppercase;
    }

    .premium-slot-wrapper {
      //padding: 10px 5px 0 5px;
      padding: 10px 3px 0 4px;
    }
  }

  
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;  
}

.zip-verified .circle, .zip-not-verified .circle {
  -webkit-animation: dash 0.9s ease-in-out forwards;
  animation: dash 0.9s ease-in-out forwards;  
}

.zip-not-verified .line { 
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}

.zip-verified .check {  
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

p.success {
  color: #73AF55;
}
p.error {
  color: #D06079;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.product-details-title{
  font-size:22px;
  font-family: "hk_grotesksemibold";
  margin-top:15px;
  letter-spacing:normal;
  margin-bottom:5px;
}

.product-details {
  display: block;
  width: 100%;
  padding: 0px;    

  .product-price {
    display: block;
    margin-bottom: 24px;    
    font-size: 20px;
    font-family: 'hk_groteskmedium';
  }
}

.product-type{
  //margin-bottom:80px;
  margin-bottom: 100px;
  
  img{
    height:20px;
    vertical-align:middle;
  }
  
  &.oekologo{
    .oekologo{
      display:inline-block;
    }
  }
  
  &.green-leaf{
    .green-leaf{
      display:inline-block;
    }
  }
  
}

.faq-section{
	padding:25px 0;
  	position:relative;
  
 
  
}

 .faq-heading{  	
    font-family: 'hk_grotesksemibold';
    letter-spacing: normal;
    font-size: 16px;
    color: #333;
  }

.filter-menu {
  width: 240px;
  padding-right:40px;
  padding-top:0px;  
  position:relative;
  top:18px;
  float:left;
  z-index:9;
/*   transition:all 0.2s; */
  
  .sub-menu{
  	display:none;
    padding-left:0px;
    
    li {  
      margin-left:4px;
    a { 
      
      padding-left:15px;
      
      &.active {
        border-left:3px solid #000;
        color: #000;
        text-decoration: none;
        font-family: 'hk_groteskregular';
      }            
    }
  }
    
  }
  
  &.sticked{
  	position: fixed;
  	top:184px;
  }
  
  @media (min-width:768px){
  &.more{
  	top:-30px !important;
  }  
  }
  
  &.no-filter{
  display:none;
  }
  
}

.right-filter-menu {
  width: 248px;
  padding-right:40px;
  padding-top:0px;
  position: relative;
  top:18px;
  float:left;
  z-index:9;  

  .title{
  	margin-top:10px;
  }
  
  &.sticked{
    position: fixed;
    top:175px;
  }
 
}

.collection-list.individual-faq{
  margin-bottom: 0px;  
/*   padding-left:0px; */
}

.individual-faq{
  margin-bottom: 50px;  
  min-height:250px;
/*   padding-left:30px; */
  .heading{
/*   	padding-top:13px; */
  }
  &:last-child{
    margin-bottom: 0px;
  }

}

.filter-main {
  width: 100%;  
  position: relative;
  padding-left:240px;

  &.full-listing{
    padding-left:0px;

    @media (min-width:1025px){
      .product-grid{      
        width:25%;
      }
    }
  }
  
  .faq-list{
    .heading{
    	margin-bottom:0;
/*       padding-bottom:17px; */
    }
  }
  
}

.light-menu {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    background-color: rgba(4, 180, 49, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menu-center {
    height: auto;
    margin: 0 auto;
}


.faq-category-list {
  padding:0;
  margin: 0px 0 0 0;
  -webkit-overflow-scrolling:touch;
  li {
    list-style: none;
    margin: 0;
    display: block;
    padding:3px 0;
    a {
      display:inline-block;
      padding:5px 0;
      color: black;
      position:relative;
      text-decoration: none;
      border-left:3px solid transparent;
      font-family: 'hk_groteskregular';
      font-size: 12px;
      letter-spacing: normal;
      
      &.active {
/*         border-left:3px solid #000;
        color: #000;
        text-decoration: none; */
        font-family: "hk_grotesksemibold";
      }
      
      &::first-letter { text-transform: capitalize; }
      
    }
  }
}

.accordion {
  .accordion-wrapper{
    border-bottom: 1px solid #eaeaea;
  }

  .accordion-title {
    position: relative;
    padding:0;        
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;

    i.fa {
      font-size: 26px;
      font-weight: 700;
      -webkit-transition: all .5s;
      transition: all .5s;
    }

    &.active {
      i.fa {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    p.faq-question{
      font-size:13px;
      margin-bottom:15px;
    }

  }

  .accordion-content {
    display: none;
    padding: 0px 0;
    

    .description {
      margin:0;
      padding:0 0 15px 0;
/*       word-break: break-all; */
      font-family: 'hk_grotesklight';
    }
  }
}

.accordion .accordion-title.active i.fa {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion .accordion-title i.fa {
    font-size: 26px;
    font-weight: 700;
    -webkit-transition: all .5s;
    transition: all .5s;
  	display:none;
}

.page-content-section{
	padding:50px 0;
}

.search-section.section-padding{
	padding:50px 0 20px 0;
}

@media (min-width:320px) and (max-width:767px){
  
  body{
  padding-bottom:61px;
    &.collection{
      padding-bottom:117px;
    }
    &.product{
      padding-bottom:61px;
    }
  }      
  
  .cart-drawer {
  	-webkit-transform: translate(0,100%);
    transform: translate(0,100%);
    top:0;
    width:100%;
    max-width:none;
  }
  
  .cart-drawer.open {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
	}
    
  .cart-drawer{
    .mobile-zip-deails{
      display:block;
      
       &.zip-verified{

      .ask-zipcode{
        display:none;
      }

      .done-zipcode{
        display:block;
      }

    }
      
    }
  }
    
.checkout-action{
  padding:15px;
} 
  
  .container{
  padding:0 10px;
}

.row{
  margin-left:-20px;
}

.grid{
  margin-left:-20px;
  }

.grid__item{
	padding-left:20px;
}
    
  .header-container{
  	border-bottom:1px solid #e8e8e8;  	
    padding-top:20px;
  }
  
 .bottom_header{
   border-bottom:none;   
   
    .header_social {
      display:none;
    }

   .site-navigation{
     width:100%;

     .navmenu {
       display: block;       
       padding: 0;
       white-space: nowrap;
       overflow:auto;
       height:57px;
       text-align:center;
       -webkit-overflow-scrolling: touch;
       
       .navmenu-link{
         padding:0px 10px 0 0;
         margin-right:0;
         
         
         span{                      
           display:inline-block;
           padding-top:20px;
         padding-bottom:15px;
         }
         
         &.active{           
           span{                      
             border-bottom:2px solid #000;         
           }
         }
         
       }
       
       .navmenu-item{
       	display:inline-block;
       }
       
     }
     
     .navmenu-submenu{
     	display:none;
     }
     

   }
   
   .scroll-nav{
   	width:100%;
     overflow:hidden;
     height:49px;
   }
   
   .site-actions{
     display:none;
   }
   
 }
 
  .site-logo{
  	width:100%;
  }
  
  .top_header{
    justify-content:center;
    margin-bottom:8px;

    .site-actions-search{
      display:none;
    }

  }
     
  .site-actions-cart{
      	display:none;
  }
  
  .banner-container {
    width: 400px;
    height: 206px;
  }
  
  .product-highlights{
	margin-left:-20px;
  }

  .product-container{
    padding:0;

    > .grid{
      margin-left:0;
    }

    .grid__item{
      padding-left:0;
    }
  }
  
  .product-block{
  margin-bottom:20px;
    
    
  .product-info{
  	padding:10px 5px;  	
  }
  
  .add-to-cart-wrapper{
    .cart-function{
      font-size:10px;
    }
    
    span{
      min-width:80px;
    }
    
    .basket-text{
		display:none;
   }             
  }
  
  
  &.product-added{
    
    .add-to-cart-wrapper{
      span{
        min-width:40px;
      }

      .basket-text{
        display:none;
      }
    }
    

  } 
}  
  
  .wishlist-wrapper{
    .btn-wishlist{
      border: 2px solid #e8e8e8;
      border-radius:5px;
      display:flex;
      padding:7px;
      justify-content:center;
      align-items:center;
      cursor:pointer;
      transition:all 0.3s;
		
      &:hover{
        border: 2px solid #0c283e;
      }
      
      img{
        width:18px;
        height:18px;
      }

    }
  }

  .mobile-wistlist{
    position: absolute;
    right: 20px;
    transform: translateY(0%);
    top: -18px;
  }
  
  .product-details{
  	padding:0 20px 20px 20px;
    border-bottom:2px solid #f8f8f8;
  }
  
  .product-rte{
  	padding:0 20px;
  }
  
  .product-details-block{
    .add-to-cart-wrapper{
    	margin-right:0;
    }        
    .wishlist-wrapper{
    	display:none;
    }
    
    .product-type{
      margin-bottom:0;
    }
    
    .price-per-kg{
    	margin-bottom:0;
    }
    
    .product-actions{
    	margin-top:0;
    }
    
  }
  
  .product-images{
  	border:none;
    border-bottom:2px solid #f8f8f8;
    padding:0 20px;
  }
  
  .product-thumb{
   display:none !important;
  }
     
  .added-success-wrapper{
  	background-color:rgba(0,0,0,0.5);
  }
  
  .added-success-popup{
  	
  }
  
  .mobile-details{
      position:fixed;
      z-index:999;
      bottom: 61px;
      width: 100%;
      left:0;
      padding:10px 15px;
      background-color: #fff;
      display:flex;
      justify-content:space-between;
      align-items:center;
      border-bottom:2px solid #f8f8f8;
      border-top:2px solid #f8f8f8;

    .price-kg{
      display: flex;
      align-items: center;
      justify-content:space-between;
      width:60%;
      flex-wrap: wrap;
      
      .product-variant{
        margin-left: 0;
        width: 50%;
        margin-bottom: 0;
      }
      
      .product-variant-radio{
      	width:100%;
        margin-top:3px;
      }
      
      .variant-radio{
      	margin-right:5px !important;
        width:27%;
        
        label{
          text-align:center;
          display:block;
        	padding:7px 2px;
        }
        
      }
      
    }
    
    .product-price{
      margin-top:0;
      margin-bottom:5px;
      font-size:16px;
    }
    }
  
  .vendor-section{        
    
    .vendor-flex{
      flex-direction:column;
    }
    
    .vendor-video-container{
      position:static;
    }  

    .vendor-video-wrapper{
      position:fixed;
      left:0;
      right:0;
      top:0;
      bottom:0;
      z-index:9998;      
    }
    
    .vendor-video{
      position:absolute;
      z-index:9998;
      left:20px;
      right:0px;
      align-items:center;    
      padding:30px;
      flex-direction:column;
      justify-content:center;

      .video-container{
        padding-top:0%;
        width:100%;
      }
      
      .video-details{ 
        width:100%;
        margin-top:15px;
        padding:0;
        .close-video{
          position:relative;
          bottom:-15px;
        }
      }    
    }
    
    .vendor-image-container{
      width:100%;
      img{
      	max-width:300px;
        margin-bottom:20px;
      }
    }
    
    .vendor-details-container{
      width:100%;
    }
    
  }
  
   
  .static-menu{

    ul{
      
      li{

        a{
          padding:10px 5px;
        }
      }


    }

  }
  
  .footer-section{
/*   	background-color:#000; */
    
    .upper-footer{
      display:none;
    }

    .bottom-footer{
      margin-top:10px;
      display:flex;
      align-items:flex-end;
      justify-content:space-between;
      
      .page-links{
        width:80%;

        .main-links{
          a{  
            display:block;
            color:#fff;
            margin-right:0px;                        
          }
        }

        .sub-links{
          display:block;
          margin-top:80px;
          
          .smaller-links{
			margin-top:15px;
          }

          .bolder-links{
            order:1;
            a{
              display:inline-block;
/*               color:#fff; */
              margin-right:10px;
              font-size:14px;
            }            
          }
          
          a{
            display:inline-block;
            color:#828282;
            margin-right:20px;
            font-size:12px;


          }
        }

      }
  
      .payment-links{        
        width:20%;
        max-width:60px;
        text-align:right;        
      }
  
      
    }
    
  }     
  
  .manufacturer{
    padding:10px 0 60px 0;     
  }

  .shops{
    
    height:100px;
    position:relative;

    .description{
    	display:none;
    }

  }
     
  .collection-filter{
    .category-heading{
  	display:none;
    }
  }
  
  .search-result-container{
    top:0px;

    .site-actions-search{
     width:100%;
      background-color:#f8f8f7;
    }
    
    .search-heading{

    }

    .close-search{
      font-size:10px;    
    }

    .close-icon{
      width:8px;
      margin-left:5px;
    }

  }  
  
  .faq-menu {
    display:none;
  }
  .faq-main{
  	width:100%;
  }
 
  
.calendar-drawer{
  width: 100%;
  max-width: 420px;  
  top: 0;

  .calendar-body{
    padding:0 20px;
    max-height: calc(100vh - 184px);
  }

  .calendar-timing {    
    //margin-top: 52px;
    width:26%;

    .free-timing {
      border-bottom: 1px solid #e5e9ea;
      padding: 0 10px 10px 0;
      margin-top: 55px;

      .free-zone {
        display: flex;
        align-items: center;
        margin:5px 0;
        font-size:10px;
      }
    }

    .premium-timing {
      padding: 10px 0px 0 0px;

      .premium-zone {
        display: flex;
        align-items: center;
        margin:5px 0;
         font-size:10px;
      }
    }
  }

  .calendar-slider {
    float: left;
    padding-left: 0px;
    width: 74%;

    .day {      
      font-size: 10px;
    }

    .date {
      font-size: 10px;
    }
    
    .individual-slot {
      border-radius: 4px;
      border: 1px solid #e5e9ea;
      transition: all 0.5s;
      padding: 0 5px;
      margin:5px 0;
      background-color: #fff;
      text-align: center;
      min-width: auto;
      cursor:pointer;
      font-size:12px;
      width: 100%;

      &.selected {
        color:#fff;
        background-color: #0e273c;
        border: 1px solid #0e273c;
      }
    }

    .free-slot-wrapper {
      border-bottom: 1px solid #e5e9ea;
      padding: 0 3px 10px 3px;
    }

    .free-slot {
      text-transform: capitalize;
    }

    .premium-slot-wrapper {
      padding: 10px 3px 0 3px;
    }
  }

  
}

  .faq-section{
    padding: 20px 0;
    .filter-menu {
/*       display:none; */
    }
  }
  
  .filter-menu {
	position: fixed;
    bottom: 61px;
    padding: 0;
    background-color: #f2f5f7;
    top: auto !important;
    left: 0;
    width: 100%;    
    .title{
    	display:none;
    }    
    .faq-category-list{
      margin:0;
      padding:10px 0;
      text-align:center;
      overflow:auto;
      white-space:nowrap;
      
      .sub-menu{
      	display:none !important;
      }
      
      li{
      	display:inline-block;
        a{
          border:none;
          padding: 5px 10px;
          &.active{
          	border:none;
            font-family: "hk_groteskbold";
          }
        }
      }
    }        
  }

  .individual-faq{
	margin-bottom:20px;
    min-height:200px;
}
  
  .filter-main {
    padding-left:0px;
  }
  


  .contact-page{
  	padding:20px 0;
  }
  


  .page-content-section{
	padding:20px 0;
}



.search-section.section-padding{
	padding:30px 0 10px 0;
}
  


  .drawer-body{
  height:calc(100vh - 256px);  
}

}

/* @media (min-width:768px) and (max-width:980px){
  .filter-menu {
    position: fixed;
    bottom: 61px;
    padding: 0;
    background-color: #f2f5f7;
    top: auto !important;
    left: 0;
    width: 100%;
  }
  .filter-menu{
    .faq-category-list {
      margin: 0;
      padding: 10px 0;
      text-align: center;
      overflow: auto;
      white-space: nowrap;
      
      li{
        display: inline-block;
      }
    }
  }
} */

@media (min-width:320px) and (max-width:479px){

  .product-grid{
      width:100%;
      padding:0 0px 0 20px;
    }
  
  .featured-heading-wrapper{
    flex-direction:column;
  }

  .producer-grid-wrapper{
    padding-left:20px;
  }
  
  .producer-grid{
    width:100%;
    padding:10px 0;
  }
  
  .collection-list{
    width:100%;
    padding-left:00px;
    .listed-category{
      padding-left:20px;
    }
    .product-grid{
      width:100%;
      padding:0 0px 0 20px;
    }
  }
  
  
}

@media (min-width:480px) and (max-width:767px){
    .product-grid{
      width:50%;
      padding:0 0px 0 20px;
    }
  
  .producer-grid-wrapper{
    padding-left:10px;
  }
  
  .producer-grid{
    width:50%;
    padding:10px 0 10px 10px;
  }
  
  .collection-list{
    width:100%;
    padding-left:0px;
    
    .listed-category{
    padding-left:20px;
    }
    
    .product-grid{
      width:50%;
      padding:0 0px 0 20px;
    }
  }
  
}

@media (min-width:320px) and (max-width:559px){

}

@media (min-width:768px){
.fixed-footer{
  display:none;    
}
}

@media (min-width:768px) and (max-width:1024px){
  .bottom_header{
    .header_social {
      display:none;
    }        
    
    .site-navigation{
    	margin:0;
      
       .navmenu-link{
       	padding:20px 10px;
         margin-right:0;
       }
      
    }
    
    .scroll-nav{
      width:100%;
    }
    
    .site-actions{
      display:none;
    }
    
  }
  
  .banner-container {
    width: 612px;
    height: 315px;
}
  
/*   .heading{
    font-size:17px;
  } */
  
  .product-details-block{
    /*     .product-vendor{
    margin-top:0;
    font-size:13px;
  }
    .product-byline{
    margin-top:0;
    font-size:12px;
  } */

    .wishlist-wrapper{
      .btn-wishlist{        
        min-width:auto;

        .wishlist-text{
          display:none;
        }

        img{
          position:relative;
          left:0px;
        }    
      }
    }

  }
  
  .vendor-section{        
    
    .vendor-video-container{
      position:static;
    }  

    .vendor-video-wrapper{
      position:fixed;
      left:0;
      right:0;
      top:0;
      bottom:0;
      z-index:9998;      
    }
    
    .vendor-video{
      position:absolute;
      z-index:9998;
      left:30px;
      right:0px;
      align-items:center;    
      padding:30px;

      .video-details{       
        .close-video{
          position:relative;
          bottom:-15px;
        }
      }    
    }
    
    .vendor-image-container{
      width:300px;
    }

    .vendor-details-container{
      width:calc(100% - 300px);
    }
  }
  
  .footer-section{

    .bottom-footer{
      
      .page-links{
        width:75%;      
        
        .main-links{
          a{
          	margin-right:10px;
          }
        }
        
      }
  
      .payment-links{
        width:25%;
        text-align:right;
      }
  
      
    }
    
  } 
  
  .manufacturer{
    padding:50px 0 60px 0;        
  }
  
  .producer-grid{
    width:25%;
    float:left;    
  }
  
  .collection-list{
    .product-grid{
      width:50%;
    }
  }
  .product-grid{
    width:33.33%;
  }  
}

@media (min-width:1025px) and (max-width:1400px){
  .results_search{
    .product-form{
      margin-left:0px;
    }
  }

  .collection-list{
    .product-grid{
      //width:33.333%;   
    }  
    .no-border-title{
      padding-left: 20px;
    }
  }

  .product-grid{
    width:25%;
    padding: 0 0px 0 20px;
  }  

}

.disabled .premium-slot.individual-slot , .disabled .individual-slot.free-slot {
  cursor: not-allowed;
  pointer-events: none !important;
  //opacity: 0.3;
  background: transparent;
  color: #c1c1c1;
}

@media (min-width:960px) and (max-width:1024px){
   .collection-list{
    .product-grid{
      width:33.3333%;
    }
  }
}

@media (max-width:1024px){
  .tablet-down--hide{
    display:none;
  }  
}


/* 
   Swatches Styles
*/



.swatch { 
  margin:1em 0; 
}
/* Label */
.swatch .header {
  margin: 0.5em 0;
}
/* Hide radio buttons.*/
.swatch input { 
  display:none;
}
.swatch label {
  /* Rounded corners */
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  /* To give width and height */
  float:left;
  /* Color swatches contain no text so they need to have a width. */
  min-width:50px !important; 
  height:35px !important;
  /* No extra spacing between them */
  margin:0;
  /* The border when the button is not selected */
  border:#ccc 1px solid;
  /* Background color */
  background-color:#ddd;
  /* Styling text */
  font-size:13px;
  text-align:center;
  line-height:35px;
  white-space:nowrap;
  text-transform:uppercase;
}
.swatch-element label { padding:0 10px; }
.color.swatch-element label { padding:0; }
/* Styling selected swatch */
/* Slightly raised */
.swatch input:checked + label {
  -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.8);
  -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.8);
  box-shadow:0px 1px 2px rgba(0,0,0,0.8);
  border-color:transparent;
} 
.swatch .swatch-element {
  float:left;
  -webkit-transform:translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing:antialiased; /* webkit text rendering fix */
  /* Spacing between buttons */
  margin:0px 10px 10px 0;
  /* To position the sold out graphic and tooltip */
  position:relative;
}
/* Image with the cross in it */
.crossed-out { position:absolute; width:100%; height:100%; left:0; top:0; }
.swatch .swatch-element .crossed-out { display:none; }
.swatch .swatch-element.soldout .crossed-out { display:block; }
.swatch .swatch-element.soldout label {
  filter: alpha(opacity=60); /* internet explorer */
  -khtml-opacity: 0.6;      /* khtml, old safari */
  -moz-opacity: 0.6;       /* mozilla, netscape */
  opacity: 0.6;           /* fx, safari, opera */
}
/* Tooltips */
.swatch .tooltip {
  text-align:center;
  background:gray;
  color:#fff;
  bottom:100%;
  padding: 10px;
  display:block;
  position:absolute;
  width:100px;
  left:-23px;
  margin-bottom:15px;
  /* Make it invisible by default */
  filter:alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity:0;
  visibility:hidden;
  /* Animations */
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 10000;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
}
.swatch .tooltip:before {
  bottom:-20px;
  content:" ";
  display:block;
  height:20px;
  left:0;
  position:absolute;
  width:100%;
}
/* CSS triangle */
.swatch .tooltip:after {
  border-left:solid transparent 10px;
  border-right:solid transparent 10px;
  border-top:solid gray 10px;
  bottom:-10px;
  content:" ";
  height:0;
  left:50%;
  margin-left:-13px;
  position:absolute;
  width:0;
}
.swatch .swatch-element:hover .tooltip {
  filter:alpha(opacity=100);
  -khtml-opacity:1;
  -moz-opacity:1;
  opacity:1;
  visibility:visible;
  -webkit-transform:translateY(0px);
     -moz-transform:translateY(0px);
      -ms-transform:translateY(0px);
       -o-transform:translateY(0px);
          transform:translateY(0px);
}
.swatch.error {
  background-color:#E8D2D2!important;
  color:#333!important;
  padding:1em;
  border-radius:5px;
}
.swatch.error p {
  margin:0.7em 0;
}
.swatch.error p:first-child {
  margin-top:0;
}
.swatch.error p:last-child {
  margin-bottom:0;
}
.swatch.error code {
  font-family:monospace;
}

.single-option-selector{
  width: 100%;
  border-radius: 2pt;
  background-color: #e7eaec;
  padding: 5px 10px;
  border: 1px solid #d0d5d9;
  transition:all 0.2s;
  line-height:normal;
  -webkit-appearance:none;
  font-size:11px;
  background-image:url('down-arrow.png');
  background-repeat:no-repeat;
  background-size:15px;
  background-position:right 10px center;
  -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
  
  
  &.open{
  border-radius: 0px;
  }
  
}

.product-variant-radio{
  .selector-wrapper{
    display:none;
  }
}

.variant-wrapper{
  justify-content: space-between;
/*   display: flex; */
  align-items:left;
  overflow:hidden;
}

.price-kg{
  
  .product-variant-radio{  	
    margin-bottom:15px;
    @media (max-width:767px){
      margin-left:0px;
      margin-bottom:0px;
    }
    
  }
  
  .variant-wrapper{
  	justify-content:flex-start;
    margin-right:6px;
    
    
    .variant-radio{
    	margin-right:10px;
    }
    
  }
}

.variant-radio{
  position: relative;
  float: left;
  margin-right:6px;
  margin-bottom: 6px;

  input[type="radio"]{
    display:none;
  }

  label{ 
    cursor:pointer;
    display:inline-block;
    border-radius: 2pt;
    font-size:11px;
    background-color: #e7eaec;
    padding: 5px 7px;
    line-height:normal;
    border: 1px solid #d0d5d9;
    transition: all 0.2s;
  }

  input[type="radio"]:checked {
    & ~ label:before {

    }
  }  

}

input[type="radio"]:checked ~ label{
  border-color:#0c283e;
  color:#0c283e;
}

.product-variant{
  min-height:27px;

  .selector-wrapper{
    display:none;
  }

  .selector-wrapper:first-child{
    display:block;
  }
}

.product-variant-radio{
  min-height:27px;
  
  select{
    height: 0;
    overflow: hidden;
  }
}

.loading{
  display:none;
  width: 15%;
  height: 15%;
  margin: 0 auto;
  background-color: #fff;
  z-index: 99;
}
@media (max-width:768px){
  .loading{
    width: 35%;
    height: 35%;
  }
}
.no_result_search{
  display:none;
}

button.swym-button{
color:#fff !important;
  font-size:11px !important;
}

#mc-embedded-subscribe-form{
position:relative;
}

.error-msg{
  position:absolute;
  bottom:-40px;
  color:red;
}

#swym-plugin-name{
margin:50px auto 20px auto !important;
}

#swym-plugin ul.swym-tabs-nav, #swym-hosted-plugin ul.swym-tabs-nav{
	width:auto !important;
  
  @media (max-width:767px){
  	width:100% !important;
  }
  
}

.ie{
  .producer-image{
  	opacity:0;
  }
}

#delivery-container[style*="bottom"] > div{
  position:absolute;
  bottom:0;
}

.drawer{
  .loading{
  	position: absolute;
    height: 100%;
    width: 100%;        
    background-color:rgba(255,255,255,0.8);
    
    img{
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      position: relative;
    }
    
  }
}

.search-heading{
	position:relative;
  
  .loading-text{
  	position:absolute;
    left:0;
    top:0;
  }
  .loaded-heading{
  	visibility:hidden;
  }  
}

.result-wrapper{
  position:relative;
  clear:both;
  .no_result_search{
  	position:absolute;
    width: 100%;
  }
}

.search-loading{
  position: absolute;  
  height:100%;
  top:0;
  bottom:0;
  right:0;
  left:0;

  img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.oekologo-wrapper{
  position: absolute;
  bottom: 62px;
  right: 10px;
  font-size:0;
}

.oekologo-img{   
  max-height: 18px;
}

.organiclogo-margin{
  margin-left:10px;
}

.euorganiclogo-img{
  max-height: 18px;  
}


.mail-link{
	color: #e69138;
}

.input-field {
	background-color:#fff !important;
}

#shopify-section-faq{
  position:relative !important;
}

@media (min-width:1025px){
  .details-img-grid{
	width:660px;
  }
  
  .details-info-grid{
	width:calc(100% - 660px);
  }
  
}

[class*='producer-byline']{
	min-height:16px;
}

.product-container{
  .product-details-block{
    .add-to-cart-wrapper{
      .qty{
        width: 34px;
      }
    }
  }
}

.product-detail-section{
  .product-grid{
    width: 25%;
  }
}

.calendar-drawer{
  .calendar-body{
    .calendar-timing{
      .fixed-header-calendar{
        height: 49px;
        position: fixed;
        background: #f8f8f8;
        width: 21%;
      }
    }
  }
  
  .calendar-slider{
    .calendar-for{
      position: fixed;
      width: 273px;
      background: #f8f8f8;
      z-index: 1;
    }
    
    .thumb-slider{
      margin-top: 50px;
    }
  }
}

body.overflow-hidden{
  .site-header{
    background-color: transparent;
    z-index: 99999;
    
    .header-container{
      background: #fff;
    }
  }
  
  .search-result-container{
    top: 0;
    padding-top: 132px;
  }
}

.checkout-action.cart-checkout{
  padding: 12px 40px 20px 40px;
  
  .price-goods,.price-delivery{
    p{
      color: #999;
      margin-top: 0;
      font-size: 11px;
      font-family: "hk_grotesklight";
      span{
        font-size: 11px;
        font-family: "hk_grotesklight";
      }
    }
  }
}

#CartDrawer{
  .drawer-body{
    height: calc(100vh - 303px);
  }
}

.product-image{
  height: 420px;
  
  img{
    height: 100%;
  }
  
  .producttext_hex{
    position: absolute;
    top: auto;
    bottom: 10px;
    right: 19px;
    color: #fff;
    font-size: 12px;
    background-color: #eca041;
    padding: 0 14px 0 14px;
    border-radius: 20px;
    height: 30px;
    line-height: 29px;
  }
}
.product-thumb{
  .slick-slide{
    height: 77px;
    width: auto !important;
    img{
      height: 100%;
    }
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}