
<div class="container">
{% include 'breadcrumbs' %}
</div>

<section class="vendor-section">
<div class="container vendor-video-container">
  
  <div class="vendor-video-wrapper">
    <div class="grid vendor-video">
      <div class="video-container" style="background-image:url({{ 'video-preview.png' | asset_url }})">

      </div>
      <div class="grid__item video-details">
        <p class="heading-lg">Film om</p>
        <p class="heading-lg">Jacob & Jakob Icecream</p>
        <p class="video-description">Filmet af Theis Mortensen <br /> Filmet af Theis Mortensen </p>
        <div class="close-video">
          <img src="{{ 'close-black.png' | asset_url }}" />
          <span>Luk film</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid vendor-flex">
    <div class="grid__item vendor-image-container text-center">
      <img src="{{ 'jacob-full.png' | asset_url }}" />
    </div>
    <div class="grid__item vendor-details-container">
      <p class="heading">Jacob & Jakob Icecream</p>
      <p class="vendor_description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      </p>
      <p class="vendor_description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <p class="vendor_description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <p class="vendor_description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <p class="vendor_description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      
      <div class="video-link">
        <div class="play-btn">
        	<img src="{{ 'play.png' | asset_url }}" />        		
        </div>
        <span class="play-divider"></span>
        <div>Se film om Jacob & Jakob Icecream</div>
      </div>
      
    </div>
  </div>
  
</div>
  </section>