
<div class="container">
{% include 'breadcrumbs' %}
</div>

{% assign linklist_collection = collection.handle %}
{% assign flag = 'false' %}
<section class="vendor-section product-detail-section">
<div class="container vendor-video-container">
  
  <div class="vendor-video-wrapper">
    <div class="grid vendor-video">
      <div class="video-container">
		
      </div>
      <div class="grid__item video-details">
        <p class="heading-lg">Film om</p>
        <p class="heading-lg">{{ collection.title }}</p>
<!--         <p class="video-description">Filmet af Theis Mortensen <br /> Filmet af Theis Mortensen </p> -->
        <div class="close-video">
          <img src="{{ 'close-black.png' | asset_img_url:"original" }}">
          <span>Luk film</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid vendor-flex">
    <div class="grid__item vendor-image-container text-center">
      <img src="{{ collection.image | img_url : "master" }}" />
    </div>
    <div class="grid__item vendor-details-container vendor-content">
      <p class="heading">{{ collection.title }}</p>
      <p class="description"></p>
      <div class="video-link">
        <div class="play-btn"><img src="{{ 'play.png' | asset_img_url:"original" }}"></div>
        
        <span class="play-divider"></span>
        <div>Se film om {{ collection.title }}</div>
      </div>
      
    </div>
  </div>
  
</div>
  
  <div  class="container">
    <div class="grid mr-t-50">
      
      <div class="grid__item">
        <nav class="collection-filter filter-menu" style="">
          <h2 class="category-heading bordered-title">{{ collection.title }}</h2>

          <ul class="faq-category-list">
            {% for link in linklists[linklist_collection].links %}
            
                {% assign linkRemove = link.title | split:'_del-' %}
                {% assign linkHandleRemove = link.handle | split:'_del-' %}
            
            	<li>
                  {% assign flag = 'true' %}
                  <a href="#{{linkHandleRemove[0]}}" class="scroll-link" style="cursor: pointer;">{{linkRemove[0]}}</a>
                  <ul class="sub-menu">
                    {% for sub_link in link.links %}
                    <li>
                      <a href="#{{ sub_link.handle }}" class="scroll-link" style="cursor: pointer;">{{ sub_link.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
            {% endfor %}
          </ul>
        </nav>
        
        <div class="filter-main {% unless flag == 'true' %} full-listing{% endunless%}">
          
          <div class="grid" style="overflow:hidden;">
            {% unless collection.handle == 'broed' or collection.handle == 'gront' or collection.handle == 'okologisk-gourmet-is-fra-jacob-jakob-icecream' %}
            {% for link in linklists[linklist_collection].links %}
            
            {% assign linkRemove = link.title | split:'_del-' %}
            {% assign linkHandleRemove = link.handle | split:'_del-' %}
            
            <div class="collection-list individual-faq" id="{{ link.handle }}">


              <div class="featured-heading-wrapper ">
                <p class="heading listed-category pd-l-30 pd-xs-l-5 no-border-title" id="{{linkHandleRemove[0]}}">
                  {{linkRemove[0]}}
                </p>
              </div>


              {% assign handl = link.handle %}
              {%- for product in collections[handl].products -%}
              {% include 'collection-product' %}
              {%- endfor -%}

            </div>

            {% for sub_link in link.links %}
            <div class="collection-list individual-faq" id="{{ sub_link.handle }}">
              <p class="heading listed-category pd-l-30 pd-xs-l-5" id="{{ link.handle }}">
                {{ link.title }}
              </p>
              <div class="featured-heading-wrapper">
                <p class="title listed-category pd-l-30 pd-xs-l-5 text-capitalize no-border-title" id="{{ sub_link.handle }}">
                  {{ sub_link.title }}
                </p>

              </div>
              {% assign handl = sub_link.handle %}
              {%- for product in collections[handl].products -%}
              {% include 'collection-product' %}
              {%- endfor -%}

            </div>

            {% endfor %}
            {% endfor %}
            {% else %}
            <div class="collection-list individual-faq" >

              <div class="featured-heading-wrapper">
                <p class="heading listed-category pd-l-30 pd-xs-l-5 no-border-title" >
                  {{ collection.title }}
                </p>                  
              </div>

              {%- for product in collection.products -%}
              {% include 'collection-product' %}
              {%- endfor -%}

            </div>
            {% endunless %}
          </div>
        </div> 
        <!--       </div> -->

      </div>
    </div>
  </div>
  
  
  <div id="col_vend_desc" style="display:none;">
  	{{ collection.description }}
  </div>
</section>

{% section 'add-collections' %}
