<div class="index-wrapper">
 
  {% comment %}
  <div class="top-banner">
    <p>
      <a href="https://www.gourmetmarked.dk/collections/danske-oste" target="_self">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/1713/4487/files/minibanner-min.png?14673903597518596877" media="(max-width: 520px)">
          <source srcset="https://cdn.shopify.com/s/files/1/1713/4487/files/banner-min.png?14673903597518596877">
          <img src="https://cdn.shopify.com/s/files/1/1713/4487/files/banner-min.png?14673903597518596877" alt="gourmetmarked.dk" style="width:100%;">
        </picture>
      </a>
    </p>
    
    <form action="/search" method="post">
      <input aria-label="{{ 'search.form.title' | t }}" type="text" placeholder="{{ 'search.form.placeholder' | t }}" name="q" value="{{ search.terms | escape }}">
      <input type="submit">
    </form>
    
  </div>
    {% endcomment %}
  {{ content_for_index }}
</div>