{% section 'text-pages-menu' %}

<article class="page">
  {% include 'masthead',
    title: page.title,
    subtitle: page_subtitle
  %}
  
  <section class="faq-section">
    <div class="container">
      <div class="grid">
        <div class="grid__item sm--eight-twelfths md-up--nine-twelfths">
          <h1 class="heading bordered-title mr-t-10">Du er atlid velkommen til at kontakte os</h1>
          {% unless page.content == blank %}
          <div class="page-content">
            {{ page.content }}
          </div>
          {% endunless %}
        </div>
        <div class="grid__item sm--four-twelfths md-up--three-twelfths md-down--hide">          
          {% section 'static-contact-info' %}                    
        </div>
        <div class="grid__item sm--eight-twelfths md-up--nine-twelfths mr-xs-t-20">      
          <div class="page-contact">
            {% form 'contact' %}
            {% if form.posted_successfully? %}
            <p class="success-message">
              {{ 'contact.form.success' | t  }}
            </p>
            {% else %}

            {% if form.errors %}
            {{ form.errors | default_errors }}
            {% endif %}

            <div class="input-wrapper">
              <label for="contact-name">{{ 'contact.form.name' | t }}</label>
              <input
                     id="contact-name"
                     type="text"
                     value="{{ form.name }}"
                     name="contact[name]"
                     class="input-field {% if form.errors contains 'name' %}error{% endif %}">
            </div>

            <div class="input-wrapper">
              <label for="contact-email">{{ 'contact.form.email' | t }}</label>
              <input
                     id="contact-email"
                     type="text"
                     value="{{ form.email }}"
                     name="contact[email]"
                     class="input-field {% if form.errors contains 'email' %}error{% endif %}">
            </div>

            <div class="input-wrapper">
              <label for="contact-email">{{ 'contact.form.phone' | t }}</label>
              <input
                     id="contact-phone"
                     type="tel"
                     value="{{ form.phone }}"
                     name="contact[phone]"
                     class="input-field {% if form.errors contains 'phone' %}error{% endif %}">
            </div>

            <div class="input-wrapper">
              <label for="contact-message">{{ 'contact.form.message' | t }}</label>
              <textarea
                        id="contact-message"
                        name="contact[comments]"
                        class="input-field {% if form.errors contains 'comments' %}error{% endif %}"
                        >{{ form.comments }}</textarea>
            </div>

            <input class="contact-form-submit" type="submit" value="{{ 'contact.form.submit' | t }}">
            {% endif %}
            {% endform %}

</div>
        </div>
    
      </div>
      
       
    </div>
  </section>
    
</article>
