{% section 'text-pages-menu' %}

<article class="page">
  {% include 'masthead', title: page.title %}
<!--   <div class="page-content">
    {{ page.content }}
  </div> -->
</article>

<section class="faq-section">
  <div class="container">
    <div class="grid">
      <div class="grid__item md-up--nine-twelfths">
        {% section 'faq' %}
      </div>
      <div class="grid__item md-up--three-twelfths md-down--hide ps-relative">
        <div class="right-filter-menu">
          <h3 class="title bordered-title know mr-t-20 mr-b-0">Mangler du stadig svar?</h3>
          <p class="description-sm">Hvis du ikke kan finde svar på dine spørgsmål, er du meget velkommen til at sende os en email.</p>          
          <a href="mailto:kontakt@gourmetmarked.dk"><h2 class="faq-heading">kontakt@gourmetmarked.dk</h2></a>
        </div>
      </div>
    </div>
  </div>
</section>
