<article class="page">
  {% include 'masthead', title: page.title %}
</article>

<section class="page-content-section">
  <div class="container">
    <div class="grid">
      <div class="grid__item">
        <div class="page-content">
<!--           {{ page.content }} -->
        </div>      
      </div>
    </div>
  </div>
</section>